Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

test(js-watcher): add coverage for instrumentation sync (#1066)
  ecosystem-automation/js-instrumentation-watcher/tests/test_instrumentation_sync.py
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/filelogreceiver-eb653a39f3b2.md
Due: none

fix agent negotiation
  docs/seo-and-agent-delivery.md
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

alias
  docs/AGENT_READINESS.md
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/scripts/generate-agent-docs.test.ts
  ecosystem-explorer/src/lib/search/search-index.test.ts
  ecosystem-explorer/src/lib/search/sources/java-agent.test.ts
  ecosystem-explorer/src/lib/search/sources/java-agent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Apply batched suggestions from code review
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/src/lib/search/sources/java-agent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

copilot review and additional tests
  .github/workflows/build-and-test.yml
  docs/seo-and-agent-delivery.md
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.dist.test.ts
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
  ecosystem-explorer/package.json
  ecosystem-explorer/vitest.dist.config.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

copilot review
  docs/seo-and-agent-delivery.md
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.dist.test.ts
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

codeql
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.dist.test.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (cee398c)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (8c8ca5a)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (3d27314)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (f83d73a)
  main/desktop-dark-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

Fix lockfile maintenance
  .github/renovate.json5
  netlify.toml
Due: none

Remove 'lockfileUpdate' from Renovate configuration
  .github/renovate.json5
Due: none

format
  .github/renovate.json5
Due: none

docs(84): refresh v1 architecture review after layout merge
  projects/84-ui-ux-design/v1-architecture-plan.md
  projects/84-ui-ux-design/v1-architecture-review.html
Due: none

chore: update main screenshot baseline (c84c26a)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

fix(v1): preserve Collector release navigation
  ecosystem-explorer/src/v1/V1App.test.tsx
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/src/v1/components/detail/tabs.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
  ecosystem-explorer/src/v1/features/list/list-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.tsx
  ecosystem-explorer/src/v1/lib/collector-release.test.ts
  ecosystem-explorer/src/v1/lib/collector-release.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): stabilize responsive filter drawer
  ecosystem-explorer/src/v1/components/list/facet-panel.test.tsx
  ecosystem-explorer/src/v1/components/list/facet-panel.tsx
  ecosystem-explorer/src/v1/styles/facet-panel.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(theme): honor selected mode in dark utilities
  ecosystem-explorer/src/styles/index.css
  ecosystem-explorer/src/theme-context.test.tsx
  ecosystem-explorer/src/theme-context.tsx
  ecosystem-explorer/src/theme-rendering.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(theme): remove unused palette mirror
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/src/themes.test.ts
  ecosystem-explorer/src/themes.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(acceptance): validate app mode and required states
  .github/workflows/screenshots-capture.yml
  ecosystem-explorer/scripts/acceptance.mjs
  ecosystem-explorer/scripts/acceptance.test.mjs
  ecosystem-explorer/scripts/generate-test-config.mjs
  ecosystem-explorer/scripts/take-screenshots.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

docs(theme): point color-token references at tokens.css
  .github/instructions/typescript-frontend.instructions.md
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

refactor(v1): share tab id guard and restore sibling imports
  ecosystem-explorer/src/theme-context.tsx
  ecosystem-explorer/src/v1/components/detail/tabs.tsx
  ecosystem-explorer/src/v1/components/list/facet-panel.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
  ecosystem-explorer/src/v1/lib/collector-release.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

ci(acceptance): set app mode explicitly per workflow
  .github/workflows/nightly-declarative-config-test.yml
  .github/workflows/screenshots-baseline.yml
Due: none

docs: update screenshots for PR #1083
  1083/desktop-dark-detail-configuration.png
  1083/desktop-dark-detail-details.png
  1083/desktop-dark-detail-telemetry.png
  1083/desktop-dark-home.png
  1083/desktop-light-detail-configuration.png
  1083/desktop-light-detail-telemetry.png
  1083/desktop-light-home.png
  1083/diffs/main/desktop-dark-detail-configuration.png
  1083/diffs/main/desktop-dark-detail-details.png
  1083/diffs/main/desktop-dark-detail-telemetry.png
  1083/diffs/main/desktop-light-detail-configuration.png
  1083/diffs/main/desktop-light-detail-telemetry.png
  1083/diffs/main/mobile-dark-detail-configuration.png
  1083/diffs/main/mobile-dark-detail-details.png
  1083/diffs/main/mobile-light-detail-configuration.png
  1083/diffs/main/tablet-dark-detail-configuration.png
  1083/diffs/main/tablet-dark-detail-telemetry.png
  1083/diffs/main/tablet-light-detail-configuration.png
  1083/diffs/main/tablet-light-detail-details.png
  1083/diffs/main/tablet-light-detail-telemetry.png
  1083/mobile-dark-detail-configuration.png
  1083/mobile-dark-detail-details.png
  1083/mobile-dark-home.png
  1083/mobile-light-detail-configuration.png
  1083/mobile-light-home.png
  1083/tablet-dark-detail-configuration.png
  1083/tablet-dark-detail-telemetry.png
  1083/tablet-dark-home.png
  1083/tablet-light-detail-configuration.png
  1083/tablet-light-detail-details.png
  1083/tablet-light-detail-telemetry.png
  1083/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/signingprocessor-354dda5d2ffe.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/processor.yaml
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/cassandra-4.4-390942d47a0f.md
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/elasticsearch-rest-7.0-87370a568a3d.md
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/mongo-3.1-a3a14787cef1.md
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
Due: none

Update registry inventory
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/dotnet/v1.18.1-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/mysqlreceiver-c453974a963c.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/opampextension-35325f1835c9.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/oracledbreceiver-122eb39222d1.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/sqlserverreceiver-87f6ec75d660.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
Due: none

test(js-watcher): cover remaining package_parser branches
  ecosystem-automation/js-instrumentation-watcher/tests/test_package_parser.py
Due: none

Update registry inventory
  ecosystem-registry/configuration/v1.2.0/common.yaml
  ecosystem-registry/configuration/v1.2.0/instrumentation.yaml
  ecosystem-registry/configuration/v1.2.0/logger_provider.yaml
  ecosystem-registry/configuration/v1.2.0/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.2.0/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.2.0/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.2.0/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.2.0/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.2.0/meta_schema_language_python.yaml
  ecosystem-registry/configuration/v1.2.0/meter_provider.yaml
  ecosystem-registry/configuration/v1.2.0/opentelemetry_configuration.yaml
  ecosystem-registry/configuration/v1.2.0/propagator.yaml
  ecosystem-registry/configuration/v1.2.0/resource.yaml
  ecosystem-registry/configuration/v1.2.0/tracer_provider.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/common.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/logger_provider.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_python.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meter_provider.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/opentelemetry_configuration.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/propagator.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/resource.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/tracer_provider.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/fluentforwardreceiver-0969e2de1b59.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/kafkareceiver-b5f319c7436d.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/loadbalancingexporter-bd95fee0a969.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/mezmoexporter-8d4f10fbf9f5.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
Due: none
