Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: make docs string
  ecosystem-automation/golang-instrumentation-watcher/Makefile
Due: none

docs(golang-watcher): document otelhttp exemplar harness
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/doc.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/main.go
Due: none

refactor(golang-watcher): drop weaver codegen residue
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/README.md
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/doc.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/metadata/otelhttp.yaml
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/metadata/otelslog.yaml
  ecosystem-automation/golang-instrumentation-watcher/metadata/metadata_test.go
Due: none

cleanup instrumentation/registry/signals.yaml
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/registry/signals.yaml
Due: none

style: format instrumentation README for prettier and markdownlint
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/README.md
Due: none

Potential fix for pull request finding
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker.go
Due: none

go.mod: pin go toolchain to 1.26
  ecosystem-automation/golang-instrumentation-watcher/go.mod
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/go.mod
Due: none

drop ecosystem-automation/golang-instrumentation-watcher/scripts/upsert-pr-comment.sh
  ecosystem-automation/golang-instrumentation-watcher/scripts/upsert-pr-comment.sh
Due: none

gitignore .repo
  ecosystem-automation/golang-instrumentation-watcher/.gitignore
Due: none

fix(logging): inject LOG_LEVEL env override
  ecosystem-automation/golang-instrumentation-watcher/conf/log.go
Due: none

Update registry inventory
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meter_provider.yaml
  ecosystem-registry/java/javaagent/v2.29.1-SNAPSHOT/instrumentation.yaml
Due: none

feat(java-agent): add Spring Boot starter target mode
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/target-selector.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(js): address review feedback on instrumentation watcher
  .github/workflows/build-and-test.yml
  ecosystem-automation/js-instrumentation-watcher/pyproject.toml
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/__init__.py
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/__main__.py
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/main.py
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/package_parser.py
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/package_scanner.py
  ecosystem-automation/js-instrumentation-watcher/tests/test_package_parser.py
  ecosystem-automation/js-instrumentation-watcher/tests/test_package_scanner.py
  uv.lock
Due: none

style: format instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: add declarative config acceptance test for issue #662
  .github/workflows/nightly-declarative-config-test.yml
  .gitignore
  acceptance-tests/declarative-config-acceptance/docker-compose.yml
  acceptance-tests/declarative-config-acceptance/oats.yaml
  ecosystem-explorer/scripts/generate-test-config.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix: resolve zizmor script injection warning
  .github/workflows/nightly-declarative-config-test.yml
Due: none

fix: restrict permissions to job level and add comments for zizmor
  .github/workflows/nightly-declarative-config-test.yml
Due: none

fix: implement PR review feedback from Copilot
  .github/workflows/nightly-declarative-config-test.yml
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/scripts/generate-test-config.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (95f90a3)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (900a77c)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (b6b643c)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (e8ee5ad)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

fix mock
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (4c71749)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

fix: use route parameter as telemetry comparison identifier (#723)
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (9fd85cd)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

feat(i18n): show configuration options count badge alongside instrumentation status
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (198a84b)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore(i18n): remove orphan locale keys from java-agent.json
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

style: format instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Address mentor feedback for PR 504: update diff logic, i18n, and a11y
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.test.ts
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

translate aria labels, remove ff
  .markdownlint-cli2.yaml
  ecosystem-explorer/README.md
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/lib/feature-flags.ts
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/src/v1/features/ecosystem/configs.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): implement core release comparison engine (Phase 2) (#504)
  .markdownlint-cli2.yaml
  ecosystem-explorer/README.md
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.test.ts
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/lib/feature-flags.ts
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/src/v1/features/ecosystem/configs.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (584bdc1)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

Fix warnings from tests
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Potential fix for pull request finding
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (02dfb4a)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

fix(config-builder): Improve instrumentation toggle UX and state clarity (#712)
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.test.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/hooks/use-customization-status.test.ts
  ecosystem-explorer/src/hooks/use-customization-status.ts
  ecosystem-explorer/src/hooks/use-customized-modules.test.ts
  ecosystem-explorer/src/hooks/use-customized-modules.ts
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-expand-collapse.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (7cf1abb)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Potential fix for pull request finding
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
