Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.155.0/connector.yaml
  ecosystem-registry/collector/core/v0.155.0/exporter.yaml
  ecosystem-registry/collector/core/v0.155.0/extension.yaml
  ecosystem-registry/collector/core/v0.155.0/processor.yaml
  ecosystem-registry/collector/core/v0.155.0/receiver.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/cafe11f1474d.yaml
Due: none

feat(java-agent): rewrite ${VAR:-default} → ${VAR:default} for spring_starter target
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix distribution node bug and move helper text into file comment
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): add Spring Boot starter target mode (#722)
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/target-selector.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (7213470)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

add guard and fix dependency
  ecosystem-automation/js-instrumentation-watcher/pyproject.toml
  ecosystem-automation/js-instrumentation-watcher/src/js_instrumentation_watcher/package_parser.py
  ecosystem-automation/js-instrumentation-watcher/tests/test_package_parser.py
  uv.lock
Due: none

add python linting to ci and fix errors
  .github/workflows/build-and-test.yml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/declarative_name_corrections.py
  ecosystem-automation/explorer-db-builder/tests/test_declarative_name_corrections.py
  ecosystem-automation/js-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/v1-registry-sync/tests/test_reader.py
  ecosystem-automation/v1-registry-sync/tests/test_reporter.py
  pyproject.toml
Due: none

Potential fix for pull request finding
  .github/workflows/build-and-test.yml
Due: none

cap config schema
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/lib/config-schema-version.test.ts
  ecosystem-explorer/src/lib/config-schema-version.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

updates
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/lib/config-schema-version.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Potential fix for pull request finding
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix integration test
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.155.0/connector.yaml
  ecosystem-registry/collector/contrib/v0.155.0/exporter.yaml
  ecosystem-registry/collector/contrib/v0.155.0/extension.yaml
  ecosystem-registry/collector/contrib/v0.155.0/processor.yaml
  ecosystem-registry/collector/contrib/v0.155.0/receiver.yaml
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.155.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/5f02f63b26d4.yaml
  ecosystem-registry/dotnet/v1.16.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.29.1-SNAPSHOT/library_readmes/thrift-0.13-a5617c749e0e.md
Due: none

Address mentor feedback from jaydeluca
  .github/workflows/nightly-declarative-config-test.yml
  acceptance-tests/declarative-config-acceptance/docker-compose.yml
  acceptance-tests/declarative-config-acceptance/oats.yaml
  ecosystem-explorer/scripts/generate-test-config.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (b17a2a3)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (966ffbb)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

ci: add db-builder integration tests
  .github/workflows/db-builder-integration.yml
Due: none

test: fix regex word boundary in config builder integration tests
  .github/workflows/db-builder-integration.yml
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: format telemetry comparison and release diff files
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/metric-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/span-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/java/javaagent/v2.29.1-SNAPSHOT/instrumentation.yaml
Due: none

chore: update main screenshot baseline (a0951ce)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

fix(v1): address ecosystem landing code review feedback
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
  ecosystem-explorer/src/v1/features/ecosystem/use-ecosystem-landing-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #711
  711/desktop-dark-detail-configuration.png
  711/desktop-dark-detail-telemetry.png
  711/desktop-dark-home.png
  711/desktop-light-collector-detail.png
  711/desktop-light-detail-configuration.png
  711/desktop-light-home.png
  711/diffs/main/desktop-dark-detail-configuration.png
  711/diffs/main/desktop-dark-detail-telemetry.png
  711/diffs/main/desktop-light-detail-configuration.png
  711/diffs/main/desktop-light-detail-telemetry.png
  711/diffs/main/mobile-light-detail-configuration.png
  711/diffs/main/tablet-dark-detail-configuration.png
  711/diffs/main/tablet-light-detail-configuration.png
  711/diffs/main/tablet-light-detail-telemetry.png
  711/mobile-dark-home.png
  711/mobile-light-detail-configuration.png
  711/mobile-light-home.png
  711/tablet-dark-detail-configuration.png
  711/tablet-dark-detail-telemetry.png
  711/tablet-light-collector-detail.png
  711/tablet-light-detail-configuration.png
  711/tablet-light-detail-telemetry.png
  711/tablet-light-home.png
Due: none

chore: fix file format
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #711
  711/desktop-dark-detail-configuration.png
  711/desktop-dark-detail-telemetry.png
  711/desktop-dark-home.png
  711/desktop-light-detail-configuration.png
  711/desktop-light-home.png
  711/diffs/main/desktop-dark-detail-configuration.png
  711/diffs/main/desktop-dark-detail-telemetry.png
  711/diffs/main/desktop-light-detail-configuration.png
  711/diffs/main/mobile-light-detail-configuration.png
  711/diffs/main/mobile-light-detail-telemetry.png
  711/diffs/main/tablet-dark-detail-configuration.png
  711/diffs/main/tablet-dark-detail-telemetry.png
  711/diffs/main/tablet-light-detail-configuration.png
  711/diffs/main/tablet-light-detail-telemetry.png
  711/mobile-dark-home.png
  711/mobile-light-detail-configuration.png
  711/mobile-light-detail-telemetry.png
  711/mobile-light-home.png
  711/tablet-dark-collector-detail.png
  711/tablet-dark-detail-configuration.png
  711/tablet-dark-detail-telemetry.png
  711/tablet-dark-home.png
  711/tablet-light-collector-detail.png
  711/tablet-light-detail-configuration.png
  711/tablet-light-detail-telemetry.png
  711/tablet-light-home.png
Due: none

feat(ecosystem-automation/golang): add AST-based telemetry enrichment (T of ETL)
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/go.mod
  ecosystem-automation/golang-instrumentation-watcher/go.sum
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/semconv.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/manager.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/manager_test.go
Due: none

fix(ecosystem-automation/golang): address Copilot review feedback
  .gitignore
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/go.mod
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/go.mod
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker_test.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/manager.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
Due: none

refactor(ecosystem-automation/golang): move otelhttp exemplar to feat/golang-watcher-instrumentation
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/doc.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/go.mod
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/go.sum
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/main.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/otelhttp/otel.go
Due: none

refactor(ecosystem-automation/golang): move analyzer, semconv, and integration test to feat/golang-watcher-instrumentation
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/instrumentation_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/semconv.go
Due: none

refactor(ecosystem-automation/golang): go doc sweep, table-driven tests, fix newLog level override bug
  ecosystem-automation/golang-instrumentation-watcher/conf/env_test.go
  ecosystem-automation/golang-instrumentation-watcher/conf/log.go
  ecosystem-automation/golang-instrumentation-watcher/conf/log_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker_test.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/manager_test.go
  ecosystem-automation/golang-instrumentation-watcher/metadata/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo_test.go
Due: none

refactor(ecosystem-automation/golang): strip T-step code from extract branch
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo_test.go
Due: none

feat(v1): add a language switcher to the v1 navbar
  ecosystem-explorer/src/v1/components/icons/bs-icon-translate.tsx
  ecosystem-explorer/src/v1/components/layout/nav-bar.test.tsx
  ecosystem-explorer/src/v1/components/layout/nav-bar.tsx
  ecosystem-explorer/src/v1/components/ui/language-toggle.test.tsx
  ecosystem-explorer/src/v1/components/ui/language-toggle.tsx
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/language-toggle.css
  ecosystem-explorer/src/v1/styles/navbar.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (b4dfd38)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Documentation refresh
  .github/instructions/github-actions.instructions.md
  .github/instructions/python-watchers.instructions.md
  .github/instructions/registry.instructions.md
  docs/architecture-overview.md
  docs/registry-structure.md
  docs/screenshots-workflow.md
  ecosystem-automation/AGENTS.md
  ecosystem-automation/README.md
  ecosystem-automation/js-instrumentation-watcher/README.md
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (fffdac9)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-list.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-list.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/desktop-light-instrumentation-list.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-collector-list.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-collector-detail.png
  main/tablet-light-collector-list.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
Due: none

chore: update main screenshot baseline (4f9dcbd)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (e7eef89)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none
