Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

feat(v1): add Collector and Java Agent landing pages
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/src/v1/features/ecosystem/collector-landing.tsx
  ecosystem-explorer/src/v1/features/ecosystem/configs.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
  ecosystem-explorer/src/v1/features/ecosystem/java-agent-landing.tsx
  ecosystem-explorer/src/v1/features/ecosystem/types.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): use Link for internal ecosystem CTAs, add noreferrer
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): repair Java Agent deep-links and trim unused EcosystemConfig fields
  ecosystem-explorer/src/v1/features/ecosystem/configs.tsx
  ecosystem-explorer/src/v1/features/ecosystem/types.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meter_provider.yaml
  ecosystem-registry/dotnet/v1.16.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
Due: none

Address accessibility and formatting feedback
  ecosystem-explorer/src/components/ui/detail-card.tsx
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/java-agent/components/attribute-table.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/java-agent-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/styles/index.css
  ecosystem-explorer/src/styles/tokens.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix missing light theme code preview tokens
  ecosystem-explorer/src/styles/tokens.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

Improve light mode visual hierarchy and UI consistency
  ecosystem-explorer/src/components/layout/footer.tsx
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/components/ui/detail-card.tsx
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  ecosystem-explorer/src/features/java-agent/components/attribute-table.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/section-card-shell.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-agent-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/styles/filter-styles.ts
  ecosystem-explorer/src/styles/index.css
  ecosystem-explorer/src/styles/tokens.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (4aad526)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (17d93e6)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

docs: update NEXT-STEPS.md
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

docs: reconcile roadmap with Phase 3 completion + gap audit
  projects/84-ui-ux-design/02-ecosystem-landing.md
  projects/84-ui-ux-design/NEXT-STEPS.md
  projects/84-ui-ux-design/_index.md
Due: none

feat(v1): wire ecosystem landing counts and release card to live data
  ecosystem-explorer/src/v1/features/ecosystem/configs.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
  ecosystem-explorer/src/v1/features/ecosystem/types.ts
  ecosystem-explorer/src/v1/features/ecosystem/use-ecosystem-landing-data.test.ts
  ecosystem-explorer/src/v1/features/ecosystem/use-ecosystem-landing-data.ts
  ecosystem-explorer/src/v1/styles/release-card.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): move ecosystem landing copy into i18next namespaces
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/v1/features/ecosystem/configs.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): count the collector deprecated delta between versions, not as a total
  ecosystem-explorer/src/v1/features/ecosystem/use-ecosystem-landing-data.test.ts
  ecosystem-explorer/src/v1/features/ecosystem/use-ecosystem-landing-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): split ecosystem configs into per-ecosystem files
  ecosystem-explorer/src/v1/features/ecosystem/collector-config.tsx
  ecosystem-explorer/src/v1/features/ecosystem/collector-landing.tsx
  ecosystem-explorer/src/v1/features/ecosystem/java-agent-config.tsx
  ecosystem-explorer/src/v1/features/ecosystem/java-agent-landing.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #711
  711/desktop-dark-collector-detail.png
  711/desktop-dark-detail-configuration.png
  711/desktop-dark-home.png
  711/desktop-light-collector-detail.png
  711/desktop-light-detail-telemetry.png
  711/desktop-light-home.png
  711/diffs/main/desktop-dark-detail-configuration.png
  711/diffs/main/desktop-light-detail-telemetry.png
  711/diffs/main/mobile-light-detail-telemetry.png
  711/diffs/main/tablet-dark-detail-configuration.png
  711/diffs/main/tablet-light-detail-telemetry.png
  711/mobile-dark-home.png
  711/mobile-light-detail-telemetry.png
  711/mobile-light-home.png
  711/tablet-dark-detail-configuration.png
  711/tablet-dark-home.png
  711/tablet-light-detail-telemetry.png
Due: none

chore: update main screenshot baseline (3084552)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (b7d6031)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

test(config-builder): update integration tests to match new customization flow and row structure
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-expand-collapse.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): resolve Copilot reviews on state pruning and customization counting
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-customized-modules.test.ts
  ecosystem-explorer/src/hooks/use-customized-modules.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(i18n): translate hardcoded strings in java-agent config-field renderers
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): resolve accessibility and unused prop issues in InstrumentationRow
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs(i18n): document i18n patterns in AGENTS.md and frontend-architecture.md
  CONTRIBUTING.md
  docs/architecture-overview.md
  docs/frontend-architecture.md
  ecosystem-explorer/AGENTS.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix(i18n): use translated 1-based aria-labels for key-value map inputs
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(yaml-preview): change scrollIntoView to scrollBy to avoid scrolling viewport
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add aria labels
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (893658c)
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-home.png
Due: none

feat(i18n): remove I18N feature flag, make language switcher always active
  docs/frontend-architecture.md
  ecosystem-explorer/.env.development
  ecosystem-explorer/.env.test
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/i18n/config.ts
  ecosystem-explorer/src/lib/feature-flags.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(i18n): constrain language detection to supported base locales
  ecosystem-explorer/src/i18n/config.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (c2f891c)
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

ci: omit ecosystem-automation/golang-instrumentation-watcher
  pyproject.toml
Due: none

fix: exclude golang watcher from uv workspace glob
  pyproject.toml
Due: none

style: prettier-format go-watcher READMEs and ignore transient dirs
  .prettierignore
  ecosystem-automation/golang-instrumentation-watcher/README.md
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/README.md
Due: none

docs(golang-watcher): rewrite README as a developer guide
  ecosystem-automation/golang-instrumentation-watcher/README.md
Due: none

docs(golang-watcher): document all exports and gate integration tests
  ecosystem-automation/golang-instrumentation-watcher/Makefile
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/conf/env.go
  ecosystem-automation/golang-instrumentation-watcher/conf/log.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/instrumentation_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/schema.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/semconv.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/version.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/hash.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/manager.go
  ecosystem-automation/golang-instrumentation-watcher/inventory/version.go
  ecosystem-automation/golang-instrumentation-watcher/metadata/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/repo/integration_test.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
Due: none
