Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Add shared zizmor workflow
  .github/workflows/zizmor.yml
Due: none

ci(react-doctor): add advisory PR scan workflow
  .github/workflows/react-doctor.yml
Due: none

fix(react-doctor): scope permissions to the job and name it
  .github/workflows/react-doctor.yml
Due: none

fixed structured_list missing for instrumentation default entries
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
  ecosystem-explorer/src/lib/declarative-name.test.ts
  ecosystem-explorer/src/lib/declarative-name.ts
  ecosystem-explorer/src/lib/instrumentation-default-entries.test.ts
  ecosystem-explorer/src/lib/instrumentation-default-entries.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed SET_OVERRIDE and dropped all of distribution
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed CI error
  ecosystem-explorer/src/lib/declarative-name.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

addressed feedbacks and added tests
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/lib/instrumentation-default-entries.test.ts
  ecosystem-explorer/src/lib/instrumentation-default-entries.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed CI errors
  ecosystem-explorer/src/test/integration/configuration-builder-actions.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (fbb7a7f)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

fix linitings in the ecosystem-mapping-guide.md
  docs/ecosystem-mapping-guide.md
Due: none

fix linting in docs/README.md
  docs/README.md
Due: none

fix: rewrap long lines to satisfy MD013 line-length
  docs/README.md
  docs/ecosystem-mapping-guide.md
Due: none

fix: apply Prettier formatting to ecosystem-mapping-guide.md
  docs/ecosystem-mapping-guide.md
Due: none

docs: add phase 1 (research) content for ecosystem mapping guide (#416)
  docs/ecosystem-mapping-guide.md
  docs/ecosystem-mapping-research.md
Due: none

docs: incorporate lessons from Java metadata project blog posts (#416)
  docs/ecosystem-mapping-research.md
Due: none

docs: drop personal blog links, keep the findings inline
  docs/ecosystem-mapping-research.md
Due: none

fix(explorer): wire the v1 home page and shared chrome up to i18next
  ecosystem-explorer/public/locales/en/home.json
  ecosystem-explorer/public/locales/en/layout.json
  ecosystem-explorer/public/locales/es/home.json
  ecosystem-explorer/public/locales/es/layout.json
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/lib/yaml-highlight.ts
  ecosystem-explorer/src/types/javaagent.ts
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.tsx
  ecosystem-explorer/src/v1/components/home/global-search.tsx
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.tsx
  ecosystem-explorer/src/v1/components/home/signals-row.tsx
  ecosystem-explorer/src/v1/components/home/stats-band.tsx
  ecosystem-explorer/src/v1/components/layout/cncf-callout.tsx
  ecosystem-explorer/src/v1/components/layout/footer.tsx
  ecosystem-explorer/src/v1/components/layout/nav-bar.tsx
  ecosystem-explorer/src/v1/components/layout/sub-nav.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/datadogreceiver-e36d96b3e05f.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-24074d5a0c9b.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/c3p0-0.9-0bbe5ea098b1.md
Due: none

chore: update main screenshot baseline (28abb08)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

feat(explorer-db-builder): pass through collector telemetry metadata
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_transformer.py
Due: none

chore: update main screenshot baseline (a9e1a15)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

feat(collector): add internal telemetry version comparison
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/src/features/collector/collector-detail-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-telemetry-tab.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/attribute-diff-list.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/diff-results-section.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/metric-diff-card.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/telemetry-comparison-section.test.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/telemetry-comparison-section.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/version-selector-panel.tsx
  ecosystem-explorer/src/features/collector/hooks/use-telemetry-comparison.test.ts
  ecosystem-explorer/src/features/collector/hooks/use-telemetry-comparison.ts
  ecosystem-explorer/src/features/collector/utils/metric-type.test.ts
  ecosystem-explorer/src/features/collector/utils/metric-type.ts
  ecosystem-explorer/src/features/collector/utils/telemetry-diff.test.ts
  ecosystem-explorer/src/features/collector/utils/telemetry-diff.ts
  ecosystem-explorer/src/types/collector.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (4f4ab4d)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/dynamicsamplingprocessor-dc12d2e63bf5.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/receivercreator-7bab3b1e88da.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/instrumentation.yaml
Due: none

chore: fixed formatting issues
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/lib/yaml-highlight.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: restore em-dash/en-dashes
  ecosystem-explorer/public/locales/en/layout.json
  ecosystem-explorer/public/locales/es/layout.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

docs: remove legacy registry research from worked examples
  docs/ecosystem-mapping-research.md
Due: none

Apply suggestions from code review
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_transformer.py
Due: none

fix: addressed copilot reviews
  ecosystem-explorer/public/locales/en/home.json
  ecosystem-explorer/public/locales/es/home.json
  ecosystem-explorer/public/locales/es/layout.json
  ecosystem-explorer/src/v1/components/home/global-search.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(collector): normalize deprecated stability filtering
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(collector): expose deprecated components
  ecosystem-automation/explorer-db-builder/README.md
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_database_writer.py
  ecosystem-explorer/public/data/collector/deprecations-index.json
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/en/list.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/locales/es/list.json
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.test.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
  ecosystem-explorer/src/hooks/use-collector-data.test.ts
  ecosystem-explorer/src/hooks/use-collector-data.ts
  ecosystem-explorer/src/lib/api/collector-data.test.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/types/collector.ts
  ecosystem-explorer/src/v1/components/list/facet-panel.tsx
  ecosystem-explorer/src/v1/components/list/views.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
  ecosystem-explorer/src/v1/features/ecosystem/collector-config.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address review feedback
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/en/list.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/locales/es/list.json
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.test.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
  ecosystem-explorer/src/v1/components/list/views.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: add user interview synthesis
  projects/ux-research-and-info-arc/user-interview-synthesis.md
Due: none

style: format user interview synthesis
  projects/ux-research-and-info-arc/user-interview-synthesis.md
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/azuremonitorexporter-0e879bf7758d.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.17.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/spring-webflux-5.3-4c5fcd44b987.md
Due: none

feat(go-watcher): add support for scraping metadata.yaml across multiple repositories
  ecosystem-automation/golang-instrumentation-watcher/README.md
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/README.md
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/version.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/version_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker_test.go
  ecosystem-automation/golang-instrumentation-watcher/metadata/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo_test.go
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
