Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: expand/collapse all recursively in SDK tab and all module rows in Instrumentation tab
  ecosystem-explorer/src/features/java-agent/configuration/components/group-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/spring-kafka-2.7-b6cf57901b0f.md
Due: none

fix(config-builder): make useSectionExpansion safe outside provider context
  ecosystem-explorer/src/features/java-agent/configuration/components/section-expansion-context.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (0219efe)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

fix article
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (1699bab)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-light-home.png
  main/desktop-light-instrumentation-list.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-dark-instrumentation-list.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
Due: none

chore: update main screenshot baseline (a3b920e)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (bf16ef6)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
Due: none

feat(v1): add ReleaseCard ecosystem-landing component (Phase 3 - PR 2)
  ecosystem-explorer/public/locales/en/ecosystem.json
  ecosystem-explorer/public/locales/es/ecosystem.json
  ecosystem-explorer/src/i18n/config.ts
  ecosystem-explorer/src/test/setup.ts
  ecosystem-explorer/src/v1/components/ecosystem/release-card.test.tsx
  ecosystem-explorer/src/v1/components/ecosystem/release-card.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/release-card.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): address review on ReleaseCard (Phase 3 - PR 2)
  ecosystem-explorer/public/locales/en/ecosystem.json
  ecosystem-explorer/public/locales/es/ecosystem.json
  ecosystem-explorer/src/v1/components/ecosystem/release-card.tsx
  ecosystem-explorer/src/v1/styles/release-card.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (10c89e3)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

feat(v1): add PipelineAnatomy ecosystem-landing component (Phase 3 - PR 3)
  ecosystem-explorer/public/locales/en/ecosystem.json
  ecosystem-explorer/public/locales/es/ecosystem.json
  ecosystem-explorer/src/v1/components/ecosystem/pipeline-anatomy.test.tsx
  ecosystem-explorer/src/v1/components/ecosystem/pipeline-anatomy.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/pipeline-anatomy.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): drop redundant grid media query on PipelineAnatomy (Phase 3 - PR 3)
  ecosystem-explorer/src/v1/styles/pipeline-anatomy.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

feat(v1): add PipelineAnatomy ecosystem-landing component (Phase 3 - PR 3) (#687)
  ecosystem-explorer/public/locales/en/ecosystem.json
  ecosystem-explorer/public/locales/es/ecosystem.json
  ecosystem-explorer/src/v1/components/ecosystem/pipeline-anatomy.test.tsx
  ecosystem-explorer/src/v1/components/ecosystem/pipeline-anatomy.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/pipeline-anatomy.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (ed54c00)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-dev-components.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

fix collector watcher backfill
  .github/workflows/collector-schema-backfill.yml
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
  ecosystem-automation/collector-watcher/src/collector_watcher/schema_copier.py
  ecosystem-automation/collector-watcher/tests/test_collector_sync.py
  ecosystem-automation/collector-watcher/tests/test_schema_copier.py
  ecosystem-automation/collector-watcher/tests/test_version_detector.py
  ecosystem-automation/watcher-common/src/watcher_common/version_detector.py
Due: none

feat: scroll highlighted YAML section into view
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

update action
  .github/workflows/regenerate-collector-registry.yml
Due: none

Potential fix for pull request finding
  ecosystem-automation/watcher-common/src/watcher_common/version_detector.py
Due: none

fix(tests): resolve duplicate import and restore Element mocks safely
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: format yaml-code-block.tsx with prettier
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(config-builder): expand/collapse all reaches every nested section
  ecosystem-explorer/src/features/java-agent/configuration/components/general-section-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/group-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/list-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/plugin-select-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/schema-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/section-expansion-context.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/section-expansion-context.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/union-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-expand-collapse.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (63bd564)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

cache calls
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
Due: none

feat(v1): add QuickEntryRow ecosystem-landing component (Phase 3 - PR 4)
  ecosystem-explorer/public/locales/en/ecosystem.json
  ecosystem-explorer/public/locales/es/ecosystem.json
  ecosystem-explorer/src/v1/components/ecosystem/quick-entry-row.test.tsx
  ecosystem-explorer/src/v1/components/ecosystem/quick-entry-row.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/quick-entry-row.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #688
  688/desktop-dark-collector-detail.png
  688/desktop-dark-detail-telemetry.png
  688/desktop-dark-dev-components.png
  688/desktop-dark-home.png
  688/desktop-light-detail-telemetry.png
  688/desktop-light-dev-components.png
  688/desktop-light-home.png
  688/diffs/main/desktop-dark-detail-configuration.png
  688/diffs/main/desktop-light-detail-telemetry.png
  688/diffs/main/mobile-dark-detail-configuration.png
  688/diffs/main/mobile-light-detail-configuration.png
  688/diffs/main/mobile-light-detail-telemetry.png
  688/diffs/main/tablet-dark-detail-configuration.png
  688/diffs/main/tablet-dark-detail-telemetry.png
  688/diffs/main/tablet-light-detail-configuration.png
  688/mobile-dark-detail-configuration.png
  688/mobile-dark-dev-components.png
  688/mobile-dark-home.png
  688/mobile-light-detail-configuration.png
  688/mobile-light-detail-telemetry.png
  688/mobile-light-dev-components.png
  688/mobile-light-home.png
  688/tablet-dark-collector-detail.png
  688/tablet-dark-detail-telemetry.png
  688/tablet-dark-dev-components.png
  688/tablet-dark-home.png
  688/tablet-light-dev-components.png
  688/tablet-light-home.png
Due: none

chore: update main screenshot baseline (0c44343)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

feat(i18n): extract about namespace strings
  ecosystem-explorer/public/locales/en/about.json
  ecosystem-explorer/public/locales/es/about.json
  ecosystem-explorer/src/features/about/about-page.tsx
  ecosystem-explorer/src/test/integration/setup.ts
  ecosystem-explorer/src/test/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Address mentor feedback on Java release comparison
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix typecheck errors and regenerate schemas
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(i18n): extract about namespace strings (#652)
  ecosystem-explorer/public/locales/en/about.json
  ecosystem-explorer/public/locales/es/about.json
  ecosystem-explorer/src/features/about/about-page.tsx
  ecosystem-explorer/src/test/integration/setup.ts
  ecosystem-explorer/src/test/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (4bc52fc)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

fix(tests): address copilot review on mock duplication and visibility logic
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix prettier formatting issues
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(tests): add ESLint description to ts-expect-error
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
