Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: update screenshots for PR #555
  555/desktop-dark-detail-configuration.png
  555/desktop-dark-home.png
  555/desktop-light-collector-detail.png
  555/desktop-light-detail-configuration.png
  555/desktop-light-home.png
  555/mobile-dark-home.png
  555/mobile-light-detail-telemetry.png
  555/mobile-light-home.png
  555/tablet-dark-collector-detail.png
  555/tablet-dark-home.png
  555/tablet-light-collector-detail.png
  555/tablet-light-detail-configuration.png
  555/tablet-light-detail-telemetry.png
  555/tablet-light-home.png
Due: none

feat(v1): GlobalSearch (Phase 2 - Home page PR 2)
  ecosystem-explorer/src/hooks/use-debounced-value.test.ts
  ecosystem-explorer/src/hooks/use-debounced-value.ts
  ecosystem-explorer/src/lib/search.test.ts
  ecosystem-explorer/src/lib/search.ts
  ecosystem-explorer/src/v1/components/home/global-search.test.tsx
  ecosystem-explorer/src/v1/components/home/global-search.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/hooks/use-search.ts
  ecosystem-explorer/src/v1/styles/cover-block.css
  ecosystem-explorer/src/v1/styles/global-search.css
  ecosystem-explorer/src/v1/styles/home.css
  ecosystem-explorer/src/v1/styles/index.css
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(search): replace loadAllComponents with loadIndex for collector data
  ecosystem-explorer/src/lib/search.test.ts
  ecosystem-explorer/src/lib/search.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-collector-detail.png
  587/desktop-light-detail-telemetry.png
  587/desktop-light-home.png
  587/mobile-dark-detail-telemetry.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-detail-telemetry.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-detail-telemetry.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-home.png
Due: none

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-collector-detail.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-home.png
  587/mobile-dark-detail-telemetry.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-detail-telemetry.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-detail-telemetry.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-home.png
Due: none

chore: address Copilot color-token review
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/styles/global-search.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-collector-detail.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-detail-telemetry.png
  587/desktop-light-home.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-home.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-home.png
Due: none

Add instrumentation YAML preview highlighting
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: format selected files
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Add grid pattern background to configuration card
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Refactor detail-card component layout and classes
  ecosystem-explorer/src/components/ui/detail-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix className order in detail-card component
  ecosystem-explorer/src/components/ui/detail-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix CSS class order in configuration card
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore(search): revert unrelated schema and workflow formatting
  .github/workflows/codeql.yml
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore(search): resolve merge by accepting upstream versions for collector page and yaml tests
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/lib/yaml-generator.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore(search): restore collector landing component from upstream
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore(search): sync collector hooks/api with upstream (add index loader)
  ecosystem-explorer/src/hooks/use-collector-data.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore(search): sync yaml-generator with upstream (add structured output)
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): improve mobile navigation for configuration builder
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style(java-agent): format mobile navigation changes
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(java-agent): wire preview highlighting handler into sdk content
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(java-agent): use dialog for mobile toc drawer
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed paginate and lazy load for java agent instrumentation
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/hooks/use-lazy-pagination.test.ts
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.0/connector.yaml
  ecosystem-registry/collector/contrib/v0.153.0/exporter.yaml
  ecosystem-registry/collector/contrib/v0.153.0/extension.yaml
  ecosystem-registry/collector/contrib/v0.153.0/processor.yaml
  ecosystem-registry/collector/contrib/v0.153.0/receiver.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.153.0/connector.yaml
  ecosystem-registry/collector/core/v0.153.0/exporter.yaml
  ecosystem-registry/collector/core/v0.153.0/extension.yaml
  ecosystem-registry/collector/core/v0.153.0/processor.yaml
  ecosystem-registry/collector/core/v0.153.0/receiver.yaml
  ecosystem-registry/collector/core/v0.153.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.153.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.153.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.153.1-SNAPSHOT/receiver.yaml
Due: none

fixed format and typos
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/hooks/use-lazy-pagination.test.ts
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed errors
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed race condition
  ecosystem-explorer/src/hooks/use-lazy-pagination.test.ts
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed merge conflicts
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Remove unneeded otelbot steps
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-cleanup.yml
Due: none

Remove unneeded otelbot steps (#596)
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-cleanup.yml
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
Due: none

adding feature_request template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Reduce unnecessary dependencies
  ecosystem-automation/collector-watcher/pyproject.toml
  ecosystem-automation/collector-watcher/tests/test_collector_sync.py
  ecosystem-automation/collector-watcher/tests/test_repository_manager.py
  ecosystem-automation/collector-watcher/tests/test_version_detector.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/repository_manager.py
  ecosystem-automation/configuration-watcher/tests/test_configuration_sync.py
  ecosystem-automation/configuration-watcher/tests/test_repository_manager.py
  ecosystem-automation/configuration-watcher/tests/test_version_detector.py
  ecosystem-automation/watcher-common/pyproject.toml
  ecosystem-automation/watcher-common/src/watcher_common/repository_manager.py
  ecosystem-automation/watcher-common/src/watcher_common/testing.py
  ecosystem-automation/watcher-common/src/watcher_common/version_detector.py
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  pyproject.toml
  uv.lock
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Potential fix for pull request finding
  ecosystem-automation/watcher-common/src/watcher_common/testing.py
Due: none

chore: update main screenshot baseline (ca0c6a3)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

Parallelize CI tests and add bun cache
  .github/workflows/build-and-test.yml
Due: none

fix(config-builder): route duplicate key errors through validation system
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix prettier formatting in preview-card files
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
