Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

ci: reopen automated PR to re-trigger CodeQL instead of App push
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.0/connector.yaml
  ecosystem-registry/collector/contrib/v0.154.0/exporter.yaml
  ecosystem-registry/collector/contrib/v0.154.0/extension.yaml
  ecosystem-registry/collector/contrib/v0.154.0/processor.yaml
  ecosystem-registry/collector/contrib/v0.154.0/receiver.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.154.0/connector.yaml
  ecosystem-registry/collector/core/v0.154.0/exporter.yaml
  ecosystem-registry/collector/core/v0.154.0/extension.yaml
  ecosystem-registry/collector/core/v0.154.0/processor.yaml
  ecosystem-registry/collector/core/v0.154.0/receiver.yaml
  ecosystem-registry/collector/core/v0.154.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.154.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.154.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.154.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/deprecations.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/oshi-5.0-bfd5c32a149f.md
Due: none

use bun and consolidate versioning
  .bun-version
  .github/renovate.json5
  .github/workflows/build-and-test.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  ecosystem-explorer/scripts/generate-schemas.mjs
  netlify.toml
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

format
  .github/renovate.json5
Due: none

Potential fix for pull request finding
  .github/renovate.json5
Due: none

Update .github/renovate.json5
  .github/renovate.json5
Due: none

chore: update main screenshot baseline (726e3df)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (042f01a)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Move Java Agent search to the index and add a slim list type
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-group-card.test.tsx
  ecosystem-explorer/src/features/java-agent/components/sub-instrumentation-item.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/badge-info.test.ts
  ecosystem-explorer/src/features/java-agent/utils/badge-info.ts
  ecosystem-explorer/src/features/java-agent/utils/format.ts
  ecosystem-explorer/src/features/java-agent/utils/group-instrumentations.test.ts
  ecosystem-explorer/src/features/java-agent/utils/group-instrumentations.ts
  ecosystem-explorer/src/hooks/use-javaagent-data.ts
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/lib/configurations-aggregate.test.ts
  ecosystem-explorer/src/lib/normalize-instrumentation.test.ts
  ecosystem-explorer/src/lib/normalize-instrumentation.ts
  ecosystem-explorer/src/lib/search/search-index.test.ts
  ecosystem-explorer/src/lib/search/sources/java-agent.test.ts
  ecosystem-explorer/src/lib/search/sources/java-agent.ts
  ecosystem-explorer/src/test/integration/database-structure.integration.test.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Make slim list-entry presence flags required
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-group-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-form.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/utils/badge-info.test.ts
  ecosystem-explorer/src/features/java-agent/utils/group-instrumentations.test.ts
  ecosystem-explorer/src/hooks/use-customized-modules.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/lib/configurations-aggregate.test.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/extension.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/jdbc-d7f0013877c5.md
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/kafka-clients-2.6-46bc129525ee.md
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/log4j-appender-2.17-a2a8f6a2f3d2.md
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/logback-appender-1.0-93d2870f0020.md
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/logback-appender-1.0-a7bdce5e4da8.md
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/runtime-telemetry-68ba80436a29.md
Due: none

docs: reconcile Phase 3 ecosystem-landing plan with current main
  projects/84-ui-ux-design/02-ecosystem-landing.md
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

fix(builder): address review feedback for structured list schema
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/declarative_name_corrections.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_ui_mapper.py
  ecosystem-automation/explorer-db-builder/tests/test_declarative_name_corrections.py
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(i18n): extract remaining hardcoded strings from java-agent namespace
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/toggle-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/plugin-select-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/schema-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/union-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-telemetry-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(i18n): apply missing t() calls in java-instrumentation-list-page
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(i18n): extract remaining hardcoded strings from java-instrumentation-list-page
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(i18n): initialize i18next in integration test setup
  ecosystem-explorer/src/test/integration/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update ecosystem-explorer/src/types/javaagent.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (844e72f)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-home.png
Due: none

docs: update screenshots for PR #688
  688/desktop-dark-detail-configuration.png
  688/desktop-dark-detail-telemetry.png
  688/desktop-dark-home.png
  688/desktop-light-collector-detail.png
  688/desktop-light-detail-telemetry.png
  688/desktop-light-home.png
  688/diffs/main/desktop-dark-detail-configuration.png
  688/diffs/main/desktop-dark-detail-telemetry.png
  688/diffs/main/desktop-dark-home.png
  688/diffs/main/desktop-light-detail-telemetry.png
  688/diffs/main/mobile-dark-detail-telemetry.png
  688/diffs/main/mobile-light-detail-telemetry.png
  688/diffs/main/tablet-dark-detail-configuration.png
  688/diffs/main/tablet-light-detail-configuration.png
  688/mobile-dark-detail-telemetry.png
  688/mobile-dark-home.png
  688/mobile-light-detail-telemetry.png
  688/mobile-light-home.png
  688/tablet-dark-detail-configuration.png
  688/tablet-dark-home.png
  688/tablet-light-detail-configuration.png
  688/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.16.0/instrumentation.yaml
  ecosystem-registry/dotnet/v1.16.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/spring-security-config-6.0-42e7aba5862d.md
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/spring-security-config-6.0-f77c2211d1c5.md
Due: none

fix(review): revert to index keys, remove _id from item values
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #686
  686/desktop-dark-detail-configuration.png
  686/desktop-dark-home.png
  686/desktop-light-detail-configuration.png
  686/desktop-light-home.png
  686/diffs/main/desktop-dark-detail-configuration.png
  686/diffs/main/desktop-light-detail-configuration.png
  686/diffs/main/mobile-dark-detail-telemetry.png
  686/diffs/main/mobile-light-detail-configuration.png
  686/diffs/main/mobile-light-detail-telemetry.png
  686/diffs/main/tablet-dark-detail-configuration.png
  686/diffs/main/tablet-light-detail-telemetry.png
  686/mobile-dark-detail-telemetry.png
  686/mobile-dark-home.png
  686/mobile-light-detail-configuration.png
  686/mobile-light-detail-telemetry.png
  686/mobile-light-home.png
  686/tablet-dark-detail-configuration.png
  686/tablet-dark-home.png
  686/tablet-light-detail-telemetry.png
  686/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.154.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/log4j-appender-2.17-0f2004aadcb1.md
Due: none

fix(collector-watcher): exclude comments from schema hash calculation
  ecosystem-automation/collector-watcher/src/collector_watcher/schema_copier.py
  ecosystem-automation/collector-watcher/tests/test_schema_copier.py
Due: none

Limit index search_terms to distinctive identifiers
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/lib/search/sources/java-agent.ts
  ecosystem-explorer/src/test/integration/database-structure.integration.test.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(collector-watcher): remove redundant comments from schema hash test
  ecosystem-automation/collector-watcher/tests/test_schema_copier.py
Due: none

docs(collector-watcher): document YAML normalization in schema copier docstrings
  ecosystem-automation/collector-watcher/src/collector_watcher/schema_copier.py
Due: none

chore: update main screenshot baseline (447a22c)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

rm AGENTS.md
  ecosystem-automation/golang-instrumentation-watcher/AGENTS.md
Due: none

cicd: strip down Makefile
  ecosystem-automation/golang-instrumentation-watcher/Makefile
Due: none

refactor(ecosystem-automation/golang): strip Weaver registry generation into feat/weaver-registry
  ecosystem-automation/golang-instrumentation-watcher/.gitignore
  ecosystem-automation/golang-instrumentation-watcher/README.md
  ecosystem-automation/golang-instrumentation-watcher/cmd/snapshot/main.go
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/analyzer.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/generator.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/generator_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/instrumentation_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/schema.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker_test.go
Due: none

make: remove vuln scan
  ecosystem-automation/golang-instrumentation-watcher/Makefile
Due: none

feat(config-builder): add Expand all / Collapse all controls to SDK and Instrumentation tabs
  ecosystem-explorer/src/features/java-agent/configuration/components/general-section-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/group-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/section-expansion-context.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): replace setState-in-effect with useMemo for signal-driven expansion
  ecosystem-explorer/src/features/java-agent/configuration/components/general-section-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/group-renderer.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/section-expansion-context.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer
