Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

style: fix formatting in collector-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

feat(configuration): add InstrumentationConfigurationTab and related utilities
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/format.test.ts
  ecosystem-explorer/src/features/java-agent/utils/format.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix format
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
  ecosystem-explorer/src/features/java-agent/utils/format.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

update default format to Declarative and adjust related tests
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(instrumentation-configuration-tab): enhance tab structure with content for declarative and system property formats
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(instrumentation-configuration-tab): setup clipboard mock and restore mocks after each test
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

ci: don't run notify jobs when synchronize-inventory is skipped
  .github/workflows/nightly-registry-update.yml
Due: none

feat: hide config tabs when declarative_name is not present
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): implement release comparison tool (#277)
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/icons/release-icon.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: generate llms.txt and agent markdown indexes
  ecosystem-explorer/package.json
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/scripts/take-screenshots.mjs
  scripts/add_copyright.py
  scripts/check_copyright.py
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat(explorer): render backtick-wrapped text as inline code in descriptions
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
  ecosystem-explorer/src/features/java-agent/components/sub-instrumentation-item.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/lib/render-inline-code.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: fix formatting in generate-agent-docs script
  ecosystem-explorer/scripts/generate-agent-docs.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: include .mjs files in pre-commit checks
  .pre-commit-config.yaml
Due: none

docs: split AGENTS.md per component
  .markdownlint-cli2.yaml
  AGENTS.md
  ecosystem-automation/AGENTS.md
  ecosystem-explorer/AGENTS.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

address mentor feedback: switch to bun and add version-aware docs
  ecosystem-explorer/package.json
  ecosystem-explorer/scripts/generate-agent-docs.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat(java-agent): add scaffolding and feature flag for release comparison
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
  ecosystem-explorer/src/lib/feature-flags.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix formatting in java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

address mentor feedback: refactor script and document traversal patterns
  ecosystem-explorer/scripts/generate-agent-docs.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat(java-agent): add scaffolding and feature flag for release comparison (#338)
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/icons/release-icon.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/lib/feature-flags.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/processor.yaml
Due: none

perf(explorer): optimize build with code splitting and vendor chunks
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/vite.config.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix test for lazy loaded routes and apply prettier formatting
  ecosystem-explorer/src/App.test.tsx
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/vite.config.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix manualChunks substring match for react packages
  ecosystem-explorer/vite.config.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

perf(explorer): optimize build with code splitting and vendor chunks (#337)
  ecosystem-explorer/src/App.test.tsx
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/vite.config.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Guard config.description before renderWithInlineCode
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): implement version selection and release comparison (#277)
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: ensure compliance with contributing guidelines and design standards
  ecosystem-explorer/.env.development
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): write overrides to distribution.javaagent.instrumentation
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.test.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/hooks/use-override-status.test.ts
  ecosystem-explorer/src/hooks/use-override-status.ts
  ecosystem-explorer/src/lib/normalize-instrumentation.test.ts
  ecosystem-explorer/src/lib/normalize-instrumentation.ts
  ecosystem-explorer/src/types/configuration-builder.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): per-instrumentation configuration form
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-field.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-form.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-config-form.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/hooks/use-overridden-modules.test.ts
  ecosystem-explorer/src/hooks/use-overridden-modules.ts
  ecosystem-explorer/src/lib/configurations-aggregate.test.ts
  ecosystem-explorer/src/lib/configurations-aggregate.ts
  ecosystem-explorer/src/lib/declarative-name.test.ts
  ecosystem-explorer/src/lib/declarative-name.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: optimize agent accessibility with llms-full.txt, JSON schemas, and routing
  .gitignore
  ecosystem-explorer/public/robots.txt
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/public/sitemap.xml
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  netlify.toml
  netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

fix(configuration-card): make description optional and remove empty paragraph
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-watcher): pull library READMEs into registry (#241)
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/java_instrumentation_client.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/readme_extractor.py
  ecosystem-automation/watcher-common/src/watcher_common/content_hashing.py
Due: none

test(java-watcher): add and extend tests for README extraction (#241)
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_java_instrumentation_client.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_readme_extractor.py
  ecosystem-automation/watcher-common/tests/__init__.py
  ecosystem-automation/watcher-common/tests/test_content_hashing.py
Due: none

chore: add license headers to content_hashing.py and __init__.py
  ecosystem-automation/watcher-common/src/watcher_common/content_hashing.py
  ecosystem-automation/watcher-common/tests/__init__.py
Due: none

feat: address copilot review fixes
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/java_instrumentation_client.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_java_instrumentation_client.py
Due: none

exclude registry from markdown lint
  .markdownlint-cli2.yaml
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
