Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: address Copilot review
  ecosystem-explorer/DESIGN_V1.md
  ecosystem-explorer/src/v1/components/home/cover-block.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/home.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #517
  517/desktop-dark-detail-telemetry.png
  517/desktop-dark-home.png
  517/desktop-light-collector-detail.png
  517/desktop-light-home.png
  517/mobile-dark-home.png
  517/mobile-light-detail-configuration.png
  517/mobile-light-home.png
  517/tablet-dark-detail-configuration.png
  517/tablet-dark-home.png
  517/tablet-light-detail-configuration.png
  517/tablet-light-home.png
Due: none

feat(v1): StatsBand + canonical home stats (Phase 2 - Home page PR 3)
  ecosystem-explorer/src/v1/components/home/stats-band.test.tsx
  ecosystem-explorer/src/v1/components/home/stats-band.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/lib/home-stats.ts
  ecosystem-explorer/src/v1/styles/home.css
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/stats-band.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixes
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/dotnet-instrumentation-watcher/tests/test_instrumentation_sync.py
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
  ecosystem-registry/dotnet/v1.15.4-SNAPSHOT/instrumentation.yaml
Due: none

fix: address Collector route and data loading review feedback
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.test.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
  ecosystem-explorer/src/hooks/use-collector-data.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: use (name, subtype) tuple as component key in DeprecationDetector
  ecosystem-automation/collector-watcher/src/collector_watcher/deprecation_detector.py
  ecosystem-automation/collector-watcher/tests/test_deprecation_detector.py
Due: none

fix: use (name, subtype) tuple as deduplication key in add_deprecated_components
  ecosystem-automation/collector-watcher/src/collector_watcher/inventory_manager.py
  ecosystem-automation/collector-watcher/tests/test_inventory.py
Due: none

Potential fix for pull request finding
  ecosystem-explorer/src/v1/components/home/stats-band.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #524
  524/desktop-dark-collector-list.png
  524/desktop-dark-home.png
  524/desktop-light-home.png
  524/mobile-dark-detail-configuration.png
  524/mobile-dark-home.png
  524/mobile-light-detail-configuration.png
  524/mobile-light-home.png
  524/tablet-dark-home.png
  524/tablet-light-detail-configuration.png
  524/tablet-light-home.png
Due: none

fix: update stats-band tests to match aria-label accessible names
  ecosystem-explorer/src/v1/components/home/stats-band.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #524
  524/desktop-dark-home.png
  524/desktop-light-collector-detail.png
  524/desktop-light-detail-telemetry.png
  524/desktop-light-home.png
  524/mobile-dark-home.png
  524/mobile-light-collector-detail.png
  524/mobile-light-detail-telemetry.png
  524/mobile-light-home.png
  524/tablet-dark-home.png
  524/tablet-light-home.png
Due: none

fix: address PR review feedback for expand preview dialog
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/src/components/ui/dialog.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed/errors
  ecosystem-explorer/src/components/ui/search-overlay.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(styles): update grid layout for td-stats-band to improve responsiveness
  ecosystem-explorer/src/v1/styles/stats-band.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

fix(config-builder): address react-doctor issues in ConfigurationBuilderPage
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #524
  524/desktop-dark-collector-detail.png
  524/desktop-dark-detail-telemetry.png
  524/desktop-dark-home.png
  524/desktop-light-detail-telemetry.png
  524/desktop-light-home.png
  524/mobile-dark-collector-detail.png
  524/mobile-dark-dev-components.png
  524/mobile-dark-home.png
  524/mobile-light-detail-telemetry.png
  524/mobile-light-dev-components.png
  524/mobile-light-home.png
  524/tablet-dark-detail-configuration.png
  524/tablet-dark-detail-telemetry.png
  524/tablet-dark-dev-components.png
  524/tablet-dark-home.png
  524/tablet-light-detail-configuration.png
  524/tablet-light-detail-telemetry.png
  524/tablet-light-dev-components.png
  524/tablet-light-home.png
Due: none

fix linter error
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(tests): update page title test to check for document presence
  ecosystem-explorer/src/test/integration/configuration-builder-basic.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #524
  524/desktop-dark-collector-detail.png
  524/desktop-dark-detail-telemetry.png
  524/desktop-dark-home.png
  524/desktop-light-detail-telemetry.png
  524/desktop-light-home.png
  524/mobile-dark-collector-detail.png
  524/mobile-dark-home.png
  524/mobile-light-collector-detail.png
  524/mobile-light-home.png
  524/tablet-dark-detail-configuration.png
  524/tablet-dark-detail-telemetry.png
  524/tablet-light-collector-detail.png
  524/tablet-light-detail-telemetry.png
  524/tablet-light-home.png
Due: none

fix: fix V1App and LegacyApp
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Move permissions from toplevel
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

Update dotnet watcher to be more consistent
  ecosystem-automation/dotnet-instrumentation-watcher/README.md
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/__main__.py
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/main.py
  ecosystem-automation/dotnet-instrumentation-watcher/tests/test_inventory_manager.py
Due: none

Fix screenshot automation
  .github/workflows/screenshots-baseline.yml
Due: none

test: anchor agent-version assertion on YAML preview header
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

ci: aggregate javaagent global-configurations in db-builder workflow
  .github/workflows/build-explorer-database.yml
Due: none

Add zizmor scanning
  .github/workflows/zizmor.yml
Due: none

fix(config-builder): prune orphan instrumentation customizations on agent version switch
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test: derive orphan instrumentation dynamically from version manifests
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor: avoid duplicate useInstrumentations call on Instrumentation tab
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (0454cd8)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

fix: keep loading spinner visible while awaiting latest URL redirect in InstrumentationDetailPage
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: revert gradient styling
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-basic.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #524
  524/desktop-dark-detail-telemetry.png
  524/desktop-dark-home.png
  524/desktop-light-detail-telemetry.png
  524/desktop-light-home.png
  524/mobile-dark-detail-telemetry.png
  524/mobile-dark-home.png
  524/mobile-light-collector-detail.png
  524/mobile-light-detail-telemetry.png
  524/mobile-light-home.png
  524/tablet-dark-detail-configuration.png
  524/tablet-dark-home.png
  524/tablet-light-collector-detail.png
  524/tablet-light-home.png
Due: none

chore: update main screenshot baseline (44e1211)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
