Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/honeycombmarkerexporter-102df11b6d9a.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/tailsamplingprocessor-057bb74706c9.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/transformprocessor-9a2c181307e9.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/processor.yaml
Due: none

docs: add phase 2 (schema design) content for ecosystem mapping guide
  docs/ecosystem-mapping-guide.md
  docs/ecosystem-mapping-schema-design.md
Due: none

docs: fix grammar in phase 2 schema design doc
  docs/ecosystem-mapping-schema-design.md
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/isolationforestprocessor-950032bcbebb.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/kafkatopicsobserver-ed72909c3fde.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/loadbalancingexporter-bf74dcb41d09.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/prometheusremotewriteexporter-b7a372d23cab.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/receivercreator-62977981ab7e.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-1fab28e710c7.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/extension.yaml
Due: none

Add prHourlyLimit to Renovate configuration
  .github/renovate.json5
Due: none

fix(collector): render backtick-wrapped card descriptions as code
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

address code review
  ecosystem-explorer/src/i18n/http-backend.test.ts
  ecosystem-explorer/src/i18n/http-backend.ts
  ecosystem-explorer/src/i18n/language-detector.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix emdashes
  ecosystem-explorer/public/locales/en/home.json
  ecosystem-explorer/public/locales/en/layout.json
  ecosystem-explorer/public/locales/es/home.json
  ecosystem-explorer/public/locales/es/layout.json
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.tsx
  ecosystem-explorer/src/v1/components/home/global-search.tsx
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.tsx
  ecosystem-explorer/src/v1/components/home/signals-row.tsx
  ecosystem-explorer/src/v1/components/home/stats-band.tsx
  ecosystem-explorer/src/v1/components/layout/cncf-callout.tsx
  ecosystem-explorer/src/v1/components/layout/footer.tsx
  ecosystem-explorer/src/v1/components/layout/nav-bar.tsx
  ecosystem-explorer/src/v1/components/layout/sub-nav.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (9b6b259)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (cd98c5e)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (99cfa31)
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/awscloudwatchlogsexporter-45d035905326.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/isolationforestprocessor-950032bcbebb.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/kafkatopicsobserver-ed72909c3fde.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/loadbalancingexporter-bf74dcb41d09.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/oracledbreceiver-ac819b308892.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/prometheusremotewriteexporter-b7a372d23cab.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/receivercreator-62977981ab7e.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-869f8c7c7db4.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/sqlserverreceiver-86eaaea1f28e.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.158.1-SNAPSHOT/component_readmes/queuebatchprocessor-a090afd6a732.md
  ecosystem-registry/collector/core/v0.158.1-SNAPSHOT/processor.yaml
  ecosystem-registry/dotnet/v1.17.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/rocketmq-client-4.8-6ec7ead2fb9f.md
Due: none

chore: update main screenshot baseline (6f2132f)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

ci: use shared OSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/googlecloudpubsubpushreceiver-ee1594cf2082.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/instrumentation.yaml
Due: none

chore: update main screenshot baseline (dd000d6)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (3ac89ec)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
Due: none

chore: update main screenshot baseline (5a9bfaf)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/datadogreceiver-82eab2df3fcf.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/sdnotifyextension-41847d613559.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/sqlqueryreceiver-26d41aa6e60c.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/yanggrpcreceiver-b1013fc41368.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/yanggrpcreceiver-c38d31187ef2.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/runtime-telemetry-ca8a071a3ebe.md
Due: none

feat(go-watcher): add support for scraping metadata.yaml across multiple repositories
  ecosystem-automation/golang-instrumentation-watcher/README.md
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/README.md
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/metadata_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/version.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/version_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/walker_test.go
  ecosystem-automation/golang-instrumentation-watcher/metadata/metadata.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo_test.go
  ecosystem-automation/golang-instrumentation-watcher/targets.yaml
Due: none

correction for wrong property
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/declarative_name_corrections.py
  ecosystem-automation/explorer-db-builder/tests/test_declarative_name_corrections.py
Due: none

feat(collector): expose deprecated components
  ecosystem-automation/explorer-db-builder/README.md
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_database_writer.py
  ecosystem-explorer/public/data/collector/deprecations-index.json
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/en/list.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/locales/es/list.json
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.test.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
  ecosystem-explorer/src/hooks/use-collector-data.test.ts
  ecosystem-explorer/src/hooks/use-collector-data.ts
  ecosystem-explorer/src/lib/api/collector-data.test.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/types/collector.ts
  ecosystem-explorer/src/v1/components/list/facet-panel.tsx
  ecosystem-explorer/src/v1/components/list/views.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
  ecosystem-explorer/src/v1/features/ecosystem/collector-config.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address review feedback
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/en/list.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/locales/es/list.json
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.test.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
  ecosystem-explorer/src/v1/components/list/views.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(collector): normalize deprecated stability filtering
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address follow-up review feedback
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/styles/tokens.css
  ecosystem-explorer/src/themes.test.ts
  ecosystem-explorer/src/themes.ts
  ecosystem-explorer/src/v1/components/list/views.test.tsx
  ecosystem-explorer/src/v1/components/list/views.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
  ecosystem-explorer/src/v1/styles/detail.css
  ecosystem-explorer/src/v1/styles/list-views.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

improve agent smoke test
  .github/workflows/nightly-declarative-config-test.yml
  acceptance-tests/declarative-config-acceptance/assert-agent-startup.sh
  ecosystem-explorer/scripts/generate-test-config.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix ordering
  ecosystem-explorer/src/features/collector/collector-components-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (8455d96)
  main/desktop-dark-collector-landing.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-landing.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-collector-landing.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-collector-landing.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-landing.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-landing.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Fix linting
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/awscloudwatchlogsexporter-4d6c79607abb.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/dynamicsamplingprocessor-3b5c9b3d0b67.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/filterprocessor-57bb1798ea51.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/mongodbreceiver-3867117ea695.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-4b78d46f9bc7.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/tailsamplingprocessor-b4928107c4ff.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/component_readmes/transformprocessor-03e731c80205.md
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.17.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/log4j-appender-2.17-367ba957b009.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/log4j-appender-2.17-914f4c5b3e0f.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/logback-appender-1.0-a7bdce5e4da8.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/logback-appender-1.0-b6824a52a295.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/micrometer-1.5-33d3de7e3942.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/micrometer-1.5-f28855f79061.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/servlet-3.0-912041bd5544.md
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/servlet-5.0-611d874908b9.md
Due: none

chore: update main screenshot baseline (dd9201f)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

fix(go-watcher): address review feedback regarding permissions, path parsing, and clone dir names
  ecosystem-automation/golang-instrumentation-watcher/cmd/watcher/main.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/library_test.go
  ecosystem-automation/golang-instrumentation-watcher/instrumentation/version.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo.go
  ecosystem-automation/golang-instrumentation-watcher/repo/repo_test.go
Due: none

feat(java-watcher): scrape JMX weaver models
  ecosystem-automation/java-instrumentation-watcher/README.md
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/jmx_model_extractor.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_jmx_model_extractor.py
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.158.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.30.1-SNAPSHOT/library_readmes/vibur-dbcp-11.0-1fb3ed43ce72.md
Due: none

Potential fix for pull request finding
  ecosystem-explorer/scripts/generate-test-config.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix: address review feedback
  ecosystem-automation/java-instrumentation-watcher/README.md
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/java_instrumentation_client.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/jmx_model_extractor.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_java_instrumentation_client.py
Due: none
