Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

add comments to permissions (#553)
  .github/workflows/build-and-test.yml
  .github/workflows/build-explorer-database.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/reusable-workflow-notification.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
  .github/workflows/survey-on-merged-pr.yml
Due: none

chore: update main screenshot baseline (f96195f)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-list.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-list.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-list.png
  main/tablet-light-home.png
Due: none

Harden dependency management
  .github/renovate.json5
  .github/workflows/build-and-test.yml
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
  .pre-commit-config.yaml
  ecosystem-automation/v1-registry-sync/pyproject.toml
  pyproject.toml
Due: none

add permission scoping to tokens
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

chore: ignore non-valid zizmor errors
  .github/workflows/scorecard.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

feat: highlight active YAML preview sections (#478)
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: handle persisted creentials error
  .github/workflows/build-explorer-database.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/reusable-workflow-notification.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

chore: fix insufficient job-level concurrency limits
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/scorecard.yml
Due: none

test: add integration test for java agent configuration list (Issue #533)
  ecosystem-explorer/src/test/integration/java-configuration-list.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update permissions
  .github/workflows/scorecard.yml
Due: none

remove ignore and add persisted true
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

chore: ignore non-valid zizmor errors (#557)
  .github/workflows/scorecard.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

chore: fix concurrency
  .github/workflows/markdown-lint.yml
Due: none

add comment
  .github/workflows/markdown-lint.yml
Due: none

Zizmor fixes5 (#562)
  .github/workflows/markdown-lint.yml
Due: none

feat: Remove extra heading and add back button
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

corner radius fix for " versions and dev tag\
  ecosystem-explorer/src/components/ui/stability-badge.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): warn on duplicate keys in key-value map control
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(config-builder): add Import YAML button to load existing configs
  ecosystem-explorer/src/features/java-agent/configuration/components/import-yaml-button.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/import-yaml-button.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Address PR feedback on YAML highlighting and format
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix invalid actions/checkout SHA in workflows
  .github/workflows/build-and-test.yml
  .github/workflows/build-explorer-database.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/reusable-workflow-notification.yml
  .github/workflows/scorecard.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
  .github/workflows/zizmor.yml
Due: none

fixed/bug-s
  ecosystem-explorer/src/components/ui/search-overlay.test.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Pin Bun and reformat schemas
  .github/workflows/codeql.yml
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Revert schema formatting churn
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: remove accidental workflow modifications
  .github/workflows/build-and-test.yml
  .github/workflows/build-explorer-database.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/reusable-workflow-notification.yml
  .github/workflows/scorecard.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
  .github/workflows/zizmor.yml
Due: none

Add footer external link regression test
  ecosystem-explorer/src/v1/components/layout/footer.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: make v1 footer tests runnable
  ecosystem-explorer/src/v1/components/layout/footer.test.tsx
  ecosystem-explorer/src/v1/components/layout/footer.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(config-builder): polish YAML highlight visuals and a11y
  ecosystem-explorer/src/features/java-agent/configuration/components/general-section-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/styles/base.css
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: fix failing test and formatting
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.test.tsx
  ecosystem-explorer/src/features/collector/components/collector-explore-landing.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Creating bug-report template for the issues section
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Fixed version dropdown button
  ecosystem-explorer/src/features/java-agent/components/version-selector.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix watcher permissions
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/screenshots-commit.yml
Due: none

feat: add route handler for backward compatibility
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-handler.tsx
  ecosystem-explorer/src/features/java-agent/legacy-name-version-redirect.tsx
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: fix build
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: fix bugs in backward compatibility route hanlder
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-handler.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.152.2-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.152.2-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.152.2-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.152.2-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.152.2-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/4dbd47fa25e7.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/resource.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
Due: none

feat(home): refactor RecentActivityRail and add CTA links
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
