Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Explorer control components for config options (#198)
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-wrapper.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-wrapper.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-list-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-list-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/string-list-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/string-list-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/text-input-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/text-input-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/toggle-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/toggle-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/receiver.yaml
Due: none

fix theme
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/src/components/icons/compass.tsx
  ecosystem-explorer/src/components/icons/configuration-icon.tsx
  ecosystem-explorer/src/components/icons/java-icon.tsx
  ecosystem-explorer/src/components/icons/java-instrumentation-icon.tsx
  ecosystem-explorer/src/components/icons/otel-logo.tsx
  ecosystem-explorer/src/components/icons/pipeline-icon.tsx
  ecosystem-explorer/src/components/ui/detail-card.tsx
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/components/ui/section-header.tsx
  ecosystem-explorer/src/components/ui/tabs.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  ecosystem-explorer/src/features/java-agent/components/attribute-table.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/index.css
  ecosystem-explorer/src/theme-context.test.tsx
  ecosystem-explorer/src/theme-context.tsx
  ecosystem-explorer/src/themes.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix a few more things
  ecosystem-explorer/src/components/ui/tabs.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/theme-context.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

remove line
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

Java instrumentation Telemetry tab (#207)
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/src/components/icons/compass.tsx
  ecosystem-explorer/src/components/icons/configuration-icon.tsx
  ecosystem-explorer/src/components/icons/java-icon.tsx
  ecosystem-explorer/src/components/icons/java-instrumentation-icon.tsx
  ecosystem-explorer/src/components/icons/otel-logo.tsx
  ecosystem-explorer/src/components/icons/pipeline-icon.tsx
  ecosystem-explorer/src/components/ui/detail-card.tsx
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/components/ui/section-divider.tsx
  ecosystem-explorer/src/components/ui/tabs.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.tsx
  ecosystem-explorer/src/features/java-agent/components/attribute-table.test.tsx
  ecosystem-explorer/src/features/java-agent/components/attribute-table.tsx
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.test.tsx
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.test.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/index.css
  ecosystem-explorer/src/theme-context.test.tsx
  ecosystem-explorer/src/theme-context.tsx
  ecosystem-explorer/src/themes.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

fix: as per copilot suggestion
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/receiver.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

feat(explorer): display semantic conventions as linked badges on instrumentation detail page
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/format.test.ts
  ecosystem-explorer/src/features/java-agent/utils/format.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): address PR review feedback on semantic convention mappings
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/utils/format.test.ts
  ecosystem-explorer/src/features/java-agent/utils/format.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): display feature descriptions on instrumentation detail page
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/format.test.ts
  ecosystem-explorer/src/features/java-agent/utils/format.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): add about page and footer navigation links
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/layout/footer.test.tsx
  ecosystem-explorer/src/components/layout/footer.tsx
  ecosystem-explorer/src/features/about/about-page.test.tsx
  ecosystem-explorer/src/features/about/about-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): match copyright case in footer test
  ecosystem-explorer/src/components/layout/footer.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.0/connector.yaml
  ecosystem-registry/collector/contrib/v0.150.0/exporter.yaml
  ecosystem-registry/collector/contrib/v0.150.0/extension.yaml
  ecosystem-registry/collector/contrib/v0.150.0/processor.yaml
  ecosystem-registry/collector/contrib/v0.150.0/receiver.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.150.0/connector.yaml
  ecosystem-registry/collector/core/v0.150.0/exporter.yaml
  ecosystem-registry/collector/core/v0.150.0/extension.yaml
  ecosystem-registry/collector/core/v0.150.0/processor.yaml
  ecosystem-registry/collector/core/v0.150.0/receiver.yaml
  ecosystem-registry/collector/core/v0.150.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.150.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.150.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.150.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.150.1-SNAPSHOT/receiver.yaml
Due: none

add configuration builder reducer
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add schema defaults and node lookup helpers
  ecosystem-explorer/src/lib/schema-defaults.test.ts
  ecosystem-explorer/src/lib/schema-defaults.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add configuration validation utilities
  ecosystem-explorer/src/lib/config-validation.test.ts
  ecosystem-explorer/src/lib/config-validation.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix formatting
  ecosystem-explorer/src/components/layout/footer.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add config path utilities
  ecosystem-explorer/src/lib/config-path.test.ts
  ecosystem-explorer/src/lib/config-path.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add configuration builder state management hook
  ecosystem-explorer/src/hooks/use-configuration-builder.test.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add js-yaml dependency for configuration import
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package-lock.json
  ecosystem-explorer/package.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

add configuration builder context provider
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package-lock.json
  ecosystem-explorer/src/hooks/configuration-builder-provider.tsx
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): add Java agent version selector to list and detail pages
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/features/java-agent/components/version-selector.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

address review feedback
  ecosystem-explorer/src/hooks/use-configuration-builder.test.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/lib/config-path.test.ts
  ecosystem-explorer/src/lib/config-path.ts
  ecosystem-explorer/src/lib/config-validation.test.ts
  ecosystem-explorer/src/lib/config-validation.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

scaffold yaml-generator with header support
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

implement yaml output generator with section iteration and tests
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

preserve plugin_select discriminator shorthand
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(tests): update integration tests for versioned instrumentation URL
  ecosystem-explorer/src/test/integration/instrumentation-detail.integration.test.tsx
  ecosystem-explorer/src/test/integration/instrumentation-list.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

address PR review feedback
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix configuration-watcher cleanup order: after checkout, before copy
  ecosystem-automation/configuration-watcher/src/configuration_watcher/configuration_sync.py
Due: none

defer snapshot cleanup until after successful fetch and parse
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/configuration_sync.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_instrumentation_sync.py
Due: none

fix(explorer): gate version selector on resolved version in detail page
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
