Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Update documentation
  .github/instructions/typescript-frontend.instructions.md
  CONTRIBUTING.md
  docs/architecture-overview.md
  docs/frontend-architecture.md
  docs/registry-structure.md
  ecosystem-automation/AGENTS.md
  ecosystem-automation/README.md
  ecosystem-automation/collector-watcher/README.md
  ecosystem-automation/explorer-db-builder/README.md
  ecosystem-automation/java-instrumentation-watcher/README.md
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/DESIGN_V1.md
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Simplify pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update main screenshot baseline (d833344)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

formatting the feature request template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

New pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
Due: none

fix(issue-template): format file
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-dev-components.png
  587/desktop-dark-home.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-dev-components.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/mobile-dark-detail-configuration.png
  587/diffs/main/mobile-dark-detail-telemetry.png
  587/diffs/main/mobile-light-detail-configuration.png
  587/diffs/main/mobile-light-detail-telemetry.png
  587/diffs/main/tablet-dark-detail-configuration.png
  587/mobile-dark-detail-configuration.png
  587/mobile-dark-detail-telemetry.png
  587/mobile-dark-dev-components.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-detail-telemetry.png
  587/mobile-light-dev-components.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-dev-components.png
  587/tablet-dark-home.png
  587/tablet-light-collector-detail.png
  587/tablet-light-dev-components.png
  587/tablet-light-home.png
Due: none

docs: update screenshots for PR #587
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-detail-telemetry.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/desktop-light-detail-telemetry.png
  587/diffs/main/mobile-dark-detail-telemetry.png
  587/diffs/main/tablet-dark-detail-configuration.png
  587/diffs/main/tablet-dark-detail-telemetry.png
  587/diffs/main/tablet-light-detail-configuration.png
  587/diffs/main/tablet-light-detail-telemetry.png
  587/mobile-dark-detail-telemetry.png
  587/mobile-dark-home.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-detail-telemetry.png
  587/tablet-dark-home.png
  587/tablet-light-collector-detail.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-home.png
Due: none

chore(docs): update NEXT-STEPS.md
  ecosystem-explorer/src/lib/search/search-index.ts
  ecosystem-explorer/src/lib/search/sources/collector.test.ts
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/mobile-dark-detail-configuration.png
  587/diffs/main/mobile-light-detail-configuration.png
  587/diffs/main/tablet-light-detail-configuration.png
  587/diffs/main/tablet-light-detail-telemetry.png
  587/mobile-dark-detail-configuration.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-home.png
Due: none

Update .gitignore
  .gitignore
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix(configuration-watcher): make schema sync atomic
  ecosystem-automation/configuration-watcher/src/configuration_watcher/configuration_sync.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/inventory_manager.py
  ecosystem-automation/configuration-watcher/tests/test_configuration_sync.py
Due: none

fix(config): render configuration examples in the UI
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_aggregator.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_aggregator.py
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix configuration examples rendering and watcher sync atomicity (#624)
  ecosystem-automation/configuration-watcher/src/configuration_watcher/configuration_sync.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/inventory_manager.py
  ecosystem-automation/configuration-watcher/tests/test_configuration_sync.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_aggregator.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_aggregator.py
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.test.tsx
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (a847116)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

feat(docs): creating template for proposed tracks and ideas
  .github/ISSUE_TEMPLATE/research.yaml
Due: none

formatting the template
  .github/ISSUE_TEMPLATE/research.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/dotnet/v1.15.4-SNAPSHOT/instrumentation.yaml
Due: none

Adding "research.yaml" template for new components (#625)
  .github/ISSUE_TEMPLATE/research.yaml
Due: none

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-dev-components.png
  587/desktop-dark-home.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-detail-telemetry.png
  587/desktop-light-dev-components.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/desktop-light-detail-telemetry.png
  587/diffs/main/mobile-dark-detail-configuration.png
  587/diffs/main/mobile-light-detail-configuration.png
  587/diffs/main/tablet-dark-detail-configuration.png
  587/diffs/main/tablet-light-detail-configuration.png
  587/diffs/main/tablet-light-detail-telemetry.png
  587/mobile-dark-detail-configuration.png
  587/mobile-dark-dev-components.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-dev-components.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-dev-components.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-dev-components.png
  587/tablet-light-home.png
Due: none

fix(explorer): bound data-layer fetch fan-out with a concurrency pool
  ecosystem-explorer/src/lib/api/collector-data.test.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/lib/map-with-concurrency.test.ts
  ecosystem-explorer/src/lib/map-with-concurrency.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer-db-builder): generate javaagent index.json
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
Due: none

fix(explorer-db-builder): guard against None instrumentation lists
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
Due: none

fix(map-with-concurrency): handle NaN limit as sequential and prevent silent skips
  ecosystem-explorer/src/lib/map-with-concurrency.test.ts
  ecosystem-explorer/src/lib/map-with-concurrency.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(collector-watcher): Ensure atomic synchronization across distributions
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
Due: none

fix(explorer-db-builder): tolerate None instrumentation lists across the build pipeline
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/metadata_backfiller.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
  ecosystem-automation/explorer-db-builder/tests/test_metadata_backfiller.py
Due: none

Update explorer database (javaagent)
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/public/data/javaagent/index.json
  ecosystem-explorer/public/data/javaagent/versions-index.json
  ecosystem-explorer/public/data/javaagent/versions/2.28.1-index.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (72d886f)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (3e2bb81)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/desktop-light-instrumentation-list.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-dark-instrumentation-list.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
Due: none

fix(explorer): edge function turned 304 into 404 for data files
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
  ecosystem-explorer/src/lib/api/configuration-data.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): edge function turned 304 into 404 for data files
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
  ecosystem-explorer/src/lib/api/configuration-data.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (5bf708e)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Removed all the unwanted comments
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
Due: none

refactor(db-builder): decouple InventoryManager from java-instrumentation-watcher internals (#454)
  ecosystem-automation/explorer-db-builder/pyproject.toml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/watcher-common/pyproject.toml
  ecosystem-automation/watcher-common/src/watcher_common/inventory_manager.py
  uv.lock
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
