Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

Add semconv timeline
  ecosystem-explorer/public/data/semantic-conventions/timeline.json
  ecosystem-explorer/public/locales/en/home.json
  ecosystem-explorer/public/locales/en/semantic-conventions.json
  ecosystem-explorer/public/locales/es/home.json
  ecosystem-explorer/public/locales/es/semantic-conventions.json
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/components/icons/semantic-conventions-icon.tsx
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-conventions-landing.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-chart.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-detail-panel.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-event-marker.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-filter-bar.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-lane.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-legend.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-marker-shape.tsx
  ecosystem-explorer/src/features/semantic-conventions/hooks/use-semantic-conventions-timeline.test.ts
  ecosystem-explorer/src/features/semantic-conventions/hooks/use-semantic-conventions-timeline.ts
  ecosystem-explorer/src/features/semantic-conventions/semantic-conventions-page.tsx
  ecosystem-explorer/src/features/semantic-conventions/timeline-page.tsx
  ecosystem-explorer/src/features/semantic-conventions/types.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-colors.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.test.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/url.test.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/url.ts
  ecosystem-explorer/src/i18n/languages.ts
  ecosystem-explorer/src/lib/seo/derive.ts
  ecosystem-explorer/src/test/integration/setup.ts
  ecosystem-explorer/src/test/setup.ts
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

code review feedback
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/scripts/generate-agent-docs.test.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

improvements
  ecosystem-explorer/public/data/semantic-conventions/EVENT-AUDIT.md
  ecosystem-explorer/public/data/semantic-conventions/README.md
  ecosystem-explorer/public/data/semantic-conventions/timeline.json
  ecosystem-explorer/public/locales/en/semantic-conventions.json
  ecosystem-explorer/public/locales/es/semantic-conventions.json
  ecosystem-explorer/src/components/ui/navigation-card.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/baseline-events.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-data.test.ts
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-detail-panel.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-event-marker.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-filter-bar.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-lane.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-legend.tsx
  ecosystem-explorer/src/features/semantic-conventions/types.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-colors.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

new update
  ecosystem-explorer/public/locales/en/semantic-conventions.json
  ecosystem-explorer/public/locales/es/semantic-conventions.json
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-chart.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-event-marker.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-lane.tsx
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.test.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

right side
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-chart.tsx
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.test.ts
  ecosystem-explorer/src/features/semantic-conventions/utils/timeline-layout.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

ci: fix self-repository references
  .github/workflows/nightly-registry-update-collector.yml
  .github/workflows/nightly-registry-update-configuration.yml
  .github/workflows/nightly-registry-update-dotnet.yml
  .github/workflows/nightly-registry-update-java.yml
  .github/workflows/nightly-registry-update-js.yml
Due: none

Update registry inventory
  ecosystem-registry/dotnet/v1.19.1/instrumentation.yaml
  ecosystem-registry/dotnet/v1.19.2-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/adaptivetailsamplingprocessor-c3f8a68f5ceb.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/datadogconnector-2a73dce3af44.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/datadogexporter-8632de73ab5f.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/datadogextension-2eb40097be3a.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/dorisexporter-bbbde6730da5.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/githubreceiver-e99691946649.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/gitlabreceiver-ec4743c7d02c.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/netflowreceiver-e3da7afa531a.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/oracledbreceiver-82aa81eaadeb.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/pulsarexporter-4b4557e8de30.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/pulsarreceiver-a47d78ad45ce.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/signingprocessor-9fc53fae628d.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/slowsqlconnector-e7bac14ca9fc.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/sqlserverreceiver-e867014e7cfa.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/transformprocessor-bd93c8af7a07.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/e7c32c80593c.yaml
Due: none

ci: add guarded main to v1 synchronization
  .github/workflows/sync-main-to-v1.yml
  docs/v1-sync.md
Due: none

chore(netlify): enable redesign flags for permanent v1 branch
  netlify.toml
Due: none

chore(explorer): migrate to Vitest 5
  bun.lock
  ecosystem-explorer/.gitignore
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  ecosystem-explorer/src/test/dom-matchers.test.ts
  ecosystem-explorer/src/test/dom-matchers.ts
  ecosystem-explorer/src/test/integration/setup.ts
  ecosystem-explorer/src/test/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (3493959)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (95f3a2c)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

review
  ecosystem-explorer/public/locales/en/semantic-conventions.json
  ecosystem-explorer/public/locales/es/semantic-conventions.json
  ecosystem-explorer/src/components/icons/semantic-conventions-icon.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/baseline-events.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

ci: use a dedicated PAT for main-to-v1 sync
  .github/workflows/sync-main-to-v1.yml
  docs/v1-sync.md
Due: none

Update registry inventory
  ecosystem-registry/dotnet/v1.19.2-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/resources-2df1db635a87.md
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/githubreceiver-53c6b9c34160.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/googlecloudmonitoringreceiver-a73a0c71dea5.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/libhoneyreceiver-56d3322b6dc1.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/windowseventlogreceiver-34a68eeabade.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
Due: none

code review feedback
  ecosystem-explorer/public/locales/en/semantic-conventions.json
  ecosystem-explorer/public/locales/es/semantic-conventions.json
  ecosystem-explorer/src/features/semantic-conventions/components/baseline-events.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.test.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/semantic-convention-timeline.tsx
  ecosystem-explorer/src/features/semantic-conventions/components/timeline-legend.tsx
  ecosystem-explorer/src/test/dom-matchers.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Address vite serve warnings
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  ecosystem-explorer/vite.config.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix other usages
  ecosystem-explorer/vitest.config.ts
  ecosystem-explorer/vitest.integration.config.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix build error
  ecosystem-explorer/src/test/dom-matchers.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (1f3e2cc)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Move curated config defaults out of the builder-owned directory
  .ai/skills/database-build-review/SKILL.md
  ecosystem-automation/AGENTS.md
  ecosystem-automation/explorer-db-builder/README.md
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_builder.py
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/public/data/defaults/configuration/sdk-configuration-defaults-1.0.0.json
  ecosystem-explorer/public/data/defaults/configuration/sdk-configuration-defaults-1.1.0.json
  ecosystem-explorer/src/features/java-agent/configuration/starter-template.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (15dbe81)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-details.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
Due: none

chore: update main screenshot baseline (ff9970e)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-home.png
  main/mobile-light-detail-details.png
  main/mobile-light-home.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/journaldreceiver-56e912ee2790.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/jsonlogencodingextension-0c5410c66077.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/prometheusreceiver-2792406ac353.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/signaltometricsconnector-af6d13501b12.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/transformprocessor-4820a6ae2c64.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/vcenterreceiver-afa44a35bb52.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/queuebatchprocessor-c8e64269bb57.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/ab5b05337c21.yaml
Due: none

chore: update main screenshot baseline (0fde6b8)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
Due: none

chore: update main screenshot baseline (f0c0e73)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Promote luca to maintainer
  README.md
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/oracle-ucp-11.2-c9bb5ce1e9f0.md
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/elasticsearchexporter-de7ebb380901.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/kafkaexporter-6d06d58911fc.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/kafkametricsreceiver-563454e2cbd3.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/kafkareceiver-479dc4dd664c.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/prometheusremotewriteexporter-12a0cf641684.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/queuebatchprocessor-a358d6de1d99.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/cf77c72094ec.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/adaptivetailsamplingprocessor-5f67a8726ed2.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/carbonreceiver-86d662c7520e.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/grafanacloudconnector-a19abf6ad054.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/natsexporter-ec6f5afee7c3.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/transformprocessor-f01ad1a480d2.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/wavefrontreceiver-64d060985fe8.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/memorylimiterextension-3aa2d2a02315.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/extension.yaml
Due: none

docs(ai): add v1-page-review skill
  .ai/README.md
  .ai/skills/v1-page-review/SKILL.md
  .ai/skills/v1-page-review/audit.md
  .ai/skills/v1-page-review/checklist.md
  .ai/skills/v1-page-review/readiness.md
  .claude/skills/v1-page-review
Due: none

docs(projects): add V1 launch initiative
  projects/1189-v1-launch/NEXT-STEPS.md
  projects/1189-v1-launch/_index.md
  projects/_index.md
Due: none

docs(projects): reconcile #84 roadmap after Phase 5
  projects/84-ui-ux-design/01-home-page.md
  projects/84-ui-ux-design/04-detail-page.md
  projects/84-ui-ux-design/NEXT-STEPS.md
  projects/84-ui-ux-design/_index.md
  projects/_index.md
Due: none
