Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

fix(config-builder): align preview sticky offset with TOC sidebar
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): implement Java Agent release comparison page
  ecosystem-explorer/.env.development
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-results-table.test.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-results-table.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-summary-stats.test.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-summary-stats.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/hooks/use-release-diff.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix formatting issues
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-results-table.test.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-results-table.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-summary-stats.test.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/hooks/use-release-diff.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: revert unintended SNAPSHOT registry changes to align with upstream/main
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

feat(java-agent): implement core release comparison engine (Phase 2)
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/components/release-comparison/release-version-selector.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): add defensive comparison checks and fix row contrast accessibility
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: auto-format repository to fix Prettier CI check failures
  ecosystem-explorer/public/data/javaagent/global-configurations.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix: apply markdown lint and formatting fixes
  projects/9-javascript-instrumentation/01-metadata-audit.md
  projects/9-javascript-instrumentation/02-telemetry-coverage.md
  projects/9-javascript-instrumentation/NEXT-STEPS.md
  projects/9-javascript-instrumentation/_index.md
  projects/_index.md
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/library_readmes/thrift-0.13-f4a7204de362.md
Due: none

feat(ci): screenshots pixel-diff pipeline
  .github/scripts/build-screenshots-comment.py
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-commit.yml
  ecosystem-explorer/.env.development
  ecosystem-explorer/scripts/diff-screenshots.mjs
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/lib/feature-flags.ts
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(testing): pixel-diff + axe + showcase (Phase 1 - Foundation PR 7)
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  ecosystem-explorer/scripts/diff-screenshots.mjs
  ecosystem-explorer/scripts/take-screenshots.mjs
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address Copilot review feedback
  .github/scripts/build-screenshots-comment.py
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #487
  487/desktop-dark-home.png
  487/desktop-light-collector-detail.png
  487/desktop-light-home.png
  487/mobile-dark-home.png
  487/mobile-light-collector-detail.png
  487/mobile-light-home.png
  487/tablet-dark-home.png
  487/tablet-light-collector-detail.png
  487/tablet-light-detail-telemetry.png
Due: none

fix: address Copilot second-pass review
  .github/scripts/build-screenshots-comment.py
  .github/workflows/screenshots-commit.yml
  ecosystem-explorer/scripts/diff-screenshots.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

docs: update screenshots for PR #487
  487/desktop-dark-home.png
  487/desktop-light-collector-detail.png
  487/desktop-light-home.png
  487/mobile-dark-detail-configuration.png
  487/mobile-dark-home.png
  487/mobile-light-collector-detail.png
  487/mobile-light-detail-configuration.png
  487/mobile-light-home.png
  487/tablet-dark-home.png
  487/tablet-light-collector-detail.png
  487/tablet-light-home.png
Due: none

docs: update screenshots for PR #484
  484/desktop-dark-detail-telemetry.png
  484/desktop-dark-home.png
  484/desktop-light-collector-detail.png
  484/desktop-light-home.png
  484/mobile-dark-detail-telemetry.png
  484/mobile-dark-home.png
  484/mobile-light-detail-configuration.png
  484/mobile-light-home.png
  484/tablet-dark-detail-configuration.png
  484/tablet-dark-detail-telemetry.png
  484/tablet-dark-home.png
  484/tablet-light-home.png
Due: none

Refine search results and navigation
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/components/ui/search-overlay.test.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/lib/search.test.ts
  ecosystem-explorer/src/lib/search.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #487
  487/desktop-dark-collector-detail.png
  487/desktop-dark-detail-configuration.png
  487/desktop-dark-detail-details.png
  487/desktop-dark-detail-telemetry.png
  487/desktop-dark-dev-components.png
  487/desktop-dark-home.png
  487/desktop-light-collector-detail.png
  487/desktop-light-detail-configuration.png
  487/desktop-light-detail-details.png
  487/desktop-light-detail-telemetry.png
  487/desktop-light-dev-components.png
  487/desktop-light-home.png
  487/mobile-dark-collector-detail.png
  487/mobile-dark-detail-configuration.png
  487/mobile-dark-detail-details.png
  487/mobile-dark-detail-telemetry.png
  487/mobile-dark-dev-components.png
  487/mobile-dark-home.png
  487/mobile-light-collector-detail.png
  487/mobile-light-detail-configuration.png
  487/mobile-light-detail-details.png
  487/mobile-light-detail-telemetry.png
  487/mobile-light-dev-components.png
  487/mobile-light-home.png
  487/tablet-dark-collector-detail.png
  487/tablet-dark-detail-configuration.png
  487/tablet-dark-detail-details.png
  487/tablet-dark-detail-telemetry.png
  487/tablet-dark-dev-components.png
  487/tablet-dark-home.png
  487/tablet-light-collector-detail.png
  487/tablet-light-detail-configuration.png
  487/tablet-light-detail-details.png
  487/tablet-light-detail-telemetry.png
  487/tablet-light-dev-components.png
  487/tablet-light-home.png
Due: none

feat(explorer): implement collapsible form panel in configuration builder (#477)
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: remove large unused test src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(search): use debounced input handler to avoid setState in useEffect
  ecosystem-explorer/src/components/ui/search-overlay.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: hoist ConfigurationBuilderProvider above Tabs to prevent edit loss on tab switch
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): add Radix Dialog overlay to expand YAML preview (#477)
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/src/components/ui/dialog.test.tsx
  ecosystem-explorer/src/components/ui/dialog.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: remove accidental files from other branches in PR #421
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/src/components/ui/beta-badge.tsx
  ecosystem-explorer/src/components/ui/type-stripe-colors.ts
  ecosystem-explorer/src/components/ui/type-stripe.test.tsx
  ecosystem-explorer/src/components/ui/type-stripe.tsx
  ecosystem-explorer/src/features/java-agent/components/agent-explore-landing.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
  ecosystem-explorer/src/v1/components/icons/bluesky-icon.tsx
  ecosystem-explorer/src/v1/components/icons/cncf-logo.tsx
  ecosystem-explorer/src/v1/components/icons/github-icon.tsx
  ecosystem-explorer/src/v1/components/icons/mastodon-icon.tsx
  ecosystem-explorer/src/v1/components/icons/slack-icon.tsx
  ecosystem-explorer/src/v1/components/icons/stack-overflow-icon.tsx
  ecosystem-explorer/src/v1/components/icons/trademark-icon.tsx
  ecosystem-explorer/src/v1/components/layout/cncf-callout.test.tsx
  ecosystem-explorer/src/v1/components/layout/cncf-callout.tsx
  ecosystem-explorer/src/v1/components/layout/footer.test.tsx
  ecosystem-explorer/src/v1/components/layout/footer.tsx
  ecosystem-explorer/src/v1/components/layout/sub-nav.test.tsx
  ecosystem-explorer/src/v1/components/layout/sub-nav.tsx
  ecosystem-explorer/src/v1/styles/cncf-callout.css
  ecosystem-explorer/src/v1/styles/footer.css
  ecosystem-explorer/src/v1/styles/sub-nav.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

addressed the copilot comments
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.test.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/receiver.yaml
Due: none

enable VITE_FEATURE_FLAG_DEV_SHOWCASE for preview builds
  netlify.toml
Due: none

docs: update screenshots for PR #487
  487/desktop-dark-detail-telemetry.png
  487/desktop-dark-home.png
  487/desktop-light-collector-detail.png
  487/desktop-light-home.png
  487/mobile-dark-home.png
  487/mobile-light-home.png
  487/tablet-dark-detail-configuration.png
  487/tablet-dark-detail-telemetry.png
  487/tablet-dark-home.png
  487/tablet-light-collector-detail.png
  487/tablet-light-detail-configuration.png
  487/tablet-light-detail-telemetry.png
  487/tablet-light-home.png
Due: none

Update projects/9-javascript-instrumentation/01-metadata-audit.md
  projects/9-javascript-instrumentation/01-metadata-audit.md
Due: none

feat(java-agent): persist instrumentation filter state in URL search params
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs(redesign): close out Phase 1 and lock Phase 2 PR 1 decisions
  ecosystem-explorer/DESIGN_V1.md
  projects/84-ui-ux-design/00-foundation-audit.md
  projects/84-ui-ux-design/00-foundation.md
  projects/84-ui-ux-design/01-home-page.md
  projects/84-ui-ux-design/NEXT-STEPS.md
  projects/84-ui-ux-design/_index.md
  projects/84-ui-ux-design/v1-routing-pivot.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat(v1): CoverBlock + HomeV1 shell (Phase 2 - Home page PR 1)
  ecosystem-explorer/src/styles/tokens.css
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/src/v1/components/home/cover-block.test.tsx
  ecosystem-explorer/src/v1/components/home/cover-block.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/cncf-callout.css
  ecosystem-explorer/src/v1/styles/cover-block.css
  ecosystem-explorer/src/v1/styles/home.css
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/tokens.css
  projects/84-ui-ux-design/01-home-page.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): extract .td-btn primitive, dedupe CTA stubs, sharpen aria-labels
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/buttons.css
  ecosystem-explorer/src/v1/styles/index.css
  projects/84-ui-ux-design/01-home-page.md
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(ci): build screenshot comment body before switching branches
  .github/workflows/screenshots-commit.yml
Due: none

fix(java-agent): resolve release comparison review comments from copilot and maryliag
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/src/features/java-agent/components/release-comparison/instrumentation-diff-card.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-release-comparison.ts
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/release-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/release-diff.ts
  uv.lock
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: show accurate error message when versions list fails to load in ConfigurationBuilderPage
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #517
  517/desktop-dark-detail-telemetry.png
  517/desktop-dark-home.png
  517/desktop-light-collector-detail.png
  517/desktop-light-detail-telemetry.png
  517/desktop-light-home.png
  517/mobile-dark-detail-configuration.png
  517/mobile-dark-home.png
  517/mobile-light-detail-configuration.png
  517/mobile-light-detail-telemetry.png
  517/mobile-light-home.png
  517/tablet-dark-home.png
  517/tablet-light-detail-configuration.png
  517/tablet-light-home.png
Due: none
