Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Add support for java agent file format 0.3 in explorer db (#211)
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-group-card.test.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.test.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/utils/badge-info.test.ts
  ecosystem-explorer/src/types/javaagent.ts
  ecosystem-registry/java/javaagent/v2.24.0/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.25.0/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.26.0/instrumentation.yaml
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
Due: none

Apply suggestions from code review
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/metadata_backfiller.py
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/common.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/logger_provider.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meter_provider.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/tracer_provider.yaml
Due: none

fix(explorer): improve tab styling with segmented control
  ecosystem-explorer/src/features/java-agent/components/segmented-tabs.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): improve tab styling with segmented control (#259)
  ecosystem-explorer/src/components/ui/segmented-tabs.test.tsx
  ecosystem-explorer/src/components/ui/segmented-tabs.tsx
  ecosystem-explorer/src/components/ui/tabs.test.tsx
  ecosystem-explorer/src/components/ui/tabs.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add feature flag utility and wrap builder in a feature check
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/lib/feature-flags.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

document feature flag functionality
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

add test coverage to feature flags utility
  ecosystem-explorer/src/lib/feature-flags.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor to use a ternary
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor feature flags to use explicit flag names
  ecosystem-explorer/src/lib/feature-flags.test.ts
  ecosystem-explorer/src/lib/feature-flags.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add current feature flags to environment configuration
  ecosystem-explorer/.env.development
  netlify.toml
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

hide collector page behind feature flag
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

update readme to match latest changes
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

add testing environment file
  ecosystem-explorer/.env.test
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

emit implicit null for empty maps and nulls in generated YAML
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

hide instrumentation/development from SDK tab
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-basic.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

remove screenshots
  ecosystem-explorer/screenshots/detail-configuration.png
  ecosystem-explorer/screenshots/detail-details.png
  ecosystem-explorer/screenshots/detail-telemetry.png
  ecosystem-explorer/screenshots/home.png
  ecosystem-explorer/screenshots/instrumentation-list.png
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/logger_provider.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

copilot review notes
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/attribute-diff-table.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/diff-results-section.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/telemetry-comparison-section.tsx
  ecosystem-explorer/src/features/java-agent/utils/telemetry-diff.test.ts
  ecosystem-explorer/src/features/java-agent/utils/telemetry-diff.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Move handcrafted defaults/ folder to explorer data dir, preserve across db-builder clean rebuilds (#279)
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_builder.py
  ecosystem-explorer/.gitignore
  ecosystem-explorer/public/data/configuration/defaults/sdk-configuration-defaults-1.0.0.json
  ecosystem-explorer/src/features/java-agent/configuration/starter-template.test.ts
  ecosystem-explorer/src/hooks/use-configuration-data.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Add cache expiration and bump schema version
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: copilot comments
  ecosystem-explorer/src/components/icons/github-icon.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: replace lucide-react GitHub icon with inline SVG (#282)
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  ecosystem-explorer/src/components/icons/github-icon.tsx
  ecosystem-explorer/src/components/layout/footer.tsx
  ecosystem-explorer/src/features/about/about-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

tests
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: restore collector page
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

remove duplicate copyright header
  ecosystem-explorer/src/components/icons/github-icon.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: restore collector page (#286)
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/icons/github-icon.tsx
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

rename custom plugin input from "key" to "name"
  ecosystem-explorer/src/features/java-agent/configuration/components/plugin-select-renderer.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/plugin-select-renderer.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update font size
  ecosystem-explorer/src/index.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

more touchups
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/components/layout/page-container.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-agent-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/not-found/not-found-page.tsx
  ecosystem-explorer/src/index.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): reorder instrumentation detail page sections
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

feat(javaagent): support custom instrumentations (Issue #287)
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
