Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

add image, fix robots, add other meta
  ecosystem-explorer/index.html
  ecosystem-explorer/public/og-default.png
  ecosystem-explorer/public/robots.txt
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Improve sitemap generation
  ecosystem-explorer/package.json
  ecosystem-explorer/public/sitemap.xml
  ecosystem-explorer/scripts/generate-seo.mjs
  ecosystem-explorer/src/lib/seo/constants.ts
  ecosystem-explorer/src/lib/seo/derive.test.ts
  ecosystem-explorer/src/lib/seo/derive.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Apply suggestions from code review
  ecosystem-explorer/src/lib/seo/derive.test.ts
  ecosystem-explorer/src/lib/seo/derive.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (00b06a1)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (515629a)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

Add SEO component to individual pages
  ecosystem-explorer/src/components/seo/seo.test.tsx
  ecosystem-explorer/src/components/seo/seo.tsx
  ecosystem-explorer/src/features/about/about-page.tsx
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/home/home-page.tsx
  ecosystem-explorer/src/features/java-agent/components/standalone-library-tab.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-agent-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/v1/features/ecosystem/collector-landing.tsx
  ecosystem-explorer/src/v1/features/ecosystem/java-agent-landing.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Apply suggestions from code review
  ecosystem-explorer/src/features/java-agent/components/standalone-library-tab.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Improve agent accessibility
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/scripts/generate-seo.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

codeql with escaping fixed
  ecosystem-explorer/scripts/generate-agent-docs.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (92fd0e4)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-list.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-list.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-collector-list.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-collector-list.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Add audit for collector components missing display_name
  .github/workflows/build-explorer-database.yml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_display_name_audit.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_display_name_audit.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
Due: none

fix workflow
  .github/workflows/build-explorer-database.yml
Due: none

ignore experimental
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_display_name_audit.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_display_name_audit.py
Due: none

update
  .github/workflows/build-explorer-database.yml
Due: none

address review comments
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
Due: none

chore: update main screenshot baseline (8909087)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

code review feedback
  ecosystem-explorer/scripts/generate-agent-docs.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/azureeventhubreceiver-ae75090054ad.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/filterprocessor-c6bb9c924496.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/opensearchexporter-56d8b8dba759.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/routingconnector-8ceb6a08d05c.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/transformprocessor-4a3ad1f91db8.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.16.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.29.1-SNAPSHOT/instrumentation.yaml
Due: none

fix(v1): localize list-control filter chips, relocate outline button variant
  ecosystem-explorer/src/v1/components/list/controls.test.tsx
  ecosystem-explorer/src/v1/components/list/controls.tsx
  ecosystem-explorer/src/v1/styles/buttons.css
  ecosystem-explorer/src/v1/styles/list-controls.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #786
  786/desktop-dark-collector-detail.png
  786/desktop-dark-detail-telemetry.png
  786/desktop-dark-dev-components.png
  786/desktop-dark-home.png
  786/desktop-light-collector-detail.png
  786/desktop-light-dev-components.png
  786/desktop-light-home.png
  786/diffs/main/desktop-dark-detail-telemetry.png
  786/diffs/main/mobile-dark-detail-configuration.png
  786/diffs/main/mobile-light-detail-configuration.png
  786/diffs/main/tablet-dark-detail-configuration.png
  786/diffs/main/tablet-light-detail-configuration.png
  786/diffs/main/tablet-light-detail-telemetry.png
  786/mobile-dark-detail-configuration.png
  786/mobile-dark-dev-components.png
  786/mobile-dark-home.png
  786/mobile-light-detail-configuration.png
  786/mobile-light-dev-components.png
  786/mobile-light-home.png
  786/tablet-dark-collector-detail.png
  786/tablet-dark-detail-configuration.png
  786/tablet-dark-dev-components.png
  786/tablet-dark-home.png
  786/tablet-light-collector-detail.png
  786/tablet-light-detail-configuration.png
  786/tablet-light-detail-telemetry.png
  786/tablet-light-dev-components.png
  786/tablet-light-home.png
Due: none

chore: update main screenshot baseline (2de01ec)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (417dcc5)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-list.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-list.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list.png
  main/mobile-light-home.png
  main/tablet-dark-collector-list.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-collector-list.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

docs: update screenshots for PR #787
  787/desktop-dark-collector-detail.png
  787/desktop-dark-collector-list.png
  787/desktop-dark-detail-configuration.png
  787/desktop-dark-detail-telemetry.png
  787/desktop-dark-dev-components.png
  787/desktop-dark-home.png
  787/desktop-light-collector-detail.png
  787/desktop-light-collector-list.png
  787/desktop-light-detail-telemetry.png
  787/desktop-light-dev-components.png
  787/desktop-light-home.png
  787/diffs/main/desktop-dark-detail-configuration.png
  787/diffs/main/desktop-dark-detail-telemetry.png
  787/diffs/main/desktop-light-detail-telemetry.png
  787/diffs/main/mobile-dark-detail-configuration.png
  787/diffs/main/mobile-dark-detail-telemetry.png
  787/diffs/main/mobile-light-detail-telemetry.png
  787/diffs/main/tablet-dark-detail-configuration.png
  787/diffs/main/tablet-dark-detail-telemetry.png
  787/mobile-dark-collector-list.png
  787/mobile-dark-detail-configuration.png
  787/mobile-dark-detail-telemetry.png
  787/mobile-dark-dev-components.png
  787/mobile-dark-home.png
  787/mobile-light-collector-list.png
  787/mobile-light-detail-telemetry.png
  787/mobile-light-dev-components.png
  787/tablet-dark-collector-detail.png
  787/tablet-dark-collector-list.png
  787/tablet-dark-detail-configuration.png
  787/tablet-dark-detail-telemetry.png
  787/tablet-dark-dev-components.png
  787/tablet-dark-home.png
  787/tablet-light-collector-list.png
  787/tablet-light-dev-components.png
  787/tablet-light-home.png
Due: none

Fix edge function
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

updates
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix flash
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

review comments
  ecosystem-explorer/index.html
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

add docs and address review comments
  docs/AGENT_READINESS.md
  docs/README.md
  docs/seo-and-agent-delivery.md
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

more reviwe comments
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/awscloudwatchmetricstreamsencodingextension-f496eedb7110.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/awsfirehosereceiver-b2755cd01385.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/awslambdareceiver-f8821d9e0413.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/awslogsencodingextension-b039f4c2688c.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/azureencodingextension-25449143ede4.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/dynamicsamplingprocessor-f39722666612.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/googlecloudpubsubpushreceiver-43d297496111.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/kafkaexporter-7ba640b7dbde.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/kafkareceiver-9e4b37b43013.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/opensearchexporter-10e3006fc682.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/postgresqlreceiver-80529b15c4bc.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/unrollprocessor-7421d6ff0f0a.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.17.0/instrumentation.yaml
  ecosystem-registry/dotnet/v1.17.1-SNAPSHOT/instrumentation.yaml
Due: none

docs: update screenshots for PR #787
  787/desktop-dark-collector-detail.png
  787/desktop-dark-detail-configuration.png
  787/desktop-dark-detail-telemetry.png
  787/desktop-dark-home.png
  787/desktop-light-collector-detail.png
  787/desktop-light-detail-configuration.png
  787/desktop-light-detail-telemetry.png
  787/desktop-light-home.png
  787/diffs/main/desktop-dark-detail-configuration.png
  787/diffs/main/desktop-dark-detail-telemetry.png
  787/diffs/main/desktop-light-detail-configuration.png
  787/diffs/main/desktop-light-detail-telemetry.png
  787/diffs/main/mobile-dark-detail-configuration.png
  787/diffs/main/tablet-dark-detail-configuration.png
  787/diffs/main/tablet-dark-detail-telemetry.png
  787/diffs/main/tablet-light-detail-configuration.png
  787/mobile-dark-detail-configuration.png
  787/mobile-dark-home.png
  787/mobile-light-home.png
  787/tablet-dark-collector-detail.png
  787/tablet-dark-detail-configuration.png
  787/tablet-dark-detail-telemetry.png
  787/tablet-dark-home.png
  787/tablet-light-detail-configuration.png
  787/tablet-light-home.png
Due: none

chore: update main screenshot baseline (a65d168)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-dev-components.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/awsecsattributesprocessor-1c512c5af949.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/dockerstatsreceiver-a5542b7cee7c.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/githubreceiver-158b626f6043.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/journaldreceiver-c6285c832b61.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/k8sattributesprocessor-217c4b37656f.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/k8sclusterreceiver-d8e52b724742.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/mongodbreceiver-61be9b3c4bb2.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/component_readmes/rabbitmqreceiver-40c743eefe21.md
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.156.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.17.1-SNAPSHOT/instrumentation.yaml
Due: none

restored code dropped by merge of main
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/lib/instrumentation-default-entries.test.ts
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

update link to schema docs
  ecosystem-explorer/src/lib/yaml-generator.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (447cd3a)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (1278e79)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
