Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix/893 smoother page loads (#894)
  ecosystem-automation/AGENTS.md
  ecosystem-automation/explorer-db-builder/README.md
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-explorer/public/data/announcements/javaagent.json
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/features/java-agent/components/java-agent-announcements.test.tsx
  ecosystem-explorer/src/features/java-agent/components/java-agent-announcements.tsx
  ecosystem-explorer/src/features/java-agent/hooks/use-java-agent-announcements.ts
  ecosystem-explorer/src/hooks/use-delayed-flag.test.ts
  ecosystem-explorer/src/hooks/use-delayed-flag.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (e17da7f)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/instrumentation.yaml
Due: none

Update explorer database (all)
  ecosystem-explorer/public/data/configuration/versions-index.json
  ecosystem-explorer/public/data/configuration/versions/1.2.0.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (505e9e9)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (e34676d)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/oracledbreceiver-405b06f34deb.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/sdnotifyextension-41847d613559.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/sdnotifyextension-59095313b822.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/sqlserverreceiver-db50ea1a44d2.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/genainormalizerprocessor-d414d53b2706.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.161.0/component_readmes/batchprocessor-c0822f91eabb.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/debugexporter-61a0217afe06.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/forwardconnector-691f911b2898.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/memorylimiterextension-29ed813905db.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/memorylimiterprocessor-c684265071b4.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/nopexporter-0369e7497b0c.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/nopreceiver-4656287b01bd.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/otlpexporter-5c285c9c839d.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/otlphttpexporter-7cb697fbd051.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/otlpreceiver-776e28d0ac0f.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/queuebatchprocessor-a090afd6a732.md
  ecosystem-registry/collector/core/v0.161.0/component_readmes/zpagesextension-23b462a61b1a.md
  ecosystem-registry/collector/core/v0.161.0/connector.yaml
  ecosystem-registry/collector/core/v0.161.0/exporter.yaml
  ecosystem-registry/collector/core/v0.161.0/extension.yaml
  ecosystem-registry/collector/core/v0.161.0/processor.yaml
  ecosystem-registry/collector/core/v0.161.0/receiver.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/batchprocessor-c0822f91eabb.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/debugexporter-61a0217afe06.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/forwardconnector-691f911b2898.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/memorylimiterextension-29ed813905db.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/memorylimiterprocessor-c684265071b4.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/nopexporter-0369e7497b0c.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/nopreceiver-4656287b01bd.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/otlpexporter-5c285c9c839d.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/otlphttpexporter-7cb697fbd051.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/otlpreceiver-776e28d0ac0f.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/queuebatchprocessor-a090afd6a732.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/zpagesextension-23b462a61b1a.md
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/receiver.yaml
Due: none

fix(v1): address release, drawer and acceptance review
  .github/workflows/nightly-declarative-config-test.yml
  ecosystem-explorer/scripts/acceptance.mjs
  ecosystem-explorer/scripts/acceptance.test.mjs
  ecosystem-explorer/scripts/generate-test-config.mjs
  ecosystem-explorer/src/test/setup.ts
  ecosystem-explorer/src/v1/components/list/facet-panel.test.tsx
  ecosystem-explorer/src/v1/components/list/facet-panel.tsx
  ecosystem-explorer/src/v1/components/list/facets.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.test.tsx
  ecosystem-explorer/src/v1/lib/collector-release.test.ts
  ecosystem-explorer/src/v1/lib/collector-release.ts
  ecosystem-explorer/src/v1/lib/list-filters.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style(v1): use exact complementary media queries
  ecosystem-explorer/src/v1/styles/language-toggle.css
  ecosystem-explorer/src/v1/styles/navbar.css
  ecosystem-explorer/src/v1/styles/theme-toggle.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

docs: update screenshots for PR #1083
  1083/desktop-dark-detail-configuration.png
  1083/desktop-dark-detail-details.png
  1083/desktop-dark-detail-telemetry.png
  1083/desktop-dark-home.png
  1083/desktop-light-detail-configuration.png
  1083/desktop-light-detail-details.png
  1083/desktop-light-detail-telemetry.png
  1083/desktop-light-home.png
  1083/diffs/main/desktop-dark-detail-configuration.png
  1083/diffs/main/desktop-dark-detail-details.png
  1083/diffs/main/desktop-dark-detail-telemetry.png
  1083/diffs/main/desktop-light-detail-configuration.png
  1083/diffs/main/desktop-light-detail-details.png
  1083/diffs/main/desktop-light-detail-telemetry.png
  1083/diffs/main/mobile-dark-detail-configuration.png
  1083/diffs/main/mobile-dark-detail-details.png
  1083/diffs/main/mobile-light-detail-configuration.png
  1083/diffs/main/mobile-light-detail-details.png
  1083/diffs/main/tablet-dark-detail-configuration.png
  1083/diffs/main/tablet-dark-detail-details.png
  1083/diffs/main/tablet-dark-detail-telemetry.png
  1083/diffs/main/tablet-light-detail-configuration.png
  1083/diffs/main/tablet-light-detail-details.png
  1083/diffs/main/tablet-light-detail-telemetry.png
  1083/mobile-dark-detail-configuration.png
  1083/mobile-dark-detail-details.png
  1083/mobile-dark-home.png
  1083/mobile-light-detail-configuration.png
  1083/mobile-light-detail-details.png
  1083/mobile-light-home.png
  1083/tablet-dark-detail-configuration.png
  1083/tablet-dark-detail-details.png
  1083/tablet-dark-detail-telemetry.png
  1083/tablet-dark-home.png
  1083/tablet-light-detail-configuration.png
  1083/tablet-light-detail-details.png
  1083/tablet-light-detail-telemetry.png
  1083/tablet-light-home.png
Due: none

test(v1): wait for lazy routes before navigation assertions
  ecosystem-explorer/src/v1/V1App.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #1083
  1083/desktop-dark-detail-configuration.png
  1083/desktop-dark-detail-telemetry.png
  1083/desktop-dark-home.png
  1083/desktop-light-detail-configuration.png
  1083/desktop-light-detail-details.png
  1083/desktop-light-detail-telemetry.png
  1083/desktop-light-home.png
  1083/diffs/main/desktop-dark-detail-configuration.png
  1083/diffs/main/desktop-dark-detail-telemetry.png
  1083/diffs/main/desktop-light-detail-configuration.png
  1083/diffs/main/desktop-light-detail-details.png
  1083/diffs/main/desktop-light-detail-telemetry.png
  1083/diffs/main/mobile-dark-detail-configuration.png
  1083/diffs/main/tablet-dark-detail-configuration.png
  1083/diffs/main/tablet-dark-detail-details.png
  1083/diffs/main/tablet-dark-detail-telemetry.png
  1083/diffs/main/tablet-light-detail-configuration.png
  1083/diffs/main/tablet-light-detail-details.png
  1083/mobile-dark-detail-configuration.png
  1083/mobile-dark-home.png
  1083/mobile-light-home.png
  1083/tablet-dark-detail-configuration.png
  1083/tablet-dark-detail-details.png
  1083/tablet-dark-detail-telemetry.png
  1083/tablet-dark-home.png
  1083/tablet-light-detail-configuration.png
  1083/tablet-light-detail-details.png
  1083/tablet-light-home.png
Due: none

Update explorer database (all)
  ecosystem-explorer/public/data/collector/bundles/0.161.0-ce36d53d25e2.json
  ecosystem-explorer/public/data/collector/ecosystem-stats.json
  ecosystem-explorer/public/data/collector/index.json
  ecosystem-explorer/public/data/collector/versions-index.json
  ecosystem-explorer/public/data/collector/versions/0.161.0-index.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Normalize version string by removing leading 'v'
  ecosystem-explorer/src/v1/lib/collector-release.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #1083
  1083/desktop-dark-detail-configuration.png
  1083/desktop-dark-detail-telemetry.png
  1083/desktop-dark-home.png
  1083/desktop-light-detail-configuration.png
  1083/desktop-light-detail-details.png
  1083/desktop-light-detail-telemetry.png
  1083/desktop-light-home.png
  1083/diffs/main/desktop-dark-detail-configuration.png
  1083/diffs/main/desktop-dark-detail-telemetry.png
  1083/diffs/main/desktop-light-detail-configuration.png
  1083/diffs/main/desktop-light-detail-details.png
  1083/diffs/main/desktop-light-detail-telemetry.png
  1083/diffs/main/mobile-dark-detail-configuration.png
  1083/diffs/main/mobile-light-detail-telemetry.png
  1083/diffs/main/tablet-dark-detail-configuration.png
  1083/diffs/main/tablet-dark-detail-details.png
  1083/diffs/main/tablet-dark-detail-telemetry.png
  1083/diffs/main/tablet-light-detail-configuration.png
  1083/diffs/main/tablet-light-detail-details.png
  1083/diffs/main/tablet-light-detail-telemetry.png
  1083/mobile-dark-detail-configuration.png
  1083/mobile-dark-home.png
  1083/mobile-light-detail-telemetry.png
  1083/tablet-dark-detail-configuration.png
  1083/tablet-dark-detail-details.png
  1083/tablet-dark-detail-telemetry.png
  1083/tablet-dark-home.png
  1083/tablet-light-detail-configuration.png
  1083/tablet-light-detail-details.png
  1083/tablet-light-detail-telemetry.png
  1083/tablet-light-home.png
Due: none

fix(v1): align release tests and formatting with bare version normalization
  ecosystem-explorer/src/v1/lib/collector-release.test.ts
  ecosystem-explorer/src/v1/lib/collector-release.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.2.1-SNAPSHOT/meter_provider.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/exceptionsconnector-8b4d5832dd69.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/filetelemetrypolicyextension-41699cbadc0a.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/k8sobserver-a932c191778a.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/mongodbreceiver-324d24769128.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/oracledbreceiver-fe51697da160.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/receivercreator-2981f5268aaf.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/telemetrypolicyprocessor-0b6d6eb591c9.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.161.1-SNAPSHOT/component_readmes/queuebatchprocessor-42ed616ed4d6.md
Due: none

Update registry inventory
  ecosystem-registry/dotnet/v1.18.1-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/cgroupruntimeextension-7caa49d589cc.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-636fcde129ad.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/transformprocessor-2c4ee748324b.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
Due: none

Update registry inventory
  ecosystem-registry/dotnet/v1.19.0/instrumentation.yaml
  ecosystem-registry/dotnet/v1.19.1-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/awss3receiver-82939cfbf5f5.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/azuremonitorreceiver-11ef5bb6f0c4.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/dbstorage-9489444f030c.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/grafanacloudconnector-f6efc880c9e6.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/macosunifiedloggingreceiver-948c4856e841.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/mongodbreceiver-de85f5f19926.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/mysqlreceiver-47500d67fcf9.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/sdnotifyextension-e06337f485b4.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
Due: none

review comments
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/scripts/generate-agent-docs.test.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (f15694f)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/component_readmes/lookupprocessor-ecf32f1b957b.md
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.161.1-SNAPSHOT/receiver.yaml
Due: none

chore(netlify): enable redesign flags for permanent v1 branch
  netlify.toml
Due: none

fix(v1): unify release normalization and enable browser checks
  .github/workflows/build-and-test.yml
  ecosystem-explorer/src/theme-rendering.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/list/list-page.test.tsx
  ecosystem-explorer/src/v1/lib/collector-release.test.ts
  ecosystem-explorer/src/v1/lib/collector-release.ts
  ecosystem-explorer/src/v1/lib/list-filters.test.ts
  ecosystem-explorer/src/v1/lib/list-filters.ts
  ecosystem-explorer/src/v1/styles/navbar.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #1083
  1083/desktop-dark-detail-configuration.png
  1083/desktop-dark-detail-telemetry.png
  1083/desktop-dark-home.png
  1083/desktop-light-detail-details.png
  1083/desktop-light-detail-telemetry.png
  1083/desktop-light-home.png
  1083/diffs/main/desktop-dark-detail-configuration.png
  1083/diffs/main/desktop-dark-detail-telemetry.png
  1083/diffs/main/desktop-light-detail-details.png
  1083/diffs/main/desktop-light-detail-telemetry.png
  1083/diffs/main/mobile-dark-detail-configuration.png
  1083/diffs/main/mobile-dark-detail-details.png
  1083/diffs/main/tablet-dark-detail-configuration.png
  1083/diffs/main/tablet-light-detail-details.png
  1083/diffs/main/tablet-light-detail-telemetry.png
  1083/mobile-dark-detail-configuration.png
  1083/mobile-dark-detail-details.png
  1083/mobile-dark-home.png
  1083/mobile-light-home.png
  1083/tablet-dark-detail-configuration.png
  1083/tablet-dark-home.png
  1083/tablet-light-detail-details.png
  1083/tablet-light-detail-telemetry.png
  1083/tablet-light-home.png
Due: none

chore: update main screenshot baseline (1797516)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (196ad7c)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (5856760)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (1ceba32)
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
