Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

chore: update main screenshot baseline (b5cb3e2)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Run db builder nightly
  .github/workflows/build-explorer-database.yml
Due: none

fix: address PR reviews for telemetry when-conditions corrections and format corrections YAML
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/telemetry_when_corrections.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/telemetry_when_corrections.yaml
Due: none

fix: add llms-txt link relation to index.html
  ecosystem-explorer/index.html
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (820874e)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: Move inactive members to emeritus
  README.md
Due: none

feat(v1): capture ecosystem landing pages in visual regression (Phase 3 - PR 9)
  ecosystem-explorer/scripts/take-screenshots.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

test: add LegacyApp/V1App route parity test
  ecosystem-explorer/src/route-parity.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(about): add ecosystem coverage statistics
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/ecosystem_stats.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_ecosystem_stats.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
  ecosystem-explorer/public/data/collector/ecosystem-stats.json
  ecosystem-explorer/public/data/javaagent/ecosystem-stats.json
  ecosystem-explorer/public/locales/en/about.json
  ecosystem-explorer/public/locales/es/about.json
  ecosystem-explorer/src/features/about/about-page.test.tsx
  ecosystem-explorer/src/features/about/about-page.tsx
  ecosystem-explorer/src/hooks/use-ecosystem-stats.test.ts
  ecosystem-explorer/src/hooks/use-ecosystem-stats.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: handle /javaagent path in edge function and correct sitemap URL
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
  ecosystem-explorer/public/sitemap.xml
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test: add coverage for /javaagent content negotiation path
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: use exact match and slash boundary for content negotiation paths
  ecosystem-explorer/netlify/edge-functions/__tests__/agent-negotiation.test.ts
  ecosystem-explorer/netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (cc86ed5)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.155.1-SNAPSHOT/receiver.yaml
Due: none

Update ecosystem-explorer/src/route-parity.test.ts
  ecosystem-explorer/src/route-parity.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (c64af6f)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

docs: update screenshots for PR #758
  758/desktop-dark-collector-detail.png
  758/desktop-dark-home.png
  758/desktop-light-collector-detail.png
  758/desktop-light-detail-configuration.png
  758/desktop-light-detail-telemetry.png
  758/desktop-light-home.png
  758/diffs/main/desktop-light-detail-configuration.png
  758/diffs/main/desktop-light-detail-telemetry.png
  758/diffs/main/mobile-dark-detail-configuration.png
  758/diffs/main/mobile-light-detail-configuration.png
  758/diffs/main/mobile-light-detail-telemetry.png
  758/diffs/main/tablet-dark-detail-configuration.png
  758/mobile-dark-detail-configuration.png
  758/mobile-dark-home.png
  758/mobile-light-detail-configuration.png
  758/mobile-light-detail-telemetry.png
  758/mobile-light-home.png
  758/tablet-dark-detail-configuration.png
  758/tablet-dark-home.png
  758/tablet-light-home.png
Due: none

chore: update main screenshot baseline (8e27b11)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-landing.png
  main/desktop-dark-home.png
  main/desktop-dark-java-agent-landing.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-landing.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/desktop-light-java-agent-landing.png
  main/mobile-dark-collector-landing.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-dark-java-agent-landing.png
  main/mobile-light-collector-landing.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/mobile-light-java-agent-landing.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-collector-landing.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-dark-java-agent-landing.png
  main/tablet-light-collector-detail.png
  main/tablet-light-collector-landing.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
  main/tablet-light-java-agent-landing.png
Due: none

refactor(stats): rename stats helpers and resolve paths using resolveDataPath
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/ecosystem_stats.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_ecosystem_stats.py
  ecosystem-explorer/src/hooks/use-ecosystem-stats.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (74fe4dc)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

done adding all buttons for instrumentations
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/hooks/configuration-builder-reducer.test.ts
  ecosystem-explorer/src/hooks/configuration-builder-reducer.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.test.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/lib/instrumentation-default-entries.test.ts
  ecosystem-explorer/src/lib/instrumentation-default-entries.ts
  ecosystem-explorer/src/test/integration/configuration-builder-actions.integration.test.tsx
  ecosystem-explorer/src/types/configuration-builder.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Make collector ecosystem live
  .github/copilot-instructions.md
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  ecosystem-explorer/.env.development
  ecosystem-explorer/.env.test
  ecosystem-explorer/README.md
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/lib/feature-flags.test.ts
  ecosystem-explorer/src/lib/feature-flags.ts
  ecosystem-explorer/src/v1/V1App.tsx
  netlify.toml
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed CI errors
  ecosystem-explorer/src/lib/instrumentation-default-entries.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

[chore] Move myself to emeritus
  README.md
Due: none

chore: update main screenshot baseline (9001df1)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (bb63ddf)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Document UX research approach for Ecosystem Explorer
  projects/ux-research-and-info-arc/project-approach.md
Due: none

Add research plan for OpenTelemetry user study
  projects/ux-research-and-info-arc/research-plan.md
Due: none

Add competitive analysis report
  projects/ux-research-and-info-arc/comp-analysis.md
Due: none

chore: update main screenshot baseline (80e7e5e)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (a185a23)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

Potential fix for pull request finding
  projects/ux-research-and-info-arc/research-plan.md
Due: none

feat(v1): add list page controls (Phase 4 - PR 3)
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/public/locales/en/list.json
  ecosystem-explorer/public/locales/es/list.json
  ecosystem-explorer/src/i18n/languages.ts
  ecosystem-explorer/src/test/integration/setup.ts
  ecosystem-explorer/src/test/setup.ts
  ecosystem-explorer/src/v1/components/list/controls.test.tsx
  ecosystem-explorer/src/v1/components/list/controls.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/list-controls.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer
