Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

fix: restore java routes]
  ecosystem-explorer/src/App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix corrupted bun.lock after merge
  ecosystem-explorer/bun.lock
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

formating issue solved
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/version-selector-panel.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(config-builder): final-phase polish (#459)
  ecosystem-explorer/.env.development
  ecosystem-explorer/.env.test
  ecosystem-explorer/public/data/configuration/defaults/sdk-configuration-defaults-1.0.0.json
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/ui/beta-badge.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/hooks/use-configuration-builder.test.ts
  ecosystem-explorer/src/hooks/use-configuration-builder.ts
  ecosystem-explorer/src/hooks/use-latest-java-agent-version.test.ts
  ecosystem-explorer/src/hooks/use-latest-java-agent-version.ts
  ecosystem-explorer/src/lib/feature-flags.test.ts
  ecosystem-explorer/src/lib/feature-flags.ts
  ecosystem-explorer/src/lib/schema-defaults.test.ts
  ecosystem-explorer/src/lib/schema-defaults.ts
  ecosystem-explorer/src/lib/yaml-generator.test.ts
  ecosystem-explorer/src/lib/yaml-generator.ts
  ecosystem-explorer/src/test/integration/configuration-builder-basic.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat:Expand and collaps button added
  ecosystem-explorer/src/components/ui/section-divider.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

changes requested by the maintainer
  ecosystem-explorer/package.json
  ecosystem-explorer/scripts/aggregate-configurations.mjs
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/processor.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/library_readmes/aws-sdk-2.2-ca8f778ac17f.md
Due: none

fix: show friendly version not found page on detail page for invalid versions
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: apply Prettier formatting to instrumentation detail page
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: improve mobile navigation card layout
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/version-selector.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs(84): pivot V1_REDESIGN gating to src/v1/ router boundary
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/main.tsx
  projects/84-ui-ux-design/00-foundation-audit.md
  projects/84-ui-ux-design/00-foundation.md
  projects/84-ui-ux-design/NEXT-STEPS.md
  projects/84-ui-ux-design/_index.md
  projects/84-ui-ux-design/v1-routing-pivot.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Address mentor feedback: Use NuGet service index, include prerelease, and improve snapshot versioning
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/dotnet_client.py
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/dotnet-instrumentation-watcher/tests/test_dotnet_client.py
  ecosystem-automation/dotnet-instrumentation-watcher/tests/test_instrumentation_sync.py
  ecosystem-registry/dotnet/v1.15.3+SNAPSHOT/instrumentation.yaml
  ecosystem-registry/dotnet/v1.15.3/instrumentation.yaml
Due: none

docs(84): update V1_REDESIGN note and clarify context for Phase 1 changes
  projects/84-ui-ux-design/v1-routing-pivot.md
Due: none

fix(audit): disable markdown linting for file layout section
  projects/84-ui-ux-design/00-foundation-audit.md
Due: none

fix(deps): remove duplicate entry for react-style-singleton in bun.lock
  ecosystem-explorer/bun.lock
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat: add v1-registry-sync dry-run tool for syncing V2 data into V1 entries
  ecosystem-automation/v1-registry-sync/pyproject.toml
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/__init__.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/main.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/models.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/reader.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/reporter.py
  ecosystem-automation/v1-registry-sync/tests/__init__.py
  ecosystem-automation/v1-registry-sync/tests/test_reader.py
  ecosystem-automation/v1-registry-sync/tests/test_reporter.py
  pyproject.toml
Due: none

fix: add missing copyright header to tests/__init__.py
  ecosystem-automation/v1-registry-sync/tests/__init__.py
Due: none

feat(v1): scaffold src/v1/ and move dormant navbar/theme-toggle/icons
  ecosystem-explorer/src/v1/components/icons/bs-icon-circle-half.tsx
  ecosystem-explorer/src/v1/components/icons/bs-icon-moon-stars-fill.tsx
  ecosystem-explorer/src/v1/components/icons/bs-icon-sun-fill.tsx
  ecosystem-explorer/src/v1/components/icons/opentelemetry-wordmark.tsx
  ecosystem-explorer/src/v1/components/layout/nav-bar.test.tsx
  ecosystem-explorer/src/v1/components/layout/nav-bar.tsx
  ecosystem-explorer/src/v1/components/ui/theme-toggle.test.tsx
  ecosystem-explorer/src/v1/components/ui/theme-toggle.tsx
  ecosystem-explorer/src/v1/styles/navbar.css
  ecosystem-explorer/src/v1/styles/theme-toggle.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(app): extract LegacyApp into src/LegacyApp.tsx
  ecosystem-explorer/src/LegacyApp.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(v1): introduce <V1App /> and the V1_REDESIGN boundary read in App.tsx
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/v1/V1App.test.tsx
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(v1): scope v1 styles via .v1-app wrapper
  ecosystem-explorer/src/styles/index.css
  ecosystem-explorer/src/styles/tokens.css
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/tokens.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

docs(84): update planning artifacts for PR 2b
  projects/84-ui-ux-design/00-foundation-audit.md
  projects/84-ui-ux-design/NEXT-STEPS.md
  projects/84-ui-ux-design/v1-routing-pivot.md
Due: none

chore(v1): complete src/v1/ move with barrel and rewritten imports
  ecosystem-explorer/src/v1/components/layout/nav-bar.tsx
  ecosystem-explorer/src/v1/components/ui/theme-toggle.tsx
  ecosystem-explorer/src/v1/index.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): apply .v1-app to <html> so body bg uses v1 surface tokens
  ecosystem-explorer/src/main.tsx
  projects/84-ui-ux-design/00-foundation-audit.md
  projects/84-ui-ux-design/NEXT-STEPS.md
  projects/84-ui-ux-design/v1-routing-pivot.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: add research findings for issue 461 license and tags auto-derivability
  projects/461-license-tags-research/00-research.md
  projects/461-license-tags-research/_index.md
Due: none

docs(v1): add route-sync warnings, log footer contrast audit
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/v1/V1App.tsx
  projects/84-ui-ux-design/00-foundation-audit.md
  projects/84-ui-ux-design/v1-routing-pivot.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): remove trailing space in route-sync comment
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(dotnet-watcher): address mentor review feedback
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/dotnet_client.py
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/dotnet-instrumentation-watcher/tests/test_dotnet_client.py
  ecosystem-explorer/src/components/ui/glow-badge.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #470
  470/desktop-dark-home.png
  470/desktop-light-home.png
  470/mobile-dark-home.png
  470/mobile-light-detail-telemetry.png
  470/mobile-light-home.png
  470/tablet-dark-collector-detail.png
  470/tablet-dark-detail-telemetry.png
  470/tablet-dark-home.png
  470/tablet-light-home.png
Due: none

added-about-page
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

made-few-changes
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/layout/breadcrumbs.tsx
  ecosystem-explorer/src/components/layout/header.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

keep about nav change only
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/layout/breadcrumbs.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

remove generated schema noise
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/receiver.yaml
Due: none

fix: address reviewer feedback on v1-registry-sync
  ecosystem-automation/v1-registry-sync/README.md
  ecosystem-automation/v1-registry-sync/pyproject.toml
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/main.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/models.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/reader.py
  ecosystem-automation/v1-registry-sync/tests/test_reader.py
  ecosystem-automation/v1-registry-sync/tests/test_reporter.py
Due: none

fix: add language to fenced code blocks in README and fix prettier formatting
  ecosystem-automation/v1-registry-sync/README.md
Due: none

feat(docs): add CLAUDE.md with reference to AGENTS.md
  CLAUDE.md
Due: none
