Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

style: fix prettier formatting in instrumentation detail page files
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (ec6efad)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (000c8bb)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

fix: preserve filter params when switching versions in the version selector
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(v1): EcosystemsGrid (Phase 2 - Home page PR 4)
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.test.tsx
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/ecosystems-grid.css
  ecosystem-explorer/src/v1/styles/home.css
  ecosystem-explorer/src/v1/styles/index.css
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): tighten EcosystemsGrid type-safety and reuse
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.test.tsx
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/ecosystems-grid.css
  ecosystem-explorer/src/v1/styles/home.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: unify loading states across the application
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/components/ui/Loader.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/telemetry-comparison-section.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/v1/V1App.tsx
  ecosystem-explorer/tsconfig.app.json
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (3c3ff86)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: address Copilot AI review feedback for unified loading states
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/components/ui/loader.test.tsx
  ecosystem-explorer/src/components/ui/loader.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/telemetry-comparison-section.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/v1/V1App.tsx
  projects/84-ui-ux-design/05-footer-cncf-callout-spec.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix formatting and markdown lint errors
  ecosystem-explorer/src/components/ui/loader.test.tsx
  projects/84-ui-ux-design/05-footer-cncf-callout-spec.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address reviewer comments on tsconfig, file cleanup, and red flash loader logic
  ecosystem-explorer/tsconfig.app.json
  projects/84-ui-ux-design/05-footer-cncf-callout-spec.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix(a11y): drop unannounced aria-label from coming-soon card div
  ecosystem-explorer/src/v1/components/home/ecosystems-grid.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(ci): capture full-page screenshots for home and list pages
  ecosystem-explorer/scripts/take-screenshots.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Remove Vitor Vasconcellos from maintainers and approvers
  README.md
Due: none

Fix linting error
  .markdownlint-cli2.yaml
Due: none

Add keyboard navigation to search overlay
  ecosystem-explorer/src/components/ui/search-overlay.test.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix search overlay formatting and lint
  ecosystem-explorer/src/components/ui/search-overlay.test.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(v1): SignalsRow (Phase 2 - Home page PR 5)
  ecosystem-explorer/src/v1/components/home/signals-row.test.tsx
  ecosystem-explorer/src/v1/components/home/signals-row.tsx
  ecosystem-explorer/src/v1/features/_dev/components-page.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/home.css
  ecosystem-explorer/src/v1/styles/index.css
  ecosystem-explorer/src/v1/styles/signals-row.css
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): tighten SignalsRow comments and test selectors
  ecosystem-explorer/src/v1/components/home/signals-row.test.tsx
  ecosystem-explorer/src/v1/components/home/signals-row.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/styles/signals-row.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address react-doctor warnings
  ecosystem-explorer/src/v1/components/home/signals-row.test.tsx
  ecosystem-explorer/src/v1/components/home/signals-row.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(signals-row): update descriptions to include 'components' for clarity
  ecosystem-explorer/src/v1/components/home/signals-row.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Tune search overlay hover tint
  ecosystem-explorer/src/components/ui/search-overlay.test.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Format search overlay tests
  ecosystem-explorer/src/components/ui/search-overlay.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: address Copilot and reviewer feedback on expand preview dialog
  ecosystem-explorer/src/components/ui/dialog.test.tsx
  ecosystem-explorer/src/components/ui/dialog.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix zizmor errors for survey-on-merged
  .github/workflows/survey-on-merged-pr.yml
Due: none

fixes on survey on merge pr
  .github/workflows/survey-on-merged-pr.yml
Due: none

chore: fixes on survey on merge pr (#546)
  .github/workflows/survey-on-merged-pr.yml
Due: none

fixes on build and test
  .github/workflows/build-and-test.yml
Due: none

chore: add missing names to workflows
  .github/workflows/build-explorer-database.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/reusable-workflow-notification.yml
  .github/workflows/scorecard.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

chore: fix possible code injection
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
Due: none

add quotes
  .github/workflows/build-explorer-database.yml
Due: none

add comments to permissions
  .github/workflows/build-and-test.yml
  .github/workflows/build-explorer-database.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/reusable-workflow-notification.yml
  .github/workflows/screenshots-baseline.yml
  .github/workflows/screenshots-capture.yml
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
  .github/workflows/survey-on-merged-pr.yml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/processor.yaml
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
