Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Update ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: Expand and Collaps button added
  ecosystem-explorer/src/features/java-agent/components/attribute-table.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

derived versions at runtime, fixed collector URL, and asserted no error pages
  .github/workflows/screenshots-capture.yml
  ecosystem-explorer/scripts/take-screenshots.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Failed test Fixed
  ecosystem-explorer/src/components/ui/searchable-multi-select.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: handle versions load failure and bypass stale IDB cache (#409)
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix prettier formatting
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: guard validate call with try/catch and update comment wording
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor: improve badge hierarchy and reuse formatting utilities
  ecosystem-explorer/src/components/ui/searchable-multi-select.test.tsx
  ecosystem-explorer/src/components/ui/searchable-multi-select.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix: build fixed
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Potential fix for pull request finding
  ecosystem-explorer/src/test/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix: node type added
  ecosystem-explorer/src/components/ui/searchable-multi-select.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix: removing the unused parameter
  ecosystem-explorer/src/test/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Potential fix for pull request finding
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: improve dark mode select dropdown accessibility
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/version-selector-panel.tsx
  ecosystem-explorer/src/features/java-agent/components/version-selector.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-styles.ts
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Potential fix for pull request finding
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: improve dark mode
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/version-selector-panel.tsx
  ecosystem-explorer/src/features/java-agent/components/version-selector.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-styles.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(collector): revamp stability tab and distribution availability
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: implement global java agent config explorer with declarative toggle (#152)
  ecosystem-explorer/aggregate-configurations.cjs
  ecosystem-explorer/package.json
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs(contrib): uv pre-commit
  .gitignore
  CONTRIBUTING.md
Due: none

fix: add python-version-file to setup-python step in nightly workflow
  .github/workflows/nightly-registry-update.yml
Due: none

Added a back navigation button to the About page
  ecosystem-explorer/src/features/about/about-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Added a back navigation button to the Collector page
  ecosystem-explorer/src/features/collector/collector-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

fix(workflow): reposition otelbot token retrieval in screenshots commit workflow
  .github/workflows/screenshots-commit.yml
Due: none

docs: update screenshots for PR #377
  377/collector-detail.png
  377/collector-list.png
  377/desktop-collector-detail.png
  377/desktop-collector-list.png
  377/desktop-detail-configuration.png
  377/desktop-detail-details.png
  377/desktop-detail-telemetry.png
  377/desktop-home.png
  377/desktop-instrumentation-list.png
  377/home.png
  377/instrumentation-list.png
  377/mobile-collector-detail.png
  377/mobile-collector-list.png
  377/mobile-detail-configuration.png
  377/mobile-detail-details.png
  377/mobile-detail-telemetry.png
  377/mobile-home.png
  377/mobile-instrumentation-list.png
  377/tablet-collector-detail.png
  377/tablet-collector-list.png
  377/tablet-detail-configuration.png
  377/tablet-detail-details.png
  377/tablet-detail-telemetry.png
  377/tablet-home.png
  377/tablet-instrumentation-list.png
Due: none

fix(collector): show per-signal stability levels and remove generic fallback description
  ecosystem-explorer/src/features/collector/collector-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(theme): use useSyncExternalStore for system color-scheme
  ecosystem-explorer/src/theme-context.test.tsx
  ecosystem-explorer/src/theme-context.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(screenshots): capture both light and dark themes
  ecosystem-explorer/scripts/take-screenshots.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: rewrite decision-log entries as proper single-line table rows so they render
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

refactor(theme): simplify theme detection logic in index.html
  ecosystem-explorer/index.html
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

docs: update screenshots for PR #377
  377/desktop-dark-home.png
  377/desktop-light-home.png
  377/mobile-dark-home.png
  377/mobile-light-collector-detail.png
  377/mobile-light-home.png
  377/tablet-dark-detail-details.png
  377/tablet-dark-home.png
  377/tablet-light-collector-detail.png
  377/tablet-light-detail-details.png
  377/tablet-light-home.png
Due: none

docs: add research findings for issue 119 legacy registry comparison
  projects/119-legacy-registry-research/00-research.md
  projects/119-legacy-registry-research/NEXT-STEPS.md
  projects/119-legacy-registry-research/_index.md
Due: none

fix: apply Prettier formatting and fix markdownlint errors in research docs
  projects/119-legacy-registry-research/00-research.md
  projects/119-legacy-registry-research/NEXT-STEPS.md
  projects/119-legacy-registry-research/_index.md
Due: none

fix(hero): restore orange dominance in gradient and shadows
  ecosystem-explorer/src/components/icons/compass.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #377
  377/desktop-dark-detail-details.png
  377/desktop-dark-home.png
  377/desktop-light-home.png
  377/mobile-dark-home.png
  377/mobile-light-collector-detail.png
  377/mobile-light-home.png
  377/tablet-dark-home.png
  377/tablet-light-detail-details.png
  377/tablet-light-home.png
Due: none

fix(screenshots): render light and dark in collapsible per-page sections
  .github/workflows/screenshots-cleanup.yml
  .github/workflows/screenshots-commit.yml
Due: none

chore(docs): update screenshots workflow docs
  docs/screenshots-workflow.md
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
