Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

Update registry inventory
  ecosystem-registry/java/javaagent/v2.26.1/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

address PR review feedback
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
  ecosystem-automation/collector-watcher/src/collector_watcher/repository_manager.py
  ecosystem-automation/collector-watcher/src/collector_watcher/version_detector.py
  ecosystem-automation/collector-watcher/tests/test_version_detector.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/configuration_sync.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/repository_manager.py
  ecosystem-automation/configuration-watcher/src/configuration_watcher/version_detector.py
  ecosystem-automation/configuration-watcher/tests/test_version_detector.py
  ecosystem-automation/watcher-common/pyproject.toml
  ecosystem-automation/watcher-common/src/watcher_common/repository_manager.py
  package-lock.json
  uv.lock
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.148.1-SNAPSHOT/receiver.yaml
Due: none

Add schema resolver with internal ref resolution
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_resolver.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_resolver.py
Due: none

Add integration tests with real configuration schemas
  ecosystem-automation/explorer-db-builder/tests/test_schema_resolver.py
Due: none

Add cross-file ref resolution to schema resolver
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_resolver.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_resolver.py
Due: none

Add watcher-common dependency to explorer-db-builder
  ecosystem-automation/explorer-db-builder/pyproject.toml
Due: none

Restructure main.py to orchestrate javaagent and configuration builders
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
Due: none

Add configuration builder pipeline
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_builder.py
Due: none

Add sibling merging tests for schema resolver
  ecosystem-automation/explorer-db-builder/tests/test_schema_resolver.py
Due: none

Add circular reference detection to schema resolver
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_resolver.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_resolver.py
Due: none

Add defs stripping tests for schema resolver
  ecosystem-automation/explorer-db-builder/tests/test_schema_resolver.py
Due: none

Add _extract_type_info helper for schema UI mapper
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_ui_mapper.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_ui_mapper.py
  uv.lock
Due: none

Add _generate_label helper for schema UI mapper
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_ui_mapper.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_ui_mapper.py
Due: none

Add _classify_node with 12 control type rules
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_ui_mapper.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_ui_mapper.py
Due: none

Add schema-to-UI tree mapper
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_ui_mapper.py
  ecosystem-automation/explorer-db-builder/tests/test_schema_ui_mapper.py
Due: none

Integrate schema-to-UI mapper into configuration builder pipeline
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_builder.py
Due: none

Add integration tests for schema UI mapper with real schemas
  ecosystem-automation/explorer-db-builder/tests/test_schema_ui_mapper.py
Due: none

Add generated configuration schema database
  ecosystem-explorer/public/data/configuration/versions-index.json
  ecosystem-explorer/public/data/configuration/versions/1.0.0.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Fix nested root path and scope circular ref detection to file
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_resolver.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/schema_ui_mapper.py
  ecosystem-explorer/public/data/configuration/versions/1.0.0.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat: add configuration data layer to explorer (#173)
  ecosystem-explorer/src/hooks/data-state.ts
  ecosystem-explorer/src/hooks/use-configuration-data.test.ts
  ecosystem-explorer/src/hooks/use-configuration-data.ts
  ecosystem-explorer/src/lib/api/configuration-data.test.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/types/configuration.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(explorer): add integration test suite using real database content
  ecosystem-explorer/package-lock.json
  ecosystem-explorer/package.json
  ecosystem-explorer/src/test/integration/database-structure.integration.test.ts
  ecosystem-explorer/src/test/integration/helpers/fetch-interceptor.ts
  ecosystem-explorer/src/test/integration/instrumentation-detail.integration.test.tsx
  ecosystem-explorer/src/test/integration/instrumentation-list.integration.test.tsx
  ecosystem-explorer/src/test/integration/setup.ts
  ecosystem-explorer/tsconfig.app.json
  ecosystem-explorer/vitest.integration.config.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(explorer): add integration test suite to the CI workflow
  .github/workflows/build-and-test.yml
Due: none

test(explorer): fix instrumentation-detail integration test
  ecosystem-explorer/src/test/integration/instrumentation-detail.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

detail page
  ecosystem-explorer/src/components/ui/detail-card.tsx
  ecosystem-explorer/src/components/ui/glow-badge.tsx
  ecosystem-explorer/src/components/ui/section-header.tsx
  ecosystem-explorer/src/components/ui/tabs.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

remove
  .markdownlint-cli2.yaml
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/src/components/ui/tabs.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

update note
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.148.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.148.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

update
  CONTRIBUTING.md
Due: none

diagram
  docs/media/component-overview.excalidraw
  docs/media/component-overview.svg
Due: none

Switch to using bun
  .github/workflows/build-and-test.yml
  .github/workflows/markdown-lint.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ecosystem-explorer/README.md
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package-lock.json
  ecosystem-explorer/package.json
  package-lock.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

updates
  CONTRIBUTING.md
  bun.lock
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.148.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.148.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.149.0/connector.yaml
  ecosystem-registry/collector/core/v0.149.0/exporter.yaml
  ecosystem-registry/collector/core/v0.149.0/extension.yaml
  ecosystem-registry/collector/core/v0.149.0/processor.yaml
  ecosystem-registry/collector/core/v0.149.0/receiver.yaml
  ecosystem-registry/collector/core/v0.149.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.149.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.149.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.149.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.149.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.26.2-SNAPSHOT/instrumentation.yaml
Due: none

Update action token permissions
  .github/workflows/build-and-test.yml
  .github/workflows/build-explorer-database.yml
  .github/workflows/nightly-registry-update.yml
Due: none

Add control components for configuration explorer (#174)
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-wrapper.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-wrapper.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-list-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-list-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/string-list-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/string-list-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/text-input-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/text-input-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/toggle-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/toggle-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.149.0/connector.yaml
  ecosystem-registry/collector/contrib/v0.149.0/exporter.yaml
  ecosystem-registry/collector/contrib/v0.149.0/extension.yaml
  ecosystem-registry/collector/contrib/v0.149.0/processor.yaml
  ecosystem-registry/collector/contrib/v0.149.0/receiver.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.149.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_cpp.yaml
Due: none

Update registry inventory
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_go.yaml
Due: none

Fix review feedback on control components
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/control-wrapper.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/select-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer
