Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(explorer): add tooltips and hover info to java agent UI (Issue #293)
  ecosystem-explorer/package.json
  ecosystem-explorer/src/components/ui/tooltip.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-badges.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-badges.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-group-card.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update ecosystem-explorer/src/types/javaagent.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
Due: none

fix: resolve CI failures by fixing naming inconsistencies, redundant loads, and updating workflows
  .github/workflows/build-and-test.yml
  .github/workflows/screenshots.yml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

configuration-builder: TOC buttons and back button on java-agent landing
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/configuration-toc-sidebar.tsx
  ecosystem-explorer/src/features/java-agent/java-agent-page.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-basic.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

increment DB cache schema version on changes
  .github/workflows/build-explorer-database.yml
Due: none

fix(explorer): fix tooltip clipping and inherited text-transform
  ecosystem-explorer/src/components/ui/tooltip.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): resolve CI failures by syncing lockfile and fixing tooltip issues
  ecosystem-explorer/bun.lock
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Revert changes to .github/workflows/screenshots.yml as requested by mentor
  .github/workflows/screenshots.yml
Due: none

actions
  .github/workflows/build-explorer-database.yml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
Due: none

Auto-increment DB_VERSION on database rebuild (#308)
  .github/workflows/build-explorer-database.yml
Due: none

Update explorer database
  ecosystem-explorer/public/data/javaagent/instrumentations/external-annotations/external-annotations-8c92f339cf61.json
  ecosystem-explorer/public/data/javaagent/instrumentations/external-annotations/external-annotations-d65a552db9da.json
  ecosystem-explorer/public/data/javaagent/instrumentations/jmx-metrics/jmx-metrics-b72871c123a7.json
  ecosystem-explorer/public/data/javaagent/instrumentations/methods/methods-441fe7278b5c.json
  ecosystem-explorer/public/data/javaagent/instrumentations/opentelemetry-extension-annotations-1.0/opentelemetry-extension-annotations-1.0-95c0b698dc1c.json
  ecosystem-explorer/public/data/javaagent/instrumentations/opentelemetry-instrumentation-annotations-1.16/opentelemetry-instrumentation-annotations-1.16-a8aea4f6f24b.json
  ecosystem-explorer/public/data/javaagent/versions/2.26.1-index.json
  ecosystem-explorer/public/data/javaagent/versions/2.27.0-index.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Remove assertion
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

format
  .github/workflows/build-explorer-database.yml
Due: none

Fix import formatting in tooltip.tsx and finalize merge
  ecosystem-explorer/src/components/ui/tooltip.tsx
  ecosystem-explorer/test_output.txt
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Remove temporary test output file
  ecosystem-explorer/test_output.txt
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update AGENTS.md
  AGENTS.md
Due: none

Update ecosystem-explorer/README.md
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

style: run prettier to fix formatting issues in AGENTS.md and workflow
  AGENTS.md
Due: none

style: run prettier to fix formatting issues in README and AGENTS.md
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix: sync ecosystem-registry with upstream/main to resolve outdated registry files
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.150.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

chore: address mentor feedback on lint configs
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
Due: none

ci: gate scheduled workflow runs to upstream repo
  .github/workflows/codeql.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/scorecard.yml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.151.0/connector.yaml
  ecosystem-registry/collector/contrib/v0.151.0/exporter.yaml
  ecosystem-registry/collector/contrib/v0.151.0/extension.yaml
  ecosystem-registry/collector/contrib/v0.151.0/processor.yaml
  ecosystem-registry/collector/contrib/v0.151.0/receiver.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.151.0/connector.yaml
  ecosystem-registry/collector/core/v0.151.0/exporter.yaml
  ecosystem-registry/collector/core/v0.151.0/extension.yaml
  ecosystem-registry/collector/core/v0.151.0/processor.yaml
  ecosystem-registry/collector/core/v0.151.0/receiver.yaml
  ecosystem-registry/collector/core/v0.151.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.151.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.151.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.151.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.151.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/deprecations.yaml
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

feat(explorer): Use has_javaagent field for Java Agent support in Explorer
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-group-card.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.test.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/badge-info.test.ts
  ecosystem-explorer/src/features/java-agent/utils/badge-info.ts
  ecosystem-explorer/src/features/java-agent/utils/group-instrumentations.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

configuration-builder: address review comments
  ecosystem-explorer/src/components/ui/info-tooltip.test.tsx
  ecosystem-explorer/src/components/ui/info-tooltip.tsx
  ecosystem-explorer/src/components/ui/markdown-description.tsx
  ecosystem-explorer/src/components/ui/truncated-description.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/field-section.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/group-renderer.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

address mentor feedback on collector detail page
  ecosystem-explorer/scripts/take-collector-screenshots.mjs
  ecosystem-explorer/scripts/take-screenshots.mjs
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/types/collector.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
