Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

chore: update main screenshot baseline (23518e7)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (44eac59)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (22ad263)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

fix(v1): anchor rem base at 16px and size hero CTAs like upstream
  ecosystem-explorer/DESIGN_V1.md
  ecosystem-explorer/src/styles/base.css
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
  ecosystem-explorer/src/v1/styles/buttons.css
  ecosystem-explorer/src/v1/styles/cncf-callout.css
  ecosystem-explorer/src/v1/styles/cover-block.css
  ecosystem-explorer/src/v1/styles/detail.css
  ecosystem-explorer/src/v1/styles/footer.css
  ecosystem-explorer/src/v1/styles/list-page.css
  ecosystem-explorer/src/v1/styles/navbar.css
  ecosystem-explorer/src/v1/styles/sub-nav.css
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(v1): cover the Spanish switch and relative-date plurals on the home page
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.test.tsx
  ecosystem-explorer/src/v1/features/home/home-page.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat: translate StatusPill labels
  ecosystem-explorer/public/locales/en/common.json
  ecosystem-explorer/public/locales/es/common.json
  ecosystem-explorer/src/components/ui/status-pill.test.tsx
  ecosystem-explorer/src/components/ui/status-pill.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: scroll to top on route change
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/components/layout/scroll-to-top.test.tsx
  ecosystem-explorer/src/components/layout/scroll-to-top.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): weight .td-btn like upstream .btn
  ecosystem-explorer/src/v1/styles/buttons.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

feat(v1): size ecosystem landing hero CTAs like upstream
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.test.tsx
  ecosystem-explorer/src/v1/features/ecosystem/ecosystem-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): match navbar dropdowns to upstream Docsy chrome
  ecosystem-explorer/src/v1/components/icons/bs-icon-translate.tsx
  ecosystem-explorer/src/v1/components/icons/fa-icon-check.tsx
  ecosystem-explorer/src/v1/components/icons/fa-icon-globe.tsx
  ecosystem-explorer/src/v1/components/ui/language-toggle.test.tsx
  ecosystem-explorer/src/v1/components/ui/language-toggle.tsx
  ecosystem-explorer/src/v1/styles/language-toggle.css
  ecosystem-explorer/src/v1/styles/navbar.css
  ecosystem-explorer/src/v1/styles/theme-toggle.css
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): define td-btn--outline-dark
  ecosystem-explorer/src/v1/styles/buttons.css
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

fix(v1): size CNCF callout and footer icons like upstream
  ecosystem-explorer/src/v1/styles/cncf-callout.css
  ecosystem-explorer/src/v1/styles/footer.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

fix(v1): language trigger padding and dropdown offset like upstream
  ecosystem-explorer/src/v1/components/ui/language-toggle.tsx
  ecosystem-explorer/src/v1/components/ui/theme-toggle.tsx
  ecosystem-explorer/src/v1/styles/language-toggle.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(v1): translate page metadata on home and landings
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/en/home.json
  ecosystem-explorer/public/locales/en/java-agent.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/public/locales/es/home.json
  ecosystem-explorer/public/locales/es/java-agent.json
  ecosystem-explorer/src/lib/seo/locale-copy.test.ts
  ecosystem-explorer/src/v1/features/ecosystem/collector-landing.tsx
  ecosystem-explorer/src/v1/features/ecosystem/java-agent-landing.tsx
  ecosystem-explorer/src/v1/features/home/home-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): lay out signal cards as a 2x2 grid
  ecosystem-explorer/src/v1/styles/signals-row.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

feat(v1): label ecosystem and stability ids in search and activity
  ecosystem-explorer/public/locales/en/common.json
  ecosystem-explorer/public/locales/en/home.json
  ecosystem-explorer/public/locales/es/common.json
  ecosystem-explorer/public/locales/es/home.json
  ecosystem-explorer/src/v1/components/home/global-search.test.tsx
  ecosystem-explorer/src/v1/components/home/global-search.tsx
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.tsx
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): standardise type sizes on the Bootstrap scale
  ecosystem-explorer/DESIGN_V1.md
  ecosystem-explorer/src/v1/styles/cover-block.css
  ecosystem-explorer/src/v1/styles/detail.css
  ecosystem-explorer/src/v1/styles/ecosystems-grid.css
  ecosystem-explorer/src/v1/styles/facets.css
  ecosystem-explorer/src/v1/styles/global-search.css
  ecosystem-explorer/src/v1/styles/list-controls.css
  ecosystem-explorer/src/v1/styles/list-page.css
  ecosystem-explorer/src/v1/styles/list-views.css
  ecosystem-explorer/src/v1/styles/pipeline-anatomy.css
  ecosystem-explorer/src/v1/styles/quick-entry-row.css
  ecosystem-explorer/src/v1/styles/recent-activity-rail.css
  ecosystem-explorer/src/v1/styles/release-card.css
  ecosystem-explorer/src/v1/styles/signals-row.css
  ecosystem-explorer/src/v1/styles/stats-band.css
  ecosystem-explorer/src/v1/styles/tokens.css
  ecosystem-explorer/src/v1/styles/type-scale.test.ts
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs(84): record the rebase onto main after #932
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

Apply batched suggestions from code review
  ecosystem-explorer/src/v1/components/icons/fa-icon-check.tsx
  ecosystem-explorer/src/v1/components/icons/fa-icon-globe.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): keep display-name casing in the search meta line
  ecosystem-explorer/src/v1/styles/global-search.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

fix(v1): expose the active language as a checked menu item
  ecosystem-explorer/src/v1/components/icons/fa-icon-check.tsx
  ecosystem-explorer/src/v1/components/icons/fa-icon-globe.tsx
  ecosystem-explorer/src/v1/components/ui/language-toggle.test.tsx
  ecosystem-explorer/src/v1/components/ui/language-toggle.tsx
  ecosystem-explorer/src/v1/styles/language-toggle.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): fall back to the raw stability id in the activity rail
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.test.tsx
  ecosystem-explorer/src/v1/components/home/recent-activity-rail.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test: cover POP navigation and the font shorthand
  ecosystem-explorer/src/components/layout/scroll-to-top.test.tsx
  ecosystem-explorer/src/v1/styles/type-scale.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #1048
  1048/desktop-dark-detail-configuration.png
  1048/desktop-dark-detail-telemetry.png
  1048/desktop-dark-home.png
  1048/desktop-light-detail-configuration.png
  1048/desktop-light-home.png
  1048/mobile-dark-detail-configuration.png
  1048/mobile-dark-home.png
  1048/mobile-light-detail-telemetry.png
  1048/mobile-light-home.png
  1048/tablet-dark-detail-telemetry.png
  1048/tablet-dark-home.png
  1048/tablet-light-detail-configuration.png
  1048/tablet-light-detail-telemetry.png
  1048/tablet-light-home.png
Due: none

test(js-watcher): add coverage for main and repository manager
  ecosystem-automation/js-instrumentation-watcher/tests/test_main.py
  ecosystem-automation/js-instrumentation-watcher/tests/test_repository_manager.py
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.159.1-SNAPSHOT/component_readmes/adaptivetailsamplingprocessor-85dd883da6bd.md
  ecosystem-registry/collector/contrib/v0.159.1-SNAPSHOT/component_readmes/awscloudwatchreceiver-1cf5f014ae2d.md
  ecosystem-registry/collector/contrib/v0.159.1-SNAPSHOT/component_readmes/elasticsearchreceiver-2410ca03b7ea.md
  ecosystem-registry/collector/contrib/v0.159.1-SNAPSHOT/component_readmes/kafkametricsreceiver-846edecb7b6a.md
  ecosystem-registry/collector/contrib/v0.159.1-SNAPSHOT/component_readmes/mongodbreceiver-265b84a073e8.md
  ecosystem-registry/collector/contrib/v0.159.1-SNAPSHOT/receiver.yaml
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/aws-sdk-2.2-991a9ba88a69.md
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/library_readmes/oracle-ucp-11.2-4ebcdb3609e8.md
Due: none

chore: update main screenshot baseline (5baf461)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/desktop-light-instrumentation-list.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-collector-landing.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/java/javaagent/v2.31.2-SNAPSHOT/instrumentation.yaml
Due: none

Update registry inventory
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_cpp.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/faroexporter-5cbc0cbd7bc4.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/googlecloudspannerreceiver-a959903fcf00.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/k8sattributesprocessor-eaecb16bedfc.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/mysqlreceiver-9e77a5ed198d.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-5cf75c5fef81.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/rollingspanlatencyprocessor-4f68b862e4f5.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/metricstransformprocessor-b816a5d436ad.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/sqlserverreceiver-856c0031c8ac.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/component_readmes/tlscheckreceiver-4a247b27cd04.md
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.160.1-SNAPSHOT/receiver.yaml
Due: none

test(js-watcher): add coverage for instrumentation sync
  ecosystem-automation/js-instrumentation-watcher/tests/test_instrumentation_sync.py
Due: none
