Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

prettier-ecosystem-explorer:
  name: prettier (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-ecosystem-explorer:
  name: eslint (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-ecosystem-explorer:
  name: test (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typecheck-ecosystem-explorer:
  name: typecheck (ecosystem-explorer)
  entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: update main screenshot baseline (a28420f)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-details.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-dark-java-agent-landing.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-details.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/desktop-light-instrumentation-list.png
  main/desktop-light-java-agent-landing.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-details.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-instrumentation-list.png
  main/mobile-dark-java-agent-landing.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-details.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/mobile-light-java-agent-landing.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-details.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-dark-java-agent-landing.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-details.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
  main/tablet-light-java-agent-landing.png
Due: none

feat(java-agent): enhance loading state with skeleton UI for announcements
  ecosystem-explorer/src/features/java-agent/components/java-agent-announcements.test.tsx
  ecosystem-explorer/src/features/java-agent/components/java-agent-announcements.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(java-agent): update skeleton card rendering for announcements loading state
  ecosystem-explorer/src/features/java-agent/components/java-agent-announcements.test.tsx
  ecosystem-explorer/src/features/java-agent/components/java-agent-announcements.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(java-agent): add release comparison benchmark
  ecosystem-explorer/scripts/benchmarks/measure-release-comparison.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/kafkametricsreceiver-bed696a768cd.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.17.1-SNAPSHOT/instrumentation.yaml
Due: none

chore: update main screenshot baseline (1b431c2)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (a36c315)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (fc37ce5)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (d6ee660)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

fix(v1): limit the version rail to releases the component ships in
  ecosystem-explorer/src/hooks/use-collector-data.ts
  ecosystem-explorer/src/lib/api/collector-data.test.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #870
  870/desktop-dark-detail-configuration.png
  870/desktop-dark-detail-telemetry.png
  870/desktop-dark-home.png
  870/desktop-light-detail-configuration.png
  870/desktop-light-detail-telemetry.png
  870/desktop-light-home.png
  870/diffs/main/desktop-dark-detail-configuration.png
  870/diffs/main/desktop-dark-detail-telemetry.png
  870/diffs/main/desktop-light-detail-configuration.png
  870/diffs/main/desktop-light-detail-telemetry.png
  870/diffs/main/mobile-dark-collector-list-cards.png
  870/diffs/main/mobile-dark-detail-configuration.png
  870/diffs/main/tablet-dark-detail-configuration.png
  870/diffs/main/tablet-dark-detail-telemetry.png
  870/diffs/main/tablet-light-detail-configuration.png
  870/diffs/main/tablet-light-detail-telemetry.png
  870/mobile-dark-collector-list-cards.png
  870/mobile-dark-detail-configuration.png
  870/mobile-dark-home.png
  870/mobile-light-home.png
  870/tablet-dark-detail-configuration.png
  870/tablet-dark-detail-telemetry.png
  870/tablet-dark-home.png
  870/tablet-light-detail-configuration.png
  870/tablet-light-detail-telemetry.png
  870/tablet-light-home.png
Due: none

fix(v1): replace raw error text with designed empty states
  ecosystem-explorer/public/locales/en/detail.json
  ecosystem-explorer/public/locales/es/detail.json
  ecosystem-explorer/src/v1/features/detail/detail-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/detail-page.tsx
  ecosystem-explorer/src/v1/features/detail/diff-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/diff-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

i18n(v1): compose the diff heading with Trans
  ecosystem-explorer/public/locales/en/detail.json
  ecosystem-explorer/public/locales/es/detail.json
  ecosystem-explorer/src/v1/features/detail/diff-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/diff-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

a11y(v1): name the diff selects by their visible labels
  ecosystem-explorer/public/locales/en/detail.json
  ecosystem-explorer/public/locales/es/detail.json
  ecosystem-explorer/src/v1/components/detail/version-timeline.test.tsx
  ecosystem-explorer/src/v1/components/detail/version-timeline.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(v1): stop rendering the stability comparison key to users
  ecosystem-explorer/public/locales/en/detail.json
  ecosystem-explorer/public/locales/es/detail.json
  ecosystem-explorer/src/v1/features/detail/diff-page.test.tsx
  ecosystem-explorer/src/v1/features/detail/diff-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs(84): log the version-rail review round in the roadmap
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

docs: update screenshots for PR #870
  870/desktop-dark-detail-configuration.png
  870/desktop-dark-detail-telemetry.png
  870/desktop-dark-home.png
  870/desktop-light-detail-configuration.png
  870/desktop-light-detail-telemetry.png
  870/desktop-light-home.png
  870/diffs/main/desktop-dark-detail-configuration.png
  870/diffs/main/desktop-dark-detail-telemetry.png
  870/diffs/main/desktop-light-detail-configuration.png
  870/diffs/main/desktop-light-detail-telemetry.png
  870/diffs/main/mobile-dark-collector-list-cards.png
  870/diffs/main/mobile-dark-detail-configuration.png
  870/diffs/main/tablet-dark-detail-telemetry.png
  870/diffs/main/tablet-light-detail-configuration.png
  870/diffs/main/tablet-light-detail-telemetry.png
  870/mobile-dark-collector-list-cards.png
  870/mobile-dark-detail-configuration.png
  870/mobile-dark-home.png
  870/mobile-light-home.png
  870/tablet-dark-detail-telemetry.png
  870/tablet-dark-home.png
  870/tablet-light-detail-configuration.png
  870/tablet-light-detail-telemetry.png
  870/tablet-light-home.png
Due: none

feat(collector): add internal telemetry version comparison
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_transformer.py
  ecosystem-explorer/public/locales/en/collector.json
  ecosystem-explorer/public/locales/es/collector.json
  ecosystem-explorer/src/features/collector/collector-detail-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/components/collector-telemetry-tab.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/attribute-diff-list.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/diff-results-section.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/metric-diff-card.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/telemetry-comparison-section.test.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/telemetry-comparison-section.tsx
  ecosystem-explorer/src/features/collector/components/telemetry-comparison/version-selector-panel.tsx
  ecosystem-explorer/src/features/collector/hooks/use-telemetry-comparison.test.ts
  ecosystem-explorer/src/features/collector/hooks/use-telemetry-comparison.ts
  ecosystem-explorer/src/features/collector/utils/metric-type.test.ts
  ecosystem-explorer/src/features/collector/utils/metric-type.ts
  ecosystem-explorer/src/features/collector/utils/telemetry-diff.test.ts
  ecosystem-explorer/src/features/collector/utils/telemetry-diff.ts
  ecosystem-explorer/src/types/collector.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (d6d6e70)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-home.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

fix(collector): render backtick-wrapped description text as code
  ecosystem-explorer/src/features/collector/collector-detail-page.test.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (f0c80ec)
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/clickhouseexporter-b1ff1a03b44b.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/elasticsearchexporter-e1703c3840ca.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/prometheusremotewriteexporter-d3fd8b276dc0.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/redactionprocessor-3e85ac2d8f70.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/resourcedetectionprocessor-249c7434e8be.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/spanpruningprocessor-e0981e1fd3c7.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/udplogreceiver-4a5286ba32ce.md
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/component_readmes/queuebatchprocessor-7263c908a345.md
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/processor.yaml
Due: none

chore: update main screenshot baseline (7e24609)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-diff.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-diff.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-collector-detail.png
  main/mobile-dark-collector-diff.png
  main/mobile-dark-collector-list-cards.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-collector-detail.png
  main/mobile-light-collector-diff.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-collector-diff.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-collector-diff.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/elasticsearchexporter-b9d8470d303b.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/memcachedreceiver-50e036ce8389.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/spanpruningprocessor-a728b3ba3e04.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/syslogreceiver-c0126cbe41dd.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/tcplogreceiver-0469bc6e77d8.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/connector.yaml
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/core/v0.157.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/collector/meta/schemas/a0135ca939d9.yaml
Due: none

fix(collector-watcher): simplify metadata passthrough and add tests exclusion
  ecosystem-automation/collector-watcher/src/collector_watcher/metadata_parser.py
  ecosystem-automation/collector-watcher/tests/test_metadata_parser.py
Due: none

fix(collector-watcher): preserve unknown metadata.yaml fields
  ecosystem-automation/collector-watcher/src/collector_watcher/metadata_parser.py
  ecosystem-automation/collector-watcher/tests/test_metadata_parser.py
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/dnscheckreceiver-9e47ec833f6d.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/drainprocessor-c48b9f0eef30.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/dynamicsamplingprocessor-9111ca5e1120.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/component_readmes/netflowreceiver-2005e0167f01.md
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.157.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_python.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/tracer_provider.yaml
Due: none

fix(collector-watcher): dotted-path exclusions, deep sort, events normalization
  ecosystem-automation/collector-watcher/src/collector_watcher/metadata_parser.py
  ecosystem-automation/collector-watcher/tests/test_metadata_parser.py
Due: none

chore: update main screenshot baseline (57917f8)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-collector-landing.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-collector-landing.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-collector-detail.png
  main/mobile-dark-collector-landing.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-collector-detail.png
  main/mobile-light-collector-landing.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-collector-landing.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-collector-landing.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Scrub comments and redundent info from readme
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/readme_sanitizer.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_readme_sanitizer.py
Due: none

less verbose
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/readme_sanitizer.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_readme_sanitizer.py
Due: none

docs: add ecosystem-mapping guide skeleton (#416)
  docs/README.md
  docs/ecosystem-mapping-guide.md
Due: none

review comments
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/readme_sanitizer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
  ecosystem-automation/explorer-db-builder/tests/test_readme_sanitizer.py
Due: none

chore: update main screenshot baseline (ea696e3)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-collector-list-cards.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

Path conditions:
  prettier-ecosystem-explorer: any of: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
  eslint-ecosystem-explorer: any of: ^ecosystem-explorer/
  test-ecosystem-explorer: any of: ^ecosystem-explorer/
  typecheck-ecosystem-explorer: any of: ^ecosystem-explorer/.*\.(ts|tsx)$
