Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

fix: keep description required and avoid empty description rendering
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(preview-card): migrate inline copy to CopyButton
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(preview-card): always run validateAll on copy click
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(javaagent-data): correct isCustom flag and deduplicate allIds
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/extension.yaml
  ecosystem-registry/collector/contrib/v0.151.1-SNAPSHOT/processor.yaml
Due: none

feat(collector): add type descriptions and fix repository URL on detail page
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(preview-card): pass validateAll to CopyButton on click
  ecosystem-explorer/src/components/ui/copy-button.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: add mobile hamburger menu to header
  ecosystem-explorer/src/components/layout/header.test.tsx
  ecosystem-explorer/src/components/layout/header.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor: simplify repository URL and remove duplicate link per review
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed collector metadata schema versions
  .github/workflows/nightly-registry-update.yml
  ecosystem-automation/collector-watcher/src/collector_watcher/collector_sync.py
  ecosystem-automation/collector-watcher/src/collector_watcher/inventory_manager.py
  ecosystem-automation/collector-watcher/src/collector_watcher/metadata_parser.py
  ecosystem-automation/collector-watcher/src/collector_watcher/schema_copier.py
  ecosystem-automation/collector-watcher/tests/test_collector_sync.py
  ecosystem-automation/collector-watcher/tests/test_inventory.py
  ecosystem-automation/collector-watcher/tests/test_metadata_parser.py
  ecosystem-automation/collector-watcher/tests/test_schema_copier.py
Due: none

test(javaagent-data): add tests for overlap between library and custom maps
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(explorer): adapt integration tests to new chevron-row defaults
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-lists.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meter_provider.yaml
Due: none

refactor: drop repositoryUrl variable and inline GitHub link with correct org prefix
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(header): address Copilot review suggestions
  ecosystem-explorer/src/components/layout/header.test.tsx
  ecosystem-explorer/src/components/layout/header.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: include raw instrumentation name in search matching
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.test.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(markdown): reformat files to comply with proseWrap always rule
  .github/workflows/build-explorer-database.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly-registry-update.yml
  .github/workflows/scorecard.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/architecture-overview.md
  docs/content-addressed-storage.md
  docs/frontend-architecture.md
  docs/registry-structure.md
  docs/watchers-registry-consumers.md
  ecosystem-automation/AGENTS.md
  ecosystem-automation/README.md
  ecosystem-automation/collector-watcher/README.md
  ecosystem-automation/configuration-watcher/README.md
  ecosystem-automation/java-instrumentation-watcher/README.md
  ecosystem-explorer/AGENTS.md
  ecosystem-explorer/DESIGN.md
  ecosystem-explorer/README.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix(explorer): use numeric sort for coveredEntries version order
  ecosystem-explorer/src/lib/normalize-instrumentation.test.ts
  ecosystem-explorer/src/lib/normalize-instrumentation.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(explorer): ensure coveredEntries render in ascending numeric order
  ecosystem-explorer/src/features/java-agent/utils/group-instrumentations.test.ts
  ecosystem-explorer/src/features/java-agent/utils/group-instrumentations.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update roadmap; kick off PR 1
  projects/84-ui-ux-design/00-foundation-audit.md
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

fix(explorer): improve mobile responsiveness of java instrumentation detail pages
  ecosystem-explorer/src/features/java-agent/components/attribute-table.tsx
  ecosystem-explorer/src/features/java-agent/components/configuration-selector.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-configuration-tab.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(styles): split index.css into src/styles/ with modular partials
  ecosystem-explorer/src/index.css
  ecosystem-explorer/src/styles/base.css
  ecosystem-explorer/src/styles/index.css
  ecosystem-explorer/src/styles/syntax.css
  ecosystem-explorer/src/styles/tokens.css
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer

refactor(theme): replace inline-style injection with typed metadata in themes.ts
  ecosystem-explorer/src/themes.test.ts
  ecosystem-explorer/src/themes.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(theme): switch ThemeContext to mode/resolved API with persistence and auto mode
  ecosystem-explorer/src/theme-context.test.tsx
  ecosystem-explorer/src/theme-context.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(theme): add no-flash data-theme init script to index.html
  ecosystem-explorer/index.html
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat(ui): add ThemeToggle component
  ecosystem-explorer/src/components/ui/theme-toggle.test.tsx
  ecosystem-explorer/src/components/ui/theme-toggle.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(styles): update import path for index.css to use modular styles
  ecosystem-explorer/src/main.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update NEXT-STEPS.md
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: none

feat: enhance agent-readiness with automated schemas, hashed URLs, and edge routing
  docs/AGENT_READINESS.md
  ecosystem-explorer/bun.lock
  ecosystem-explorer/package.json
  ecosystem-explorer/public/robots.txt
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/public/sitemap.xml
  ecosystem-explorer/scripts/generate-agent-docs.mjs
  ecosystem-explorer/scripts/generate-schemas.mjs
  ecosystem-explorer/src/types/collector.ts
  ecosystem-explorer/src/types/javaagent.ts
  netlify.toml
  netlify/edge-functions/agent-negotiation.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: prepare for rebase
  .gitignore
  .markdownlint-cli2.yaml
  bun.lock
Due: none

feat: address mentor feedback and fix formatting
  ecosystem-explorer/package.json
  ecosystem-explorer/public/schemas/collector-component.schema.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/scripts/generate-schemas.mjs
  ecosystem-explorer/src/types/collector.ts
  netlify.toml
  netlify/edge-functions/agent-negotiation.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: resolve CI failures (formatting, markdown lint, and lockfile update)
  .markdownlint-cli2.yaml
  bun.lock
  docs/AGENT_READINESS.md
  ecosystem-explorer/bun.lock
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: normalize format scripts and sync lockfile
  ecosystem-explorer/package.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix(theme): fix stale resolved state in auto mode and move no-flash script to head
  ecosystem-explorer/index.html
  ecosystem-explorer/src/theme-context.test.tsx
  ecosystem-explorer/src/theme-context.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: resolve agent accessibility audit regressions (issue #322)
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/instrumentation_sync.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/java_instrumentation_client.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_java_instrumentation_client.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_readme_extractor.py
  ecosystem-automation/watcher-common/src/watcher_common/content_hashing.py
  ecosystem-explorer/index.html
  netlify.toml
  netlify/edge-functions/agent-negotiation.ts
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

fix(theme): migrate literal-hue usages to brand primitives after primary/secondary swap
  ecosystem-explorer/src/components/icons/compass.tsx
  ecosystem-explorer/src/components/icons/configuration-icon.tsx
  ecosystem-explorer/src/components/icons/java-icon.tsx
  ecosystem-explorer/src/components/icons/java-instrumentation-icon.tsx
  ecosystem-explorer/src/components/icons/otel-logo.tsx
  ecosystem-explorer/src/components/icons/pipeline-icon.tsx
  ecosystem-explorer/src/components/ui/detail-card.tsx
  ecosystem-explorer/src/components/ui/glow-badge.tsx
  ecosystem-explorer/src/components/ui/navigation-card.tsx
  ecosystem-explorer/src/components/ui/theme-toggle.tsx
  ecosystem-explorer/src/features/about/about-page.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
  ecosystem-explorer/src/features/home/components/explore-section.tsx
  ecosystem-explorer/src/features/home/components/hero-section.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
  ecosystem-explorer/src/features/java-agent/components/multi-instrumentation-group-card.tsx
  ecosystem-explorer/src/features/java-agent/components/sub-instrumentation-item.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-agent-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-release-comparison-page.tsx
  ecosystem-explorer/src/features/not-found/not-found-page.tsx
  ecosystem-explorer/src/styles/index.css
  ecosystem-explorer/src/styles/tokens.css
  ecosystem-explorer/src/theme-context.tsx
  ecosystem-explorer/src/themes.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(icons): revert OtelLogo colors
  ecosystem-explorer/src/components/icons/otel-logo.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

run prettier, fix formatting
  ecosystem-explorer/src/features/about/about-page.tsx
  projects/84-ui-ux-design/NEXT-STEPS.md
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: add Copilot code review instructions and align AGENTS.md
  .github/copilot-instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/python-watchers.instructions.md
  .github/instructions/registry.instructions.md
  .github/instructions/typescript-frontend.instructions.md
  AGENTS.md
  ecosystem-explorer/AGENTS.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer
