Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

Convert integration tests to unit test
  ecosystem-explorer/src/lib/api/database-structure.test.ts
  ecosystem-explorer/vitest.integration.config.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

more optimizations
  ecosystem-explorer/src/components/ui/status-pill.test.tsx
  ecosystem-explorer/src/lib/yaml-highlight.test.ts
  ecosystem-explorer/src/test/integration/database-structure.integration.test.ts
  ecosystem-explorer/src/test/setup.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix instrumentation YAML highlight behavior
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix clicking off menu closes
  ecosystem-explorer/src/components/layout/header.test.tsx
  ecosystem-explorer/src/components/layout/header.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (a649352)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Refactor layout and class names in configuration card
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (5f954fe)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-home.png
Due: none

Update YamlCodeBlock class for better text wrapping
  ecosystem-explorer/src/features/java-agent/components/configuration-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

undo config
  ecosystem-explorer/public/data/javaagent/global-configurations.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat: unify loading states across the application (#497)
  ecosystem-explorer/src/LegacyApp.tsx
  ecosystem-explorer/src/components/ui/loader.test.tsx
  ecosystem-explorer/src/components/ui/loader.tsx
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-comparison/telemetry-comparison-section.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-browser.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/features/java-agent/instrumentation-detail-page.tsx
  ecosystem-explorer/src/features/java-agent/java-configuration-list-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/v1/V1App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (be936a7)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

chore: update main screenshot baseline (32e6225)
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/dotnet/v1.15.4-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/library_readmes/oshi-bfd5c32a149f.md
Due: none

feat(config-builder): add Import YAML dialog for loading existing configurations
  ecosystem-explorer/src/features/java-agent/configuration/components/import-yaml-dialog.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/import-yaml-dialog.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: fix prettier formatting in import-yaml-dialog
  ecosystem-explorer/src/features/java-agent/configuration/components/import-yaml-dialog.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: add .prettierignore path in ecosystem-explorer/package.json
  ecosystem-explorer/package.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (949539d)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Refine mobile footer preview
  ecosystem-explorer/src/components/layout/footer.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix footer theme rendering
  ecosystem-explorer/src/components/layout/footer.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update contributing guide
  CONTRIBUTING.md
Due: none

clean up
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

clean up format checks
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed format check
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fixed format
  ecosystem-explorer/src/hooks/use-lazy-pagination.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
Due: none

chore: update main screenshot baseline (336fd3b)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-dark-instrumentation-list.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-home.png
  main/desktop-light-instrumentation-list.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-dark-instrumentation-list.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-home.png
  main/mobile-light-instrumentation-list.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-home.png
  main/tablet-dark-instrumentation-list.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
  main/tablet-light-instrumentation-list.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/exporter.yaml
  ecosystem-registry/dotnet/v1.15.4-SNAPSHOT/instrumentation.yaml
Due: none

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-collector-detail.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/mobile-dark-detail-configuration.png
  587/diffs/main/mobile-light-detail-configuration.png
  587/diffs/main/tablet-dark-detail-configuration.png
  587/diffs/main/tablet-light-detail-configuration.png
  587/diffs/main/tablet-light-detail-telemetry.png
  587/mobile-dark-detail-configuration.png
  587/mobile-dark-home.png
  587/mobile-light-detail-configuration.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-detail-telemetry.png
  587/tablet-light-home.png
Due: none

docs: update screenshots for PR #587
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-detail-telemetry.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/desktop-light-detail-telemetry.png
  587/diffs/main/mobile-dark-detail-configuration.png
  587/diffs/main/mobile-light-detail-telemetry.png
  587/diffs/main/tablet-dark-detail-configuration.png
  587/mobile-dark-detail-configuration.png
  587/mobile-dark-home.png
  587/mobile-light-detail-telemetry.png
  587/mobile-light-home.png
  587/tablet-dark-detail-configuration.png
  587/tablet-dark-home.png
  587/tablet-light-collector-detail.png
  587/tablet-light-home.png
Due: none

Potential fix for pull request finding
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): wire instrumentation tab YAML highlight
  ecosystem-explorer/src/features/java-agent/configuration/components/general-section-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/instrumentation-row.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/yaml-code-block.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-card-clicks.integration.test.tsx
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
  ecosystem-explorer/src/test/integration/helpers/open-instrumentation-tab.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (713abdd)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Generate javaagent global-configurations.json in the db-builder
  .github/workflows/build-explorer-database.yml
  ecosystem-automation/explorer-db-builder/README.md
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/configuration_aggregator.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_configuration_aggregator.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
  ecosystem-explorer/package.json
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/scripts/aggregate-configurations.mjs
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: update main screenshot baseline (36d9b03)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Automate JSON schema sync with the TypeScript types
  .github/workflows/build-and-test.yml
  .pre-commit-config.yaml
  docs/AGENT_READINESS.md
  ecosystem-explorer/package.json
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
Due: none

chore: update main screenshot baseline (dce7d17)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none
