Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

feat(ecosystem-explorer): add CLAUDE.md with reference to AGENTS.md
  ecosystem-explorer/CLAUDE.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

feat(ecosystem-automation): add CLAUDE.md with reference to AGENTS.md
  ecosystem-automation/CLAUDE.md
Due: none

fix markdown lint issues
  CLAUDE.md
  ecosystem-automation/CLAUDE.md
  ecosystem-explorer/CLAUDE.md
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

docs: update screenshots for PR #484
  484/desktop-dark-collector-detail.png
  484/desktop-dark-detail-configuration.png
  484/desktop-dark-detail-details.png
  484/desktop-dark-detail-telemetry.png
  484/desktop-dark-home.png
  484/desktop-light-collector-detail.png
  484/desktop-light-detail-configuration.png
  484/desktop-light-detail-details.png
  484/desktop-light-detail-telemetry.png
  484/desktop-light-home.png
  484/mobile-dark-collector-detail.png
  484/mobile-dark-detail-configuration.png
  484/mobile-dark-detail-details.png
  484/mobile-dark-detail-telemetry.png
  484/mobile-dark-home.png
  484/mobile-light-collector-detail.png
  484/mobile-light-detail-configuration.png
  484/mobile-light-detail-details.png
  484/mobile-light-detail-telemetry.png
  484/mobile-light-home.png
  484/tablet-dark-collector-detail.png
  484/tablet-dark-detail-configuration.png
  484/tablet-dark-detail-details.png
  484/tablet-dark-detail-telemetry.png
  484/tablet-dark-home.png
  484/tablet-light-collector-detail.png
  484/tablet-light-detail-configuration.png
  484/tablet-light-detail-details.png
  484/tablet-light-detail-telemetry.png
  484/tablet-light-home.png
Due: none

fixed issues of version as valid while versionsData is still loading
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(.net-watcher): correct versioning and filter deprecated packages
  ecosystem-automation/dotnet-instrumentation-watcher/src/dotnet_instrumentation_watcher/dotnet_client.py
  ecosystem-registry/dotnet/v1.15.3+SNAPSHOT/instrumentation.yaml
  ecosystem-registry/dotnet/v1.15.3/instrumentation.yaml
Due: none

docs: update screenshots for PR #474
  474/desktop-dark-collector-detail.png
  474/desktop-dark-collector-list.png
  474/desktop-dark-home.png
  474/desktop-light-collector-detail.png
  474/desktop-light-collector-list.png
  474/desktop-light-home.png
  474/mobile-dark-collector-detail.png
  474/mobile-dark-collector-list.png
  474/mobile-dark-detail-configuration.png
  474/mobile-dark-detail-telemetry.png
  474/mobile-dark-home.png
  474/mobile-light-collector-detail.png
  474/mobile-light-collector-list.png
  474/mobile-light-detail-configuration.png
  474/mobile-light-detail-telemetry.png
  474/mobile-light-home.png
  474/tablet-dark-collector-detail.png
  474/tablet-dark-collector-list.png
  474/tablet-dark-detail-telemetry.png
  474/tablet-dark-home.png
  474/tablet-light-collector-detail.png
  474/tablet-light-collector-list.png
  474/tablet-light-home.png
Due: none

fix(explorer): run aggregate-configurations in dev server
  ecosystem-explorer/package.json
  ecosystem-explorer/public/data/javaagent/global-configurations.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

chore: remove unused files, revert glow badge changes, and fix resulting typescript errors
  docs/dotnet-integration-roadmap.md
  ecosystem-explorer/src/components/ui/glow-badge.tsx
  ecosystem-explorer/src/components/ui/status-pill.test.tsx
  ecosystem-explorer/src/components/ui/status-pill.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-card.tsx
  ecosystem-registry/dotnet/v1.0.0/instrumentation.yaml
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(api): address copilot feedback on resilience and caching
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(filter-bar): add Clear all button when filters are active
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.test.tsx
  ecosystem-explorer/src/features/java-agent/components/instrumentation-filter-bar.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #484
  484/desktop-dark-collector-detail.png
  484/desktop-dark-home.png
  484/desktop-light-collector-detail.png
  484/desktop-light-detail-telemetry.png
  484/desktop-light-home.png
  484/mobile-dark-detail-configuration.png
  484/mobile-dark-detail-telemetry.png
  484/mobile-dark-home.png
  484/mobile-light-detail-configuration.png
  484/mobile-light-home.png
  484/tablet-dark-detail-configuration.png
  484/tablet-dark-home.png
  484/tablet-light-collector-detail.png
  484/tablet-light-detail-telemetry.png
  484/tablet-light-home.png
Due: none

fix: fix failing netlify build
  ecosystem-explorer/src/App.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(api): resolve 404s with retries, stale fallback, SPA 200 detection, and prune guard
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: fix misaligned JSX
  ecosystem-explorer/src/App.tsx
  ecosystem-explorer/src/features/collector/collector-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(api): resolve 404s with retries, stale fallback, SPA 200 detection, and prune guard
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: run Prettier format on API files
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(api): implement stale fallback, SPA 200 detection, and formatting
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(api): add _is_custom flag and apply manual formatting
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(api): force LF line endings to satisfy CI
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(api): remove encoding artifacts and renormalize LF line endings
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(ci): resolve TypeScript, copyright, and formatting failures
  ecosystem-explorer/public/data/configuration/defaults/sdk-configuration-defaults-1.0.0.json
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/idb-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/java/javaagent/v2.27.1-SNAPSHOT/instrumentation.yaml
Due: none

fix: match V1 entries via Go module path instead of naming convention
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/models.py
  ecosystem-automation/v1-registry-sync/src/v1_registry_sync/reader.py
  ecosystem-automation/v1-registry-sync/tests/test_reader.py
  ecosystem-automation/v1-registry-sync/tests/test_reporter.py
Due: none

refactor(api): coalesce lastAccessedAt updates and add SPA 200 fallback test
  ecosystem-explorer/src/lib/api/fetch-with-cache.test.ts
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(test): replace lazy-load heading assertion in App.test
  ecosystem-explorer/src/App.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(api): restore upstream pieces lost in the rebase
  ecosystem-explorer/public/data/configuration/defaults/sdk-configuration-defaults-1.0.0.json
  ecosystem-explorer/public/data/javaagent/global-configurations.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): stop spin button at exclusive bound
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

style: format number input control test
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/number-input-control.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

dropdown button added
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.test.tsx
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

format fix
  ecosystem-explorer/src/features/java-agent/components/telemetry-section.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(explorer): add Java agent version selector to Configuration Builder
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
  ecosystem-explorer/src/features/java-agent/configuration/configuration-builder-page.tsx
  ecosystem-explorer/src/hooks/use-latest-java-agent-version.test.ts
  ecosystem-explorer/src/hooks/use-latest-java-agent-version.ts
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

test(explorer): derive versions from data instead of hard-coding
  ecosystem-explorer/src/test/integration/configuration-builder-instrumentation-version.integration.test.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update registry inventory
  ecosystem-registry/collector/contrib/v0.152.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meter_provider.yaml
Due: none

feat(search): add header search button and overlay (minimal)
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
  ecosystem-explorer/src/hooks/useDebouncedValue.ts
  ecosystem-explorer/src/lib/search.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(search): satisfy lint and format checks
  ecosystem-explorer/src/components/layout/header.tsx
  ecosystem-explorer/src/components/ui/search-overlay.tsx
  ecosystem-explorer/src/hooks/useDebouncedValue.test.ts
  ecosystem-explorer/src/hooks/useDebouncedValue.ts
  ecosystem-explorer/src/lib/search.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): keep YAML preview sticky on scroll
  ecosystem-explorer/src/features/java-agent/configuration/components/preview-card.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer
