Repository open-telemetry/opentelemetry-ecosystem-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.16.0
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  - repo: local
    hooks:
      - id: pytest-collector-watcher
        name: pytest (collector-watcher)
        entry: bash -c 'cd ecosystem-automation/collector-watcher && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: prettier-ecosystem-explorer
        name: prettier (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run format'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/src/.*\.(ts|tsx|css|json)$
        stages: [pre-commit]

      - id: eslint-ecosystem-explorer
        name: eslint (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run lint'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: test-ecosystem-explorer
        name: test (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm test'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/
        stages: [pre-commit]

      - id: typecheck-ecosystem-explorer
        name: typecheck (ecosystem-explorer)
        entry: bash -c 'cd ecosystem-explorer && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ecosystem-explorer/.*\.(ts|tsx)$
        stages: [pre-commit]

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.0.1-SNAPSHOT/tracer_provider.yaml
  ecosystem-registry/java/javaagent/v2.28.2-SNAPSHOT/instrumentation.yaml
Due: none

Sync search query with URL parameters
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix(config-builder): scope duplicate-key clear to its own error
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.test.tsx
  ecosystem-explorer/src/features/java-agent/configuration/components/controls/key-value-map-control.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (45de406)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-home.png
Due: none

Add workflows for stale issues/prs
  .github/workflows/issue-management-feedback-label.yml
  .github/workflows/issue-management-stale-action.yml
Due: none

Zizmor findings
  .github/workflows/issue-management-feedback-label.yml
  .github/workflows/issue-management-stale-action.yml
Due: none

copilot review
  .github/workflows/issue-management-feedback-label.yml
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
Due: none

chore: update main screenshot baseline (b92f8e7)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-dev-components.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-dev-components.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-dev-components.png
  main/mobile-dark-home.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-dev-components.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-dev-components.png
  main/tablet-dark-home.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-dev-components.png
  main/tablet-light-home.png
Due: none

Update explorer database (all)
  ecosystem-explorer/public/data/collector/components/contrib-alertmanagerexporter/contrib-alertmanagerexporter-713e1e0b3057.json
  ecosystem-explorer/public/data/collector/components/contrib-alibabacloudlogserviceexporter/contrib-alibabacloudlogserviceexporter-47e87cfcaa38.json
  ecosystem-explorer/public/data/collector/components/contrib-awscloudwatchreceiver/contrib-awscloudwatchreceiver-357c4d6c4df2.json
  ecosystem-explorer/public/data/collector/components/contrib-awslogsencodingextension/contrib-awslogsencodingextension-cc49a967aabc.json
  ecosystem-explorer/public/data/collector/components/contrib-cardinalityguardianprocessor/contrib-cardinalityguardianprocessor-af4a524d8b0a.json
  ecosystem-explorer/public/data/collector/components/contrib-drainprocessor/contrib-drainprocessor-fd40f7798387.json
  ecosystem-explorer/public/data/collector/components/contrib-fileexporter/contrib-fileexporter-ba72f5adc398.json
  ecosystem-explorer/public/data/collector/components/contrib-genainormalizerprocessor/contrib-genainormalizerprocessor-9fbb06dd185b.json
  ecosystem-explorer/public/data/collector/components/contrib-honeycombmarkerexporter/contrib-honeycombmarkerexporter-14195cde14f1.json
  ecosystem-explorer/public/data/collector/components/contrib-httpcheckreceiver/contrib-httpcheckreceiver-9f92518bd346.json
  ecosystem-explorer/public/data/collector/components/contrib-isolationforestprocessor/contrib-isolationforestprocessor-191d16809bb5.json
  ecosystem-explorer/public/data/collector/components/contrib-k8sattributesprocessor/contrib-k8sattributesprocessor-5285ad0fec7a.json
  ecosystem-explorer/public/data/collector/components/contrib-kafkatopicsobserver/contrib-kafkatopicsobserver-170024d24775.json
  ecosystem-explorer/public/data/collector/components/contrib-kubeletstatsreceiver/contrib-kubeletstatsreceiver-b85b66e473af.json
  ecosystem-explorer/public/data/collector/components/contrib-kubeletstatsreceiver/contrib-kubeletstatsreceiver-b8b03a80da5e.json
  ecosystem-explorer/public/data/collector/components/contrib-mcp/contrib-mcp-ed45d9784b5c.json
  ecosystem-explorer/public/data/collector/components/contrib-mysqlreceiver/contrib-mysqlreceiver-c1f423b7355f.json
  ecosystem-explorer/public/data/collector/components/contrib-oracledbreceiver/contrib-oracledbreceiver-c50242e74ab0.json
  ecosystem-explorer/public/data/collector/components/contrib-schemaprocessor/contrib-schemaprocessor-a03fd8472860.json
  ecosystem-explorer/public/data/collector/components/contrib-sqlserverreceiver/contrib-sqlserverreceiver-ac2f2429c47c.json
  ecosystem-explorer/public/data/collector/components/contrib-windowsservicereceiver/contrib-windowsservicereceiver-27c9168ac819.json
  ecosystem-explorer/public/data/collector/index.json
  ecosystem-explorer/public/data/collector/versions-index.json
  ecosystem-explorer/public/data/collector/versions/0.152.0-index.json
  ecosystem-explorer/public/data/collector/versions/0.152.1-index.json
  ecosystem-explorer/public/data/collector/versions/0.153.0-index.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(db-builder): decouple InventoryManager from java-instrumentation-watcher internals (#637)
  ecosystem-automation/explorer-db-builder/pyproject.toml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/java-instrumentation-watcher/src/java_instrumentation_watcher/inventory_manager.py
  ecosystem-automation/java-instrumentation-watcher/tests/test_inventory_manager.py
  ecosystem-automation/watcher-common/pyproject.toml
  ecosystem-automation/watcher-common/src/watcher_common/inventory_manager.py
  uv.lock
Due: none

Extend renovate and ungroup deps
  .github/renovate.json5
Due: none

Add peer service config override
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/declarative_name_corrections.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_declarative_name_corrections.py
Due: none

Add peer service config override for java instrumentation (#644)
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/declarative_name_corrections.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_declarative_name_corrections.py
Due: none

Use indexes for better list page loads
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_builder.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/collector_database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/database_writer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_builder.py
  ecosystem-automation/explorer-db-builder/tests/test_collector_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_main.py
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/features/collector/collector-components-page.tsx
  ecosystem-explorer/src/features/java-agent/java-instrumentation-list-page.tsx
  ecosystem-explorer/src/features/java-agent/utils/badge-info.ts
  ecosystem-explorer/src/hooks/use-collector-data.ts
  ecosystem-explorer/src/lib/api/collector-data.test.ts
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
  ecosystem-explorer/src/test/integration/database-structure.integration.test.ts
  ecosystem-explorer/src/types/collector.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: update main screenshot baseline (817deb2)
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-detail-telemetry.png
  main/mobile-dark-home.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-detail-configuration.png
  main/tablet-dark-detail-telemetry.png
  main/tablet-dark-home.png
  main/tablet-light-detail-configuration.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

fix: Added validation of fresh API responses to prevent malformed data caching and crashes
  ecosystem-explorer/src/lib/api/collector-data.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
  ecosystem-explorer/src/lib/api/fetch-with-cache.ts
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

chore: fixed formatting configuration-data.ts
  ecosystem-explorer/src/lib/api/configuration-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

include fields for the config builder
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/instrumentation_transformer.py
  ecosystem-automation/explorer-db-builder/tests/test_instrumentation_transformer.py
Due: none

Update explorer database (all)
  ecosystem-explorer/public/data/collector/bundles/0.150.0-8b8daec511ec.json
  ecosystem-explorer/public/data/collector/bundles/0.151.0-991ef6898a46.json
  ecosystem-explorer/public/data/collector/bundles/0.152.0-2b97a7129615.json
  ecosystem-explorer/public/data/collector/bundles/0.152.1-8a6622571096.json
  ecosystem-explorer/public/data/collector/bundles/0.153.0-f0d54a7ee5cc.json
  ecosystem-explorer/public/data/collector/versions-index.json
  ecosystem-explorer/public/data/javaagent/bundles/2.26.1-af81abde8656.json
  ecosystem-explorer/public/data/javaagent/bundles/2.27.0-a42cf0676345.json
  ecosystem-explorer/public/data/javaagent/bundles/2.28.0-0f428a6a7ab0.json
  ecosystem-explorer/public/data/javaagent/bundles/2.28.1-0f428a6a7ab0.json
  ecosystem-explorer/public/data/javaagent/versions-index.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix test
  ecosystem-explorer/src/test/integration/database-structure.integration.test.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

feat(semconv): address reviewer feedback and optimize weaver compliance check to single-shot batching
  .markdownlint-cli2.yaml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/semconv_enricher.py
  ecosystem-automation/explorer-db-builder/tests/test_semconv_enricher.py
Due: none

feat(semconv): clean weaver integration and exclude generated db changes
  .markdownlint-cli2.yaml
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/semconv_enricher.py
  ecosystem-automation/explorer-db-builder/tests/test_database_writer.py
  ecosystem-automation/explorer-db-builder/tests/test_semconv_enricher.py
  ecosystem-explorer/public/schemas/javaagent-instrumentation.schema.json
  ecosystem-explorer/src/lib/api/javaagent-data.test.ts
  ecosystem-explorer/src/types/javaagent.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Decouple explorer-db-builder from java-instrumentation-watcher and add comment
  ecosystem-automation/explorer-db-builder/src/explorer_db_builder/main.py
Due: none

fix: updated the validator with a different check
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

fix: Reverted back to the simple validator for GlobalConfigurations
  ecosystem-explorer/src/lib/api/javaagent-data.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Update stability definitions to match official docs
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

Fix Loader imports to pass linting
  ecosystem-explorer/src/features/collector/collector-detail-page.tsx
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

refactor(v1): key home stats by stable id, not display label
  ecosystem-explorer/src/v1/components/home/global-search.test.tsx
  ecosystem-explorer/src/v1/components/home/stats-band.tsx
  ecosystem-explorer/src/v1/lib/home-stats.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer

docs: update screenshots for PR #587
  587/desktop-dark-collector-detail.png
  587/desktop-dark-detail-configuration.png
  587/desktop-dark-detail-telemetry.png
  587/desktop-dark-home.png
  587/desktop-light-detail-configuration.png
  587/desktop-light-detail-telemetry.png
  587/desktop-light-home.png
  587/diffs/main/desktop-dark-detail-configuration.png
  587/diffs/main/desktop-dark-detail-telemetry.png
  587/diffs/main/desktop-light-detail-configuration.png
  587/diffs/main/desktop-light-detail-telemetry.png
  587/diffs/main/mobile-dark-detail-telemetry.png
  587/diffs/main/tablet-light-detail-configuration.png
  587/mobile-dark-detail-telemetry.png
  587/mobile-dark-home.png
  587/mobile-light-home.png
  587/tablet-dark-collector-detail.png
  587/tablet-dark-home.png
  587/tablet-light-detail-configuration.png
  587/tablet-light-home.png
Due: none

chore: update main screenshot baseline (ad8d1d4)
  main/desktop-dark-collector-detail.png
  main/desktop-dark-detail-configuration.png
  main/desktop-dark-detail-telemetry.png
  main/desktop-dark-home.png
  main/desktop-light-collector-detail.png
  main/desktop-light-detail-configuration.png
  main/desktop-light-detail-telemetry.png
  main/desktop-light-home.png
  main/mobile-dark-collector-detail.png
  main/mobile-dark-detail-configuration.png
  main/mobile-dark-home.png
  main/mobile-light-collector-detail.png
  main/mobile-light-detail-configuration.png
  main/mobile-light-detail-telemetry.png
  main/mobile-light-home.png
  main/tablet-dark-collector-detail.png
  main/tablet-dark-home.png
  main/tablet-light-collector-detail.png
  main/tablet-light-detail-telemetry.png
  main/tablet-light-home.png
Due: none

Update registry inventory
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/processor.yaml
  ecosystem-registry/collector/contrib/v0.153.1-SNAPSHOT/receiver.yaml
  ecosystem-registry/configuration/v1.1.0/common.yaml
  ecosystem-registry/configuration/v1.1.0/instrumentation.yaml
  ecosystem-registry/configuration/v1.1.0/logger_provider.yaml
  ecosystem-registry/configuration/v1.1.0/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.1.0/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.1.0/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.1.0/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.1.0/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.1.0/meter_provider.yaml
  ecosystem-registry/configuration/v1.1.0/opentelemetry_configuration.yaml
  ecosystem-registry/configuration/v1.1.0/propagator.yaml
  ecosystem-registry/configuration/v1.1.0/resource.yaml
  ecosystem-registry/configuration/v1.1.0/tracer_provider.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/common.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/instrumentation.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/logger_provider.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_cpp.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_go.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_java.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_js.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meta_schema_language_php.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/meter_provider.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/opentelemetry_configuration.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/propagator.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/resource.yaml
  ecosystem-registry/configuration/v1.1.1-SNAPSHOT/tracer_provider.yaml
Due: none

Add sdk configuration defaults for schema 1.1.0
  ecosystem-explorer/public/data/configuration/defaults/sdk-configuration-defaults-1.1.0.json
Due: eslint-ecosystem-explorer, test-ecosystem-explorer

Update explorer database (configuration)
  ecosystem-explorer/public/data/configuration/versions-index.json
  ecosystem-explorer/public/data/configuration/versions/1.1.0.json
  ecosystem-explorer/src/lib/api/idb-cache.ts
Due: prettier-ecosystem-explorer, eslint-ecosystem-explorer, test-ecosystem-explorer, typecheck-ecosystem-explorer
